<!--noindex-->
<script type="text/javascript">
    var overid = 0;

    function gettitle(lid) {
        if (lid != overid) return;
        var obj = $('#' + lid + ' ins.name');

        $.ajax({
            url:'index.php?p=itemtitle&itemid=' + obj.attr('pid'),
            success:function (data) {
                obj.html(data);
                obj.parent().attr('title', data);
                obj.closest('li').find('.pic').attr('title', data);
            },
            error:function (jqXHR, textStatus, errorThrown) {
                obj.html('');
            }
        });
    }

    $(function () {

        $('.product').mouseover(function () {
            if (overid != $(this).attr('id')) {
                overid = $(this).attr('id');
                setTimeout('gettitle("' + overid + '")', 1000);
            }
        });
        $('.product').mouseout(function () {
            overid = 0;
        });
    });
</script>
<!--/noindex-->

<!-- .main -->
<div class="main">
<div class="wrap clrfix">
<div class="bproduct">
<h2 class="mb25"><span><?=Lang::get('founded_goods')?></span></h2>

<div class="fll col240">
    <div class="bgr-block mb20">

	<form method="get" id="filterform" action="<?=current(explode('?', $_SERVER['REQUEST_URI']))?>">
		<input type="hidden" name="mcid" value="<?= $_GET['mcid'] ?>"/>
		<input type="hidden" name="p" value="<?= @$_GET['p'] ?>"/>

		<? if (isset($_GET['per_page'])) : ?>
		<input type="hidden" name="per_page" value="<?= @$_GET['per_page'] ?>"/>
		<? endif; ?>

		<div class="titlecat"><?=Lang::get('filters')?></div>
		<div class="filter-price opened">
            <div class="filter-subtitle ftitle" onclick="OpenFilter(this, event)" data-type-open="i-open-filter" data-type-close="i-close-filter"><i class="i-new i-open-filter i additem"></i><?=Lang::get('search_conditions')?></div>
            <div class="filter-price_content fbody">
                <div class="subtitle"><?=Lang::get('price_simple')?></div>
                <table class="cost-range-table">
                    <tr>
                        <td class="item"><input type="text" name="cost[from]" class="w70 form-field" value="<?=@$_GET['cost']['from']?>"></td>
                        <td class="item"><?=$currency?> —</td>
                        <td class="item"><input type="text" name="cost[to]" class="w70 form-field" value="<?=@$_GET['cost']['to']?>"></td>
                        <td class="item"><?=$currency?></td>
                    </tr>
                </table>
                <div class="fbut">
                    <input type="button" value="<?=Lang::get('select')?>" class="btn-small button js-form-send vertical-middle" />
                    <a href="<?=$_SERVER['REQUEST_URI'].'&amp;clear'?>" class="dotted vertical-middle"><span><?=Lang::get('reset')?></span></a>
                </div>
            </div>
		</div>
	</form>

    </div>
</div>

<div class="flr col690 bproduct">

	<?php if (!empty($category['description'])) : ?>
    <h2 class="mb25"><span>Описание категории</span></h2>
    <div class="wrap clrfix" style="margin-bottom: 10px; width: 690px">
        <?=$category['description'];?>
    </div>
	<?php endif; ?>
    <div class="bgr-panel mb20">

        <ul class="tableList">
            <li><?=Lang::get('items_rus')?>: <b><?=$totalcount?></b></li>
            <li><?=Lang::get('shown')?>: <?=Lang::get('from')?> <b><?=($from + 1)?></b> <?=Lang::get('to')?>
                <b><? if ($from + $perpage < $count) print $from + $perpage; else print $count; ?></b> <?=Lang::get('from2')?>
                <b><?=$count?></b></li>
            <li style="width:50%">&nbsp;</li>
            <li>
                <form method="post" id="per_page">
                    <?=Lang::get('output_to')?>
                    <select name="per_page" onchange="document.getElementById('per_page').submit();">
                        <option value="16" <?if ($perpage == '16') { ?>selected<? }?>>16</option>
                        <option value="64" <?if ($perpage == '64') { ?>selected<? }?>>64</option>
                        <option value="128" <?if ($perpage == '128') { ?>selected<? }?>>128</option>
                    </select>
                </form>
            </li>
        </ul>
    </div>

    <? if (!empty($itemlist)) { ?>
    <ul class="lproduct flin w700 w160li clrfix">

        <? $url = 'index.php?p=myitem&'; ?>
        <? foreach ($itemlist as $idx => $item) :
			$file_parts = explode('.', $item['image']);
			$ext = end($file_parts);
			$image = str_replace('.' . $ext, '_160x160.' . $ext, $item['image']);
		?>
        <li class="product" id="product<?=$idx?>" title="<?= $item['name'] ?>">
            <a class="pic" href="<?=$url?>id=<?=$item['id']?>" title="<?=$item['description']?>">
                <i><img src="<?=$image?>"></i>
                <ins></ins>
            </a>

            <div class="price" name="price_tmp21">
                <div class="line"></div>
                <a href="<?=$url?>id=<?=$item['id']?>" title="<?=$item['price']?>">
					<span><?=$item['price']?> <?= $currency;?></span>
				</a>

                <a href="<?=$url?>id=<?=$item['id']?>" title="<?=$item['description']?>">
                    <ins class="name" pid="<?=$item['id']?>"><?=$item['description']?></ins>
                    <span class="glow"></span>
				</a>
            </div>
        </li>

        <?php if ($idx % 4 == 3) : ?>
            <div style="clear: both; background-color:green;"></div>
        <? endif; ?>
        <? endforeach; ?>
    </ul>
    <? } else { ?>
    <h2><?=Lang::get('nothing_found')?></h2>
    <? } ?>

    <div>
        <? $page_count_print = (isset(General::$siteConf['pager_count_print'])) ? General::$siteConf['pager_count_print'] : '2'; ?>
        <? $curpage = floor($from / $perpage) + 1 ?>
        <? $maxpage = ceil($count / $perpage) ?>
        <? if ($curpage != 1) {?>
        <a href="<?=$pageurl?>&from=<?=$from - $perpage?>&tmall=<?=$tmall?>"
           class="btn btn-apper b-first-page"><span><?=Lang::get('prev_page')?></span></a>
        <? } ?>

        <ul class="b-list-page">
            <? if ($curpage > ($page_count_print + 1)) { ?>
            <li class="b-item"><a href="<?=$pageurl?>&from=0&tmall=<?=$tmall?>" class="i-link">1</a></li>
            <? } ?>
            <? if ($curpage > ($page_count_print + 2)) { ?>
            <li class="b-item">...</li>
            <? } ?>
            <? for ($i = max(1, $curpage - $page_count_print); $i <= min($maxpage, $curpage + $page_count_print); $i++) { ?>
            <? if ($curpage == $i) { ?>
                <li class="b-item active"><a href="<?=$pageurl?>&from=<?=(($i - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$i?></a>
                </li>
                <? } else { ?>
                <li class="b-item"><a href="<?=$pageurl?>&from=<?=(($i - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$i?></a></li>
                <? } ?>
            <? } ?>
            <? if ($curpage < $maxpage - ($page_count_print + 1)) { ?>
            <li class="b-item">...</li>
            <? } ?>
            <? if ($curpage < $maxpage - $page_count_print) { ?>
            <li class="b-item"><a href="<?=$pageurl?>&from=<?=(($maxpage - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$maxpage?></a></li>
            <? } ?>
        </ul>

        <? if ($maxpage > 1 && !($curpage >= $maxpage)) { ?>
        <a href="<?=$pageurl?>&from=<?=$from + $perpage?>&tmall=<?=$tmall?>"
           class="btn btn-apper b-last-page"><span><?=Lang::get('next_page')?></span></a>
        <? } elseif ($curpage > $maxpage) { ?>
        <? } ?>
    </div>

</div>
</div>
</div>
</div>
<!-- /.main -->
