<style type="text/css">
.w160li li {
    margin: 0 0 18px 13px;
    width: 220px;
}
.w160i li:hover {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.w160li .pic {
    height: 220px;
}
.w160li .pic i {
    display: block;
    height: 220px;
    position: relative;
    width: 215px;
}
.w160li .pic i .discount {
    background: url("/skidka_red.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: "Trebuchet MS","Helvetica CY",sans-serif;
    font-size: 25px;
    height: 53px;
    padding-top: 20px;
    position: absolute;
    right: -13px;
    text-shadow: 1px 1px 1px #750C91;
    top: -3px;
    width: 65px;
    z-index: 2;
}
.w160li .pic ins {
    display: none;
}
.wrapper_sale_item {
    font-weight: bold;
    height: 14px;
    left: 90px;
    top: 197px;
}
.wrapper_sale_item .old_price {
    font-size: 15px;
    position: relative;
    top: -3px;
}
.wrap.clrfix h1 {
    margin-bottom: 2px;
    margin-top: -17px;
}
</style>
<script type="text/javascript">
    var overid = 0;

    function gettitle(lid) {
        if (lid != overid) return;
        var obj = $('#' + lid + ' ins.name');

        $.ajax({
            url: 'index.php?p=itemtitle&itemid=' + obj.attr('pid'),
            success: function (data) {
                obj.html(data);
                obj.parent().attr('title', data);
                obj.closest('li').find('.pic').attr('title', data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                obj.html('');
            }
        });
    }

    $(function () {

        $('.product').mouseover(function () {
            if (overid != $(this).attr('id')) {
                overid = $(this).attr('id');
                setTimeout('gettitle("' + overid + '")', 1000);
            }
        });
        $('.product').mouseout(function () {
            overid = 0;
        });
    });
</script>

<script type="text/javascript">
	$(document).ready(
		function(){
			$(".w160li li").hover(
				function(){
					$(this).css('box-shadow','7px 2px 5px 0 rgba(0, 0, 0, 0.50)');
				},
				function(){
					$(this).css('box-shadow','none');
				}
			);
		}
	);
</script>

<div class="main">
    <div class="wrap clrfix">
        <div class="bproduct">
            <h2 class="mb25"><span><?=Lang::get('with_reviews')?></span></h2>
            <div class="fll col240">
                <!--div class="bgr-block mb20" id="active-search-prop">
                    <div class="titlecat"><?=Lang::get('active_cond')?></div>
                    <ul class="listitem" id="clear-filter">                    
                        <li class="item dropterms">
                            <a href="<?=$_SERVER['REQUEST_URI']?><?=in_array('Seo2', General::$enabledFeatures) ? '?clear' : '&clear'?>"  class="btn-small btn-delete"><span><?=Lang::get('reset_cond')?></span></a>
                        </li>
                    </ul>
                </div--->
                <? if(is_array(@$subcats)){ ?>
                <div class="bgr-block mb20">
                    <div class="titlecat"><?=Lang::get('prods_by_cats')?></div>
                    <ul class="listitem">
                        <li class="item">
                            <a class="<?=($cid==false?'active':'')?>" href="index.php?p=reviews">
                                <?=Lang::get('all_categories')?>
                            </a>
                        </li>
                        <?
                            if($_GET['p']=='reviews'){

                            $cid = RequestWrapper::getValueSafe('cid');
                            $hasHidden = false;
                            foreach($subcats as $k=>$cat) { ?>
                        <? if($k>=10){$classLink = ' class=" item left-category-hidden"';}
                        if ($cat['ishidden'] == 'false') { ?>
                        <li <?=$classLink?>>
                            <a class="<?=($cat['id'] == $cid ?'active':'')?> i-link" href="<?=@UrlGenerator::generateReviewsUrl(array('cid'=>'cid='.$cat['id']))?>"><?=$cat['name']?></a>
                        </li>
                        <? } } ?>
                        <? if($k>10){ ?>
                        <li class="item last">
                            <a href="#" class="dotted" onclick="$('.left-category-hidden').show(); $(this).remove();return false;">
                                <i class="i-new i-arrow-down i arrowdown"></i><span><?=Lang::get('other_cats')?></span>
                            </a>
                        </li>
                        <? } }?>
                    </ul>
                </div>
                <? } ?>
            </div>

            <div class="flr col690 bproduct">
                <? if(@$GLOBALS['brandinfo']){ ?>
                <h2><span>Описание бренда</span></h2>

                <div class="wrap clrfix" style="margin-bottom: 10px; width: 690px">
                    <img src="<?=$GLOBALS['brandinfo']['PictureUrl']?>" style="float:left; margin: 0 10px 10px 0"/>
                    <?=$GLOBALS['brandinfo']['Description']?>
                </div>
                <? } ?>
                <div class="bgr-panel mb20">

                    <ul class="tableList">
                        <li><?=Lang::get('items_rus')?>: <b><?=$totalcount?></b></li>
                        <li><?=Lang::get('shown')?>: <?=Lang::get('from')?> <b><?=($from+1)?></b> <?=Lang::get('to')?>
                            <b><? if($from+$perpage<$count) print $from+$perpage; else print $count; ?></b> <?=Lang::get('from2')?>
                            <b><?=$count?></b></li>
                        <!--<li>-->
                        <!--<form method="post" id="sort_form">-->
                        <!--<?=Lang::get('sort_by')?>-->
                        <!--<select name="sort_by" onchange="document.getElementById('sort_form').submit();">-->
                        <!--<option value="popularity:desc" <?if ($_GET['sort_by'] == 'popularity:desc'){?>selected<?}?>><?=Lang::get('popularity')?></option>-->
                        <!--<option value="price:desc" <?if ($_GET['sort_by'] == 'price:desc'){?>selected<?}?>><?=Lang::get('price_desc')?></option>-->
                        <!--<option value="price:asc" <?if ($_GET['sort_by'] == 'price:asc'){?>selected<?}?>><?=Lang::get('price_asc')?></option>-->
                        <!--<option value="vendorRating:desc" <?if ($_GET['sort_by'] == 'vendorRating:desc'){?>selected<?}?>><?=Lang::get('vendor_rating')?></option>-->
                        <!--<option value="volume:desc" <?if ($_GET['sort_by'] == 'volume:desc'){?>selected<?}?>><?=Lang::get('sales_volume')?></option>-->
                        <!--</select>-->
                        <!--</form>-->

                        <!--</li>-->
                        <li>
                            <form method="post" id="per_page">
                                <?=Lang::get('output_to')?>
                                <select name="per_page" onchange="document.getElementById('per_page').submit();">
                                    <option value="16"
                                    <?if ($perpage == '16'){?>selected<?}?>>16</option>
                                    <option value="64"
                                    <?if ($perpage == '64'){?>selected<?}?>>64</option>
                                    <option value="128"
                                    <?if ($perpage == '128'){?>selected<?}?>>128</option>
                                </select>
                            </form>
                        </li>
                    </ul>

                </div>

                <? if (!empty($itemlist)) { ?>
                <!-- .product -->
                <pre style="display:none">
                	<? print_r($itemlist); ?>
                </pre>
                <ul class="lproduct flin w700 w160li clrfix">

                    <? if(in_array('Seo2', General::$enabledFeatures)){
                                                $url = 'item?';
                                             } else {
                                                $url = 'index.php?p=item&';
                                             } ?>
                    <? if (!empty($itemlist)) foreach($itemlist as $idx=>$item) { ?>
                    <li class="product" id="product<?=$idx?>" title="<?= $item['title'] ?>">
                        <a class="pic" href="<?=$url?>id=<?=$item['id']?>" title="<?=$item['VendorName']?>">
                            <i>
                            	<img src="<?= ProductsHelper::getImage($item, 220) ?>">
                                <? if ((count($item['PromotionPrice'])>0) and (!General::getConfigValue('hide_discont_lists'))) { 
                                    $old_price = $item['Price']['ConvertedPriceList'][0]['Val'];
                                    $new_price = $item['PromotionPrice'][0]['Val'];
                                    $discount = floor((($old_price - $new_price)/$old_price)*100);
                                    
                                    if ($discount){
                                ?>
                                    <div class="discount">
                                        -<? echo $discount; ?>%
                                    </div>
                                <? 	}
                                 } ?>
                            </i>
                            <ins></ins>
                        </a>

                        <div class="price" name="price_tmp23">
                            <div class="line"></div>
                            <a href="<?=$url?>id=<?=$item['id']?>" title="<?=General::getCurrencyPrice($item)?>">
                            	<? if ((count($item['PromotionPrice'])>0) and (!General::getConfigValue('hide_discont_lists'))) { ?>
                                    <span><?=General::getCurrencyPromoPrice($item)?></span>
                                <? }else{ ?>
                                    <span><?=General::getCurrencyPrice($item)?></span>
                                <? } ?>
                            </a>
                            
<? /* ?>
                            <? if($item['vendorscore']<8){ ?>
                            <a href="<?=$url?>id=<?=$item['id']?>"><b class="green" title="<?=$item['vendorscore']?>"><i class="i price_icon"></i><?=$item['vendorscore']?></b></a>
                            <? }  elseif($item['vendorscore']<15){ ?>
                            <a href="<?=$url?>id=<?=$item['id']?>"><b class="yellow" title="<?=$item['vendorscore']?>"><i class="i price_icon"></i><?=$item['vendorscore']?></b></a>
                            <? }  else{ ?>
                            <a href="<?=$url?>id=<?=$item['id']?>"><b class="red" title="<?=$item['vendorscore']?>"><i class="i price_icon"></i><?=$item['vendorscore']?></b></a>
                            <? } ?>
<? */ ?>

<? /* ?>                            
                            <a href="<?=$url?>id=<?=$item['id']?>" title="<?=$item['VendorName']?>">
                            	<ins class="name" pid="<?=$item['id']?>"><?=$item['VendorName']?></ins>
                            	<span class="glow"></span>
                            </a>
<? */ ?>                            
                        </div>
                        <?
                        if( !defined('NO_DEBUG') ){
                            print implode(', ', $item['Features']);
                        }
                        ?>
                    <? if ((count($item['PromotionPrice'])>0) and (!General::getConfigValue('hide_discont_lists'))) { ?>
                                <div align="center" class="wrapper_sale_item">
                                    <span class="old_price"><?=General::getCurrencyPrice($item)?></span>
                                </div>
                    <? } ?>  
                                          
                    </li>
                    	<? // if ($idx % 4 == 3) { ?>
                        <? if (($idx+1) % 3 == 0) { ?>
                            <div style="clear: both; background-color:blue;"></div>
                        <? } ?>
                    <? } ?>
                </ul>
                <!-- /.product -->
                <? } else { ?>
                <h2><span><?=Lang::get('nothing_found')?></span></h2>
                <? } ?>


                <div>
                    <? $page_count_print = (isset(General::$siteConf['pager_count_print'])) ? General::$siteConf['pager_count_print'] : '2'; ?>
                    <? $curpage = floor($from / $perpage) + 1 ?>
                    <? $maxpage = ceil($count / $perpage) ?>

                    <? if ($curpage != 1) {?>
                    <a href="<?=$pageurl?>&from=<?=$from - $perpage?>&tmall=<?=$tmall?>" class="fll btn-apper border_radius_left"><span><?=Lang::get('prev_page')?></span></a>
                    <? } ?>
                    
                    <ul class="flin pager clrfix">
                        <? if ($curpage > ($page_count_print + 1)) { ?>
                        <li class="b-item"><a href="<?=$pageurl?>&from=0&tmall=<?=$tmall?>" class="i-link">1</a></li>
                        <? } ?>
                        <? if ($curpage > ($page_count_print + 2)) { ?>
                        <li class="b-item dotted">...</li>
                        <? } ?>
                        <? for ($i = max(1, $curpage - $page_count_print); $i <= min($maxpage, $curpage + $page_count_print); $i++) { ?>
                        <? if ($curpage == $i) { ?>
                            <li class="b-item active"><a href="<?=$pageurl?>&from=<?=(($i - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$i?></a></li>
                            <? } else { ?>
                            <li class="b-item"><a href="<?=$pageurl?>&from=<?=(($i - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$i?></a></li>
                            <? } ?>
                        <? } ?>
                        <? if ($curpage < $maxpage - ($page_count_print + 1)) { ?>
                        <li class="b-item dotted">...</li>
                        <? } ?>
                        <? if ($curpage < $maxpage - $page_count_print) { ?>
                        <li class="b-item">
                            <a href="<?=$pageurl?>&from=<?=(($maxpage - 1) * $perpage)?>&tmall=<?=$tmall?>" class="i-link"><?=$maxpage?></a>
                        </li>
                        <? } ?>
                    </ul>
                    
                    <? if ($maxpage > 1 && !($curpage >= $maxpage)) { ?>
                    <a href="<?=$pageurl?>&from=<?=$from + $perpage?>&tmall=<?=$tmall?>" class="btn fll btn-apper border_radius_right"><span><?=Lang::get('next_page')?></span></a>
                    <? } elseif ($curpage > $maxpage) { ?>
                    <? } ?>

                    
                </div>

                
                
                
            </div>
        </div>
    </div>
</div>
