<?
    $min_cost = 0;
    $max_cost = 0;
    if (@General::getConfigValue('min_cost_goods') > @$_GET['cost']['from'] ) {
        $min_cost = @General::getConfigValue('min_cost_goods');
    } else {
        $min_cost = @$_GET['cost']['from'];
    }
    if (@$_GET['cost']['to']!=0) {
        if (@$_GET['cost']['to']<@General::getConfigValue('min_cost_goods'))  {
            $max_cost = General::getConfigValue('min_cost_goods');
        } else {
            $max_cost = @$_GET['cost']['to'];
        }
    }
?>
<?
    $url = new UrlWrapper();
    $url->Set('http://'.$_SERVER['HTTP_HOST'] . current(explode('?', $_SERVER['REQUEST_URI'])));
?>
<form method="get" id="filterform" action="<?=$url->Get()?>">
    <?if(RequestWrapper::get('Provider')){?>
        <input type="hidden" name="Provider" id="SearchProvider" value="<?=RequestWrapper::get('Provider')?>">
    <?}?>
    <?if(RequestWrapper::get('SearchMethod')){?>
        <input type="hidden" name="SearchMethod" id="SearchMethod" value="<?=RequestWrapper::get('SearchMethod')?>">
    <?}?>
    <?
    if(is_array($_GET['ignorefilters']))
    foreach($_GET['ignorefilters'] as $v){
        ?>
            <input type="hidden" name="ignorefilters[]" value="<?=$v?>" />
        <?
    }
    ?>

    <input type="hidden" name="p" value="<?= @$_GET['p'] ?>"/>
    <? if (isset($_GET['cid'])) { ?><input type="hidden" name="cid" value="<?=RequestWrapper::getValueSafe('cid')?>"/><? } ?>
    <? if (isset($_GET['brand'])) { ?><input type="hidden" name="brand" value="<?=RequestWrapper::getValueSafe('brand')?>"/><? } ?>
    <? if (isset($_GET['id'])) { ?><input type="hidden" name="id" value="<?=RequestWrapper::getValueSafe('id')?>"/><? } ?>
    <? if (isset($_GET['search'])) { ?><input type="hidden" name="search" value="<?=RequestWrapper::getValueSafe('search')?>"/><? } ?>
    <? if (isset($_GET['sort_by'])) { ?><input type="hidden" name="sort_by" value="<?= @$_GET['sort_by'] ?>"/><? } ?>
    <? if (isset($_GET['per_page'])) { ?><input type="hidden" name="per_page" value="<?= @$_GET['per_page'] ?>"/><? } ?>
    <? if (isset($_GET['tmall'])) { ?><input type="hidden" name="tmall" value="<?= @$_GET['tmall'] ?>"/><? } ?>
    <? if (isset($_GET['discounts'])) { ?><input type="hidden" name="discounts" value="<?= @$_GET['discounts'] ?>"/><? } ?>

        <? if ($searchprops || (!empty($logic) && $logic['Configurators'])){ ?>
        <div class="titlecat"><?=Lang::get('filters')?></div>
    <?
    $filtersExist = ! empty($logic) && ($logic['PriceRange'] == 'true' || $logic['VolumeRange'] == 'true' ||
            $logic['VendorRatingRange'] == 'true');
    ?>
    <div class="filter-price opened" <? if (!$filtersExist) {?>style="display: none"<?} ?>>
            <div class="filter-subtitle ftitle showHideFilter" data-type-open="i-open-filter" data-type-close="i-close-filter"><i class="i-new i-open-filter i additem"></i><?=Lang::get('search_conditions')?></div>
            <div class="filter-price_content">

                <? if (! empty($logic) && $logic['PriceRange'] == 'true') { ?>
                    <div class="subtitle"><?=Lang::get('price_simple')?></div>
                    <table class="cost-range-table">
                        <tr>
                            <td class="item"><input onkeyup="checkIntValue(this)" type="text" name="cost[from]" class="form-field" value="<?=(float)$min_cost?>"></td>
                            <td class="item"><?=$currency['Sign']?> —</td>
                            <td class="item"><input onkeyup="checkIntValue(this)" type="text" name="cost[to]" class="form-field" value="<?=(float)$max_cost?>"></td>
                            <td class="item"><?=$currency['Sign']?></td>
                        </tr>
                    </table>
                <? } ?>

                <? if (! empty($logic) && $logic['VolumeRange'] == 'true') { ?>
                <h5><?=Lang::get('purchases_count')?></h5>
                    <table class="trange mt5">
                            <tbody><tr>
                                    <td><input type="text" name="count[from]" id="" class="w70" value="<?=(int)@$_GET['count']['from']?>"></td>
                                    <td><?=Lang::get('pcs')?> —</td>
                                    <td><input type="text" name="count[to]" id="" class="w70" value="<?=(int)@$_GET['count']['to']?>"></td>
                                    <td><?=Lang::get('pcs')?></td>
                            </tr>
                    </tbody></table>
                <? } ?>



                <? if (! empty($logic) && $logic['VendorRatingRange'] == 'true') { ?>
                    <h5><?=Lang::get('vendor_rating_baserus')?></h5>

                <div class="rating-slider-block">
                    <div class="slider-min-indicator"><span class="from"><?=Lang::get('from')?></span>

                        <span class="from-value"><img src="i/hearts/level_<?=$logic['MinVendorRating']?>.gif" id="min_rate"></span>
                    </div>
                    <input type="text" name="rating[from]" value="<?=$logic['MinVendorRating']?>" class="slider-input" id="rating-min-input">
                    <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="rating-slider-min"><div class="ui-slider-range ui-slider-range-min ui-widget-header" style="width: 0%; "></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%; "></a></div>
                </div>
                <div class="rating-slider-block">
                    <div class="slider-max-indicator"><span class="till"><?=Lang::get('to')?></span>
                        <span class="till-value"><img src="i/hearts/level_<?=@$_GET['rating']['to'] ? (int)@$_GET['rating']['to'] : $logic['MaxVendorRating'];?>.gif" id="max_rate"></span>
                    </div>
                    <input type="text" name="rating[to]" value="<?=@$_GET['rating']['to'] ? (int)@$_GET['rating']['to'] : $logic['MaxVendorRating'];?>" class="slider-input" id="rating-max-input">
                    <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="rating-slider-max"><div class="ui-slider-range ui-slider-range-min ui-widget-header" style="width: 100%; "></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%; "></a></div>
                </div>

                <!--noindex-->
                <script type="text/javascript">
                    var cval = new Array();
                    var rate_min_val = '<?=@$_GET['rating']['from'] ? (int)@$_GET['rating']['from'] : $logic['MinVendorRating']?>';
                    var rate_max_val = '<?=@$_GET['rating']['to'] ? (int)@$_GET['rating']['to'] : $logic['MaxVendorRating'];?>';
                    var path = ''

                    $('#rating-slider-min').slider({
                        range: "min",
                        value: rate_min_val,
                        min: <?=$logic['MinVendorRating']?>,
                        max: <?=$logic['MaxVendorRating']?>,
                        slide: function( event, ui ) {
                            $('#min_rate').attr('src', path+'i/hearts/level_'+ui.value+'.gif');
                            $( "#rating-min-input" ).val( ui.value );
                        }
                    });

                    $('#rating-slider-max').slider({
                        range: "min",
                        value: rate_max_val,
                        min: <?=$logic['MinVendorRating']?>,
                        max: <?=$logic['MaxVendorRating']?>,
                        slide: function( event, ui ) {
                            $('#max_rate').attr('src', path+'i/hearts/level_'+ui.value+'.gif');
                            $( "#rating-max-input" ).val( ui.value );
                        }
                    });
                    $('#rating-slider-max div:first').remove();

                </script>
                <!--/noindex-->
                <? } ?>



                <? if (! empty($logic)) { ?>
                    <div class="fbut">
                        <input type="button" onclick="document.getElementById('filterform').submit(); return false;" value="<?=Lang::get('select')?>" class="btn-small button js-form-send vertical-middle" />
                        <a href="<?=$clearUrl?>" class="dotted vertical-middle"><span><?=Lang::get('reset')?></span></a>
                    </div>
                <? } ?>

            </div>
        </div>
        <ul class="listitem filters">
            <? if($searchprops) {
                $searchPropsBrand = false;
                foreach ($searchprops as $pid => $pvalue) {
                    if(@in_array($pid, $_GET['ignorefilters'])){
                        continue;
                    }
                    $curvalues = array();
                ?>
                <? if ($pvalue['Id'] == 20000) { ?>                    
                <? $searchPropsBrand = $pvalue['Values']; ?>
                <li class="item">
                    <a href="javascript:void(0)" class="many-filters-<?=$pid?> showHideFilter" data-type-open="i-plus" data-type-close="i-minus"><i class="i i-new i-plus"></i> <?= $pvalue['name'] ?> </a>
                    <ul class="innerlist">
                        <input type="text" name="brandSearch" id="brandSearch" filter-name="<?= $pvalue['name'] ?>" placeholder="<?=Lang::get('Start_input_name')?>" value="" class="form-field"/>                        
                    </ul>
                </li>
                <? continue; } ?>
                <li class="item">
                    <a href="javascript:void(0)" class="many-filters-<?=$pid?> showHideFilter" data-type-open="i-plus" data-type-close="i-minus"><i class="i i-new i-plus"></i> <?= $pvalue['name'] ?> </a>
                    <? if(@$_GET['filters'][$pid]){ ?>
                        <a class="i-new i-delete" href="<?=$_SERVER['REQUEST_URI']?>" fid="<?=$pid?>"></a>
                    <? } ?>
                    <ul class="innerlist">
                        <?
                        $pvalue_sort = array();

                        foreach ($pvalue['Values'] as $value) {
                            if ($_GET['filters'][$pid][$value['id']] == $value['id']) {
                                $pvalue_sort[$value['id']] = $value;
                            }
                        }

                        foreach ($pvalue['Values'] as $value) {
                            if (!isset($pvalue_sort[$value['id']])) {
                                $pvalue_sort[$value['id']] = $value;
                            }
                        }

                        $pvalue['Values'] = $pvalue_sort;
                       
                            foreach ($pvalue['Values'] as $value) {
                                $curvalues[] = $value['id'];
                                ?>
                                <li class="item">
                                    <label for="ch<?= $value['id'] ?>">
                                        <input
                                            class="js-radio-filters"
                                            type="<?=(! empty($logic) && $logic['MultipleConfiguratorLogic'] == 'None')? 'radio' : 'checkbox' ?>"
                                            id="ch<?= $value['id'] ?>"
                                            name="filters[<?= $pvalue['Id'] ?>][<?= $value['id'] ?>]"
                                            value="1"
                                            <? if (isset($_GET['filters']) && $_GET['filters'][$pvalue['Id']][$value['id']] == 1) { ?>
                                                checked="checked"
                                            <? } ?>
                                            data-filter-name="<?= $value['name'] ?>"
                                            data-parent-filter-name="<?= $pvalue['name'] ?>"
                                        />
                                        <!--noindex--><?= $value['name'] ?><!--/noindex-->
                                    </label>
                                </li>
                            <? } ?>
                                               
                        
                    </ul>
                </li>
    <? } ?>  </ul>
        <? } ?>
    <? } ?>
    <div style="display:none" id="applyButton">
        <i class="helpBox">
            <input type="hidden" name="isAjax" id="isAjaxForm" value="1"/>
            <a href="javascript:void(0)" class="search-filter-form-send applyHref"><?=Lang::get('apply')?></a>
            <span class="microPreLoader"></span>
        </i>
    </div>
</form>
<script>
var typeOfInput = '<?=(! empty($logic) && $logic['MultipleConfiguratorLogic'] == 'None')? 'radio' : 'checkbox'?>';
var searchPropsBrand = <?=$searchPropsBrand ? json_encode($searchPropsBrand) : 'false' ?>;
var activeBrandFilters = <?=$activeBrandFilters ? json_encode($activeBrandFilters) : 'false' ?>
 
</script>