
.body-blog a:link, .body-blog a:visited, .body-blog a:active, .blog-navigation-box li a{
    color:#bd8651;
}

.b-pager__item i{
    color: #000 !important;
}

.btn:hover{
    color: #000000 !important;
}

.b-blog-list__counts a{
    color: #000 !important;
}

.b-blog-list__counts a:hover{
    text-decoration: none !important;
}