.image_gallery {
    width: 350px;
    float: left;
    margin-right: 20px;
    margin: 5px 15px 5px 0;
    text-align: center;
}
.section_item_gallery{
    line-height: 17px;
    width: 100%;
    padding: 0;
    margin: 0 0 40px 0;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.gallery_author_info{
    /*float: left;*/
    font-size: 14px;
    /*min-width: 600px;*/
}
.gallery_author_info .name{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.main_description{
    margin-top: 5px !important;
}
.item_info .detail_description{
    font-size: 16px;
}