.full-width
    width: 100%

.pull-left
    float: left

.pull-right
    float: right

.text-left
    text-align: left

.text-center
    text-align: center

.text-right
    text-align: right

.text-lowercase
    text-transform: lowercase

.text-uppercase
    text-transform: uppercase

.text-capitalize
    text-transform: capitalize

.vertical-top
    vertical-align: top

.vertical-middle
    vertical-align: middle

.vertical-bottom
    vertical-align: bottom

.margin-top__text-header
    margin-top: 100px

.padding-top__header-center-block
    padding-top: 80px

.width__header-center-block
    width: 332px

.font-size__13
    font-size: 13px

.line-height__23
    line-height: 23px

.line-height__42
    line-height: 42px

.line-height__17
    line-height: 17px

.inline-block
    display: inline-block

.margin-top__16
    margin-top: 16px

.margin-top__22
    margin-top: 22px

.margin-top__60
    margin-top: 60px

.height__header
    height: 245px

.b-header__left-block
    width: 264px

.margin-left__84
    margin-left: 84px

.margin-left__94
    margin-left: 94px

.width__135
    width: 135px

.margin-left__87
    margin-left: 87px

.margin-bottom__18
    margin-bottom: 18px

.width__23
    width: 23px

.padding-top__80
    padding-top: 80px

.font-size__18
    font-size: 18px

.margin-top__18
    margin-top: 18px

.padding-bottom__80
    padding-bottom: 80px

.padding-top__106
    padding-top: 106px

.color-gray
    background-color: #ebecec

.b-header__right-block
    width: 100%
    text-align: right