.b-main
    width: $layout-width

.b-header
    height: $header-height

.b-footer
    height: $footer-height
    font-size: 15px
    line-height: 15px

.b-layout
    width: $layout-width

.b-basket-table
    border-width: 1px
    border-color: #948a54
    border-style: solid
    padding: 0
    margin: 0
    width: 100%
    margin-left: -10px

.b-basket-table__header
    text-transform: uppercase

.grid-row
    margin-left: 2.475%
    padding-left: 10px
    padding-right: 10px
    padding-top: 15px
    padding-bottom: 15px

.grid-row.col-4
    width: 30.025%

.grid-row.col-2
    width: 13.775%

.grid-row.col-6
    width: 46.275%

.grid-row.col-3
    width: 21.9%

.grid-row.col-5
    width: 38.15%

.b-basket-table__item-title
    line-height: 17px
    letter-spacing: 0

.b-basket-table__item-row
    line-height: 17px

