/* ------------------------------------- top module-category --- */
.contacts .module-category { display:none;}
.fix {
	position: relative; 
	top:153px!important;
	left:0;
	height: 50px;
	border: none;
	background:none;
	width: 100%;
	z-index: 0; 
	border:none;
	
}
.fix.isStuck {top:0px!important;left:0; width:100%; border-right:none; border-left:none; border-bottom:1px solid #dfdfdf; background:#333333;}
.fix > div {width: 1170px; height:50px; background:#333333; margin: 0 auto; position: relative;}

.moduletable-category { 
	border:none; 
	padding:0px 0 0 0; 
	border-radius:0; 
	position:absolute; 
	top:0px;
	left:0px; 
	width:100%; 
	z-index:98; 
}

.moduletable-category h3 { margin-bottom:4px;}
.moduletable-category .boxIndent {padding:0 0 0 0px; border:none;}

.moduletable-category .droplist { padding:0px 0 0 0!important; list-style-type:none; margin:0 auto; text-align:left;   }

.moduletable-category .droplist > li {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	float:left; 
	position:relative;
	height:auto;
	text-align: center;
	text-transform:uppercase;
	padding:12px 18px 16px 18px;
	margin-right:0px;
	background:none;
	border-right:1px solid #7f7f7f;
	
}

.moduletable-category .droplist > li:first-child { background:none; border-left:none;}

.moduletable-category .droplist > li > a {
	background:none;
	color: #fff;  
	text-decoration:none; 
	display:inline-block; 
	padding:0px 0px 0px 0px;
	-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}
.moduletable-category .droplist > li.has-children > a { padding-bottom:0px;}
.moduletable-category .droplist > li:hover:after, .moduletable-category .droplist > li.active:after, .moduletable-category .droplist > li.has-children:hover:after {
	background: #777;
}

.moduletable-category .droplist > li > a:hover, .moduletable-category .droplist > li.active > a, .moduletable-category .droplist > li.has-children:hover > a {
	color: #71bf44;
}



.moduletable-category .droplist ul { 
	background:#fff;   
	padding:0; 
	margin:0!important;  
	border:none; display:none; 
	list-style:none; 
	position:absolute; 
	left:-1px; 
	top:50px; 
	width:210px; 
	border-radius:0px; 
	text-align:left; 
	z-index: 999!important;
}

.moduletable-category ul.menu.level1 li:before {background: none;}
.moduletable-category ul.menu.level1 li:after {background: none;}

.moduletable-category .droplist .level0 .level1 li { 
	background:none!important;  
	border:none; 
	padding:0;  
	font-size:12px; 
	position:relative; 
	display:block; 
	float:none;  
	text-transform:none;
	margin-bottom:-1px;
}

.moduletable-category .droplist .level0 .level1 li a { 
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;  
	float:none; 
	color:#777;  
	display: block;
	text-decoration:none;
	text-transform: capitalize;
	padding: 9px 20px 9px 20px;
	border:1px solid #cccccc;
	-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}
.moduletable-category .droplist .level0 .level1 li a:hover , .moduletable-category .droplist .level0 .level1 li.active a, .moduletable-category .droplist .level0 .level1 li.has-children:hover a{  
	color:#fff;
	background:#191919;
	border:1px solid #191919;
}
.moduletable-category .droplist .level0 .level1 li.has-children .level2 { left:211px;  top:0px;}
.moduletable-category .droplist .level0 .level1 li.has-children .level2 li { padding-top:0; padding-bottom:0;}
.moduletable-category .droplist .level0 .level1 li.has-children .level2 li:first-child { background:none; margin-top:0;}
.moduletable-category .droplist .level0 .level1 li.has-children .level2 li a { 
	color:#777; 
	background:none;
		border:1px solid #cccccc;

}
.moduletable-category .droplist .level0 .level1 li.has-children .level2  li a:hover , .moduletable-category .droplist .level0 .level1 li.has-children .level2  li.active a {  
	color:#fff;
	background:#191919;
	border:1px solid #191919;
}

.moduletable-category li.parent ul {display:none;}
.moduletable-category li.parent ul.active {display:block;}

.moduletable-category li.has-children > a:after {
	color: #fff;		
	content: "\f107"; 
	font-size: 15px;
	font-family: FontAwesome;
	position: absolute;
	right: 44%;
	bottom: -2px;
}

.moduletable-category li.has-children:hover a:after,.moduletable-category li.active a:after {color: #71bf44;}
.moduletable-category .droplist .level1 li.has-children > a:after  {
	color: #777;
	content: "\f105";
	top:10px; 
	right:20px; 
	display:block;
}

.moduletable-category .droplist .level1 li.has-children:hover > a:after,.moduletable-category .level1 li.has-children.active a:after { color: #fff;}

/* ------------------------------------- module-category --- */
.contacts .module.categories { display:none;}

.module.categories { 
	border:none; 
	padding:0;
	border-radius:0px; 
	position:relative;
}
.module.categories .boxIndent , .module.manufacturers .boxIndent { border:none; background:none; padding:0;}

.module.categories .list { 
	margin:0;
	padding:0; 
	list-style-type:none;
}


.module.categories .list li {	
float:none; 
	position:relative; 
	padding:0 0px 0px 0; 
	height:auto; 
	border-top:none; 
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 10px;
	font-weight: 700!important;
	margin-bottom: 0;
	border-bottom:1px #bcc99b solid;
  }

.module.categories .list li a { 
	text-decoration:none; 
	padding:15px 18px 15px 10px; 
	display:block; 
	color:#668e39;
	margin-left:0px;
	background-color:#e3e3c7;
	font-family:'CenturyGothic', sans-serif;
	font-size:10pt;
	line-height:15px;
	
	
			/*-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;*/


}
.module.categories .list li a:hover, .module.categories .list li.active a , .module.categories .list li.bgact a{
	color:#fefefe;
	background-color:#668e39;

  }

.module.categories .list ul {
	 margin:0px 0px 0px 0px!important;
	padding: 25px 30px 25px 30px!important;
	color:#e3e3c7;
	}
.module.categories .list .level1  li { background:none; padding:5px 0 5px 0; font-size:13px; line-height:20px; border:none; text-transform:none;}
.module.categories .list .level1  li:first-child { background:none; margin-top:0;}
.module.categories .list .level1  li a { color:#668e39;  font-weight:400; background:none; padding:0; display:inline-block; }
.module.categories .list .level1 li a:hover , .module.categories .list .level1 li.active a , .module.categories .list .level1 li.bgact a {  color:#a5da18;}

.module.categories .list ul ul {  margin:0px 0px 0px 0px!important;padding: 10px 20px 0px 20px!important;border-top:none; background:none;  }

.module.categories .list .level1 .level2 li { background:none;}
.module.categories .list .level1 .level2 li:first-child { background:none; margin-top:0;}
.module.categories .list .level1 .level2 li a { color:#fff; }
.module.categories .list .level1 .level2  li:hover a , .module.categories .list .level1 .level2  li.active a {   color:#a5da18;}

.module.categories li.parent ul {display:none;}
.module.categories li.parent ul.active {display:block;}

.module.categories .VmArrowdown { height:30px; width:30px; float:none; position:absolute; right:0px; top:10px; padding:0; cursor:pointer;color: #82b201;}
.module.categories .list li:hover > .VmArrowdown { color:#fff;}
.module.categories .VmArrowdown:after {
	
	font-style: normal;	
	content: "\f0d7"; 
	font-size: 13px;
	line-height:18px;
	font-family: FontAwesome;			
	text-align:center;
	margin-left:10px;
	top:5px;
	position:relative;
}
.module.categories .VmArrowdown.expanded:after {content: "\f0d8"; }
.module.categories .list .level1 li .VmArrowdown {top:1px;}
.module.categories .list .level1 li .VmArrowdown.expanded {top:0px; color:#fff;}
.module.categories .VmArrowdown.expanded {  top:8px;}
 .module.categories .VmArrowdown.expanded { color:#fff;}

/* ------------------------------------- end module-category --- */

/* ------------------------------------- module_special --- */

.module_none,  .contacts .module.new.spec  { display:none;}

/* ------------------------------------- end module_special--- */

/* ------------------------------------- module_new --- */
.module.new  {  padding-top:0px; margin-bottom:0; }
.module.new  h3 {}
.module.new  .boxIndent { padding:0;border:none;  }

.vmgroup.new  ul { padding-bottom:0px; margin-bottom:-30px;}

.vmgroup.new  ul li {
 display: block; 
 float: none; 
 padding: 0 0 20px 0; 
 min-height: auto; 
 width: 100%; margin: 0 0 0 0; 
 border:none; 
 background:none; 
 overflow:hidden;
}

.vmgroup.new  ul li  .product-box {  
	background: #fff;
	width:186px;
	height:340px;
	text-align:left; 
	float:left; 
	min-height:0px; 
	padding:20px 20px 0px 20px;  
	position:relative; 
	border:none;
	margin-left:20px;
	overflow:hidden;
	border:#dadbdb;
	border-radius:5px;
}
.vmgroup.new  ul li:first-child  .product-box {  
}


.vmgroup.new  ul li a { background:none; padding:0;}

.vmgroup.new  ul li  .product-box:first-child { margin-left:0; }

.vmgroup.new   ul li .browseImage { 
	text-align:center;
	padding:20px 0 1px 0; 
	overflow:hidden;
	background:#fff;
	border:none;
	position:relative;
}

.vmgroup.new  ul li  .sale { display:none;}
.vmgroup.new  ul li  .top { display:none;}

.vmgroup.new   ul li .browseImage img { text-align:center; width:180px; height:180px;}

.vmgroup.new   ul li .cat {margin:0 0 0 0; text-align:center; padding:0; }

.vmgroup.new .fleft { 
	background: none;
	padding:0; 
	overflow:hidden;
}
.vmgroup.new .fright { float:none;  padding-top:0px; overflow:hidden; text-align:center;}
.vmgroup.new   ul li .cat a { color:#a0a0a0;}
.vmgroup.new   ul li .cat a:hover { 
	text-decoration:none;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height:18px;
	color:#777; 
}
.vmgroup.new .vote { position:absolute; left:20px; top:10px;}

.vmgroup.new   ul li .Title {
	margin:0px 0 0 0; 
	  font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height:18px;
	font-weight: 500; 
	text-transform: none;
	text-align:center;
	/*min-height:36px;*/
}

.vmgroup.new   ul li .Title a { 
	color:#777;  
	text-decoration:none; 
	display:inline; 
	vertical-align:top;
	padding:0; 
	font-family:'CenturyGothic', sans-serif;
	font-size:15px;

}
.vmgroup.new   ul li .Title a:hover { 	
	color:#000; 
	text-decoration:none;}

.vmgroup.new  ul li .Price .WithoutTax , .vmgroup.new  ul li .Price .discount { display:none;}

.vmgroup.new  ul li .disc .Price .WithoutTax {
	display: none!important;
	color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 7px;
    text-decoration: line-through;
}

.vmgroup.new  ul li .Price { 
	display: inline-block;
	color: #668e39;
  	font-family: 'CenturyGothic', sans-serif;
    font-size: 23px;
    font-weight:500;
    line-height: 22px;
	border-bottom:none; 
	overflow: hidden;
	padding:0px 0px 0px 0px;   
	z-index:99;
	float:none;
}


.vmgroup.new  ul li .new ,.browse-view.front .new{ display: none;}
.product1.floatleft .new {display: none;}
.product1.floatleft.disc .new {
	display: none;
	position: absolute;
	 font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 31px;
	font-weight: 700; 
	color:#fff;
	text-transform: uppercase;
	top: 0;
	right: 0;
	padding-left: 10px;
	background: #fb9393;
	width: 49px;
	height: 33px;

}
.vmgroup.new  ul li .new {
	display: none;
	position: absolute;
	 font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700; 
	color:#fff;
	text-transform: uppercase;
	top: 219px;
	left: 0;
	background: #00bff3;
	width: 269px;
	height: 28px;
}


.vmgroup.new  ul li .disc .sale {
	display: block;
	position: absolute;
	 	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 24px;
	font-weight: 400; 
	color:#fff;
	text-transform: uppercase;
	bottom: 5px;
	left: 0px;
	background: #fc262b;
	width: 58px;
	height: 25px;
}

.description { 
	color:#424242;
	 font-family: 'CenturyGothic', sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 300; 
	margin:0px 0 0 0; 
	padding:0; 
	border:none; 
	padding:0px 0px 0 0px;
}

.description  p { margin:0; padding:0;}

.vmgroup.new.spec  ul li .Price .sales { color:#81dcfe; padding-right:5px;font-size:23px; letter-spacing:-1px;display:block;margin-bottom:0px;}
.vmgroup.new.spec  ul li .Price .WithoutTax { display:block;  text-decoration:line-through; margin-bottom:-4px;}
#content .module.new  .quantity-box , .module.new  .quantity-controls , .module.new  .product-fields { display:none;}


#content .module.new  .addtocart-area { 
	margin:0 auto; 
	padding:0px 0 0 0;
	display:inline-block; 
	float:none;
	width:136px;
 }
#content .module.new  .addtocart-bar2 span.addtocart-button, #content .module.new  .addtocart-bar2 div.addtocart_button{ }
#content .module.new  .addtocart-bar2 input.addtocart-button , #content .module.new  .addtocart-bar2 a.addtocart-button{ }
#content .module.new  .addtocart-bar2 input.addtocart-button:hover , #content .module.new  .addtocart-bar2 a.addtocart-button:hover {  }


@-moz-document url-prefix() {
}

.module.new  .Details { 
	/*float:left;*/
	margin-left:0px; 
	padding-top:3px;
	display:inline-block;
}
.module.new  .Details a { 
	 font-family: 'CenturyGothic', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	border: none;
	color:#333333;  
	display:inline-block; 
	background:url(../images/det-marker.png) right 7px no-repeat; 
	width:auto;
	height:auto; 
	text-align:left; 
	text-decoration:underline;
	border-radius: 3px; 
	padding:0 0px 0 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	/*text-transform:lowercase;*/
	/*margin-left:14px;*/
}
.module.new  .Details a:hover { text-decoration:none; color:#777; }
.module.new  .Details a span { display:none;}
.module.new .attributes { display:none;}
/* ------------------------------------- end module_new --- */
.count { display:none;}
.module._best{ margin-bottom:20px;}

/* ------------------------------------- end module_new2 --- */

#left .module.manufacturers h3 { margin-bottom:0;}
#left .module.manufacturers ul:first-child, #left .module.best ul {border-top:none!important;}
#left .module.manufacturers ul.manufacturers {
	padding:0; margin:0; list-style:none; overflow:hidden; 
}
#left .module.manufacturers ul.manufacturers li{
float:none; 
	position:relative; 
	padding:15px 0px; 
	height:auto; 
	border-top:none; 
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400!important;
	text-transform: uppercase;
	margin-bottom: 0;
}
 #left .module.best li {
float:none; 
	position:relative; 
	padding:15px 0px; 
	height:auto; 
	border-top:none; 
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400!important;
	text-transform: uppercase;
	margin-bottom: 0;
}
#left .module.manufacturers li a, #left .module.best li a {
	color:#000; text-decoration: none;
}


#left .module.manufacturers li a:hover, #left .module.best li a:hover {
	color:#fc262b; text-decoration: none;
}

 .module.categories h3 { margin-bottom:0;}
 .module.categories ul { padding:0; margin:0; list-style:none; overflow:hidden;}

/*  .module ul li a:hover img , .module_manufacturers ul li.active a img {opacity:0.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}*/ 

/* ------------------------------------- end module_manufacturers --- */


/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

.wrapper-slide { overflow:hidden;}
#slider {
	width: 720px;
	height: 580px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	display: block;
	margin: 0 auto;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0;
	margin-left:-10px;
}
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* all panels inside the slider */
.anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
.anythingBase .panel.vertical {
	float: none;
}

/* hide text, target the span so IE7 doesn't text-indent the link */
#slider li                   { display: block; float: left; padding: 0; min-height: 550px; width: 720px; margin: 0 0 0 0px; border:none; overflow:hidden; }
#slider ul li  .product-box      { border:1px solid #eee; width:228px; text-align:left; float:left; min-height:262px; margin:0; margin-right:10px; margin-bottom:10px; padding:6px 0 0 0;

}
.anythingSlider .arrow                  { display: block; height: 30px; width: 30px; background: url(../images/virtuemart/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; bottom: 1px; cursor: pointer; }
.anythingSlider .forward                { background-position: right bottom; right: 10px; }
.anythingSlider .back                   { background-position: left top; left: 10px; }
.anythingSlider .forward:hover          { background-position: right top; }
.anythingSlider .back:hover             { background-position: left  bottom; }

.anythingSlider .thumbNav                               { position: absolute; right:20px; top: -58px; text-align: center; overflow:hidden; width:auto; }
.anythingSlider .thumbNav li { margin:0; padding:0; float:left; width:19px; height: 36px;margin-left:3px;}
.anythingSlider .thumbNav a                             { text-indent:-9999px; display:inline-block; padding:0;  width:19px; height: 36px; margin: 0 0 0 0; text-align: center; text-decoration:none;
background:url(../images/virtuemart/bullets.png) right top no-repeat;  }
.anythingSlider .thumbNav a:hover , .anythingSlider .thumbNav a.cur                       { background-position:left top; }

.start-stop                             { color: #575656; font:normal 13px/28px Arial, Helvetica, sans-serif; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; bottom:-4px; 
text-decoration:none; display:block; }
#start-stop.playing  , #start-stop:hover    { text-decoration: underline; }

/*
  Prevents
*/
.anythingSlider .wrapper-box ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper-box ul ul li       { float: none; height: auto; width: auto; background: none; }

/* ------------------------------------- end module_special slider --- */

li#vm-category-6{
margin-top:8px;
}

li#vm-category-5{
border-bottom:0px black solid;
}

li#vm-category-10{
border-bottom:0px black solid;
}