//типовые отступы
$margin-s: 20px; //маленький
$margin-m: 30px; //средний
$margin-l: 40px; //большой


$tablet-breakpoint: 1250px;
$tablet-breakpoint-additional: 960px;
$mobile-breakpoint: 760px;

$desktop-wrapper-width: 1230px;
$tablet-wrapper-width: 96%;
$mobile-wrapper-width: 100%;

//grid
$column-width: 5.65%; //12 - 67.8
$gutter-width: 2.475%; //13 32.5

