.grid-container {
  position: relative;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.grid-row {

  min-height: 1px;

  margin-left: $gutter-width;
  float: left;

  @for $i from 0 through 12 {

    &.col-#{$i} {
      //for large screen
      width: $i*$column-width + $i*$gutter-width - $gutter-width;
    }

  }

  @for $i from 0 through 12 {
    @include tablet {
      &.col-m-#{$i} {
        //for tablet
        width: $i*$column-width + $i*$gutter-width - $gutter-width;
      }
    }

    @include tablet-additional {
      &.col-xm-#{$i} {
        //for tablet
        width: $i*$column-width + $i*$gutter-width - $gutter-width;
      }
    }

    @include phone {
      &.col-s-#{$i} {
        //for mobile phones
        width: $i*$column-width + $i*$gutter-width - $gutter-width !important;
      }
    }
  }

}