<? if (isset($list[0])) { ?>
<div class="bproduct <?=$type?>-rating-list">
    <h2 class="mb25"><span><?=Lang::get($type)?></span></h2>
    <ul class="lproduct flin w700 w160li <? if($displayAsCarousel){ ?> jcarousel-skin <? } ?> clrfix">
        <? foreach ($list as $item) { ?>
        <li title="<?= $this->escape($item['Title']) ?>">
            <a class="pic" href="<?=UrlGenerator::generateItemUrl($item['Id'])?>">
                <i><img src="<?= ProductsHelper::getImage($item, 160) ?>"></i>
                <ins></ins>
            </a>
            <div class="price" name="price_tmp12">
                <div class="line"></div>
                <a href="<?=UrlGenerator::generateItemUrl($item['Id'])?>">
                    <? if (count($item['PromotionPrice'])>0) { ?>
                        <span><?=General::getCurrencyPromoPrice($item)?></span>
                    <? }else{ ?>
                        <span><?=General::getCurrencyPrice($item)?></span>
                    <? } ?>
                </a>
                <a href="<?=UrlGenerator::generateItemUrl($item['Id'])?>">
                    <ins class="name"><?= $this->escape($item['Title']) ?></ins>
                    <span class="glow"></span>
                </a>

            </div>
            <? if (count($item['PromotionPrice'])>0) { ?>
                <div align="center" class="wrapper_sale_item">
                    <span class="old_price"><?=General::getCurrencyPrice($item)?></span><br>
                    <span class="new_price"><?=General::getCurrencyPromoPrice($item)?></span>
                </div>
                <? } ?>
        </li>
        <? } ?>
    </ul>
</div>
<? } ?>
