#st
    {
      color:#E4D4C5;
      font-size:11pt;
      font-weight:300;
      font-family:"Times New Roman", "serif";
    }
#st a
    {
      color:#E4D4C5;
      font-size:11pt;
      font-weight:300;
      font-family:"Times New Roman", "serif";
    }
a.in
    {
      color:#E4D4C5;
      font-size:11pt;
      font-weight:300;
      font-family:"Times New Roman", "serif";
      text-decoration:none;
    }
a.in:hover {text-decoration:underline}
