* {
	margin:0;
	padding:0;
	}

img {
	border:0;
	}

a {
	color:#2e0602;
	outline:none;
	}

a:hover {
	text-decoration:none;
	}
	
html {
	height:100%;
	min-width:990px;
	}

body {
	position:relative;
	font:12px arial, sans-serif;
	height:100%;
	background:#a1794a url('../images/fon.jpg') repeat-y 50% 0;
	}

.all {
	position:relative;
	min-height:100%;
	_height:100%;
	width:990px;
	margin:0 auto;
	padding-left:3px;
	}
	
.head {
	height:250px;
	position:relative;
	background:url('../images/head.jpg') no-repeat 50% 0;
	//z-index:20000;
	}
	
.home_link {
	width:210px;
	height:120px;
	position:absolute;
	top:40px;
	left:68px;
	}
	
.head_contacts {
	position:absolute;
	width:264px;
	top:25px;
	right:237px;
	color:#54160b;
	text-align:right;
	line-height:18px;
	}
	
.head_contacts a {
	color:#54160b;
	}	

.head_contacts .name {
	font-size:18px;
	}
	
.head_contacts .tel {
	font-size:16px;
	}
	
.head_contacts .zak {
	margin-bottom:4px;
	font-size:16px;
	margin-top:-1px;
	}	
	
.mainmenu {
	position:absolute;
	bottom:-4px;
	width:100%;
	left:0;
	//z-index:20000;
	}

.mainmenu ul {
	margin-left:27px;
	}
	
.mainmenu li {
	list-style:none;
	float:left;
	font-size:16px;
	background:url('../images/mainmenu.png') no-repeat 100% 0px;
	padding:0 49px 10px 22px;
	position:relative;
	
	}	

.mainmenu ul ul {
	margin:0;
	position:absolute;
	top:81px;
	left:0;
	width:195px;
	min-height:50px;
	background:url('../images/podmenu-b.png') no-repeat 0 100%;
	z-index:2000;
	padding-bottom:50px;
	display:none;
	}

.mainmenu ul ul li {
	float:none;
	padding:0;
	background:transparent;
	font:13px arial;
	padding:12px 0 3px 0;
	margin:0 23px;
	border-bottom:1px solid #fef5b9;
	}	

.mainmenu ul ul li a {
	color:#fef5b9;
	text-decoration:none !important;
	}

.mainmenu ul ul li.active a, .mainmenu ul ul li a:hover {
	text-decoration:underline !important;
	}
	
.mainmenu ul .part {
	background:url('../images/podmenu-t.png') no-repeat 0 0;
	height:58px;
	position:absolute;
	top:23px;
	left:0;
	width:195px;
	z-index:2000;
	display:none;
	}
	
.mainmenu ul li:hover .part, .mainmenu ul li:hover ul {
	display:block;
	}

	
#inter {
	background:url('../images/mainmenu.png') no-repeat 100% 50%;
	font-size:16px;
    left: 178px;
    position: absolute;
    top: 0;
	padding:0 49px 0 0;
}

#inter a {
	color:#fff;
	text-decoration:none;
}

#inter a:hover {
	color:#fff;
	text-decoration:underline;
}	
	
	
.mainmenu li.item7 {
	background:transparent;
	}
	
.mainmenu li a {
	color:#fff;
	text-decoration:none;
	}	
	
.mainmenu li.active a, .mainmenu li a:hover {
	text-decoration:underline;
	}

.content {
	position:relative;
	overflow:hidden;
	margin:17px 0 20px 0;
	color:#2e0602;
	z-index:230;
	}

.empty {
	height:200px;
	clear:both;
	}
	
.left_cont {
	float:left;
	width:360px;
	}
	
.right_cont {
	position:relative;
	margin:10px 20px 0 360px;
	}
	
.menu-b {
	position:relative;
	height:504px;
	background:url('../images/menu.png') no-repeat 0 5px;
	padding-top:1px;
	margin-bottom:17px;
	}
	
.menu-b ul {
	margin:107px 0 0 86px;
	width:180px;
	}
	
.menu-b ul li {
	list-style:none;
	margin:3px 0;
	}	
	
.menu-b ul li.active {
	font-weight:bold;
	}	
	
.articles {
	margin:0 40px 29px 21px;
	background:url('../images/1px.png') repeat 0 0;
	box-shadow: 0 0 5px 4px #bba370;
	padding:10px;
	}
	
.articles .title {
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	}	
	
.articles .title a {
	text-decoration:underline;
	}	
	
.articles li {
	margin:9px 0;
	list-style:none;
	}	
	
.articles p a {
	text-decoration:none;
	}	
	
.articles p a:hover{
	text-decoration:underline;
	}
	
.interier {
	margin:0 40px 30px 21px;
	box-shadow: 0 0 5px 4px #bba370;
	padding:10px 0 10px 5px;
	background:url('../images/1px.png') repeat 0 0;
	}

.seo-text .interier {
	margin:0 40px 30px 21px;
	box-shadow: 0;
	padding:0;
	background:transparent;
	}
	
.interier .title {
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;
	}	
	
.interier .title a:hover {
	text-decoration:underline;
	}

.interier img {
	border:1px solid #fff;
	margin-right:3px;	
	width:140px !important;
	}
	
.info {
	color:#fac575;
	font-size:14px;
	font-weight:bold;
	margin:0 50px 0 30px;
	text-align:justify;
	line-height:22px;
	}
	
.news {
	margin-bottom:25px; 
	margin-right:10px; 
	box-shadow: 0 0 5px 4px #bba370;
	padding:10px;
	background:url('../images/1px.png') repeat 0 0;
	}
	
.news .item {
	margin:15px 0;
	}	
	
.news .title {
	font-size:20px;
	margin-bottom:7px;
	}		
	
.news .intro {
	margin:0 0 0 73px;	
	}
	
.news .more {
	text-align:right;
	margin:10px 50px 0 0;
	font-weight:bold;
	}
	
.news .more a {
	color:#731006;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	}	
	
.news .more a:hover {
	text-decoration:underline;
	}		
	
.dostavka {
	margin:0 0 0px -15px;
	background:url('../images/dostavka-t.png')no-repeat 20px 0;
	padding:27px 0px;
	position:relative;
	}

.d-inner {
	box-shadow: 0 0 5px 4px #bba370;
	background:url('../images/1px.png') repeat 0 0;
	top:17px;
	left:15px;
	height:92%;
	width:600px;
	position:absolute;
	z-index:-1;
	}
	
.dostavka-i {
	min-height:200px;
	position:relative;
	background:url('../images/dostavka.png') repeat-y 0 0;
	padding:0 40px;
	z-index:2;
	}
	
.dostavka .title {
	font-size:20px;
	margin:0 0 5px 40px;
	text-transform:uppercase;
	z-index:2;
	}
	
.dostavka .title a {
	color:#2e0602;
	}	
	
.dostavka-b {
	position:relative;
	background:url('../images/dostavka-t.png')no-repeat 20px 0;
	height:25px;
	margin-top:20px;
	}
	
.dostavka table {
	width:100%;	
	margin:7px 0 0 0;
	}
	
.dostavka td {
	text-transform:uppercase;
	width:137px;
	vertical-align:bottom;
	padding-bottom:17px;
	}	
	
.dostavka .name {	
	font-size:13px;
	}
	
.dostavka img {
	border:1px solid #fff;
	margin:7px 0;		
	}
	
.dostavka .more {
	text-align:right;	
	margin-right:7px;
	}	
	
h1 {
	font-size:20px;
	font-weight:normal;
	margin-bottom:10px;
	color:#2e0602;
	}

.seo-text {
	color:#2e0602;
	margin:0 15px;
	position:relative;
	z-index:200;
	box-shadow: 0 0 5px 4px #bba370;
	background:url('../images/1px.png') repeat 0 0;
	overflow:hidden;
	padding:10px 0 10px 5px;
	}

.seo-text .col1 {
	width:460px;
	float:left;
	margin-right:30px;
	text-align:justify;
	}	
	
.seo-text .col2 {
	width:460px;
	float:left;
	text-align:justify;
	}	
	
.seo-text p {	
	margin:12px 0;
	}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:url('../images/footer.png') no-repeat 3px 0;
	color:#2e0602;  
	height:290px;
	}
	
.footmenu {
	position:absolute;
	top:207px;
	width:100%;
	left:0;
	}

.footmenu ul {
	margin-left:27px;
	}

.footmenu ul ul{
	display:none;
	}

	
.footmenu li {
	list-style:none;
	float:left;
	font-size:16px;
	background:url('../images/mainmenu.png') no-repeat 100% 50%;
	padding:0 49px 0 22px;
	}	


#inter1 {
	background:url('../images/mainmenu.png') no-repeat 100% 50%;
	font-size:16px;
    left: 178px;
    position: absolute;
    top: 0;
	padding:0 49px 0 0;
}

#inter1 a {
	color:#fff;
	text-decoration:none;
}

#inter1 a:hover {
	color:#fff;
	text-decoration:underline;
}	

	
.footmenu li.item7 {
	background:transparent;
	}
	
.footmenu li a {
	color:#fff;
	text-decoration:none;
	}	
	
.footmenu li.active a, .footmenu li a:hover {
	text-decoration:underline;
	}
	
.foot-adr {
	position:absolute;
	top:246px;
	left:50px;
	width:250px;
	font-size:11px;
	}

.time {
	position:absolute;
	top:246px;
	left:290px;
	width:250px;
	font-size:11px;
	}
	
.copyright {
	position:absolute;
	top:246px;
	left:360px;
	width:250px;
	font-size:11px;
	text-align:right;
	}
	
#counter {
	bottom:10px;
	right:10px;
	position:absolute;
	}
	
.mainmenu li.item3, .footmenu li.item3 {
    visibility: hidden;
}






	
.szatat table {
	width:600px !important;	
	margin:0 !important;	
	}	

.szatat table, .szatat table td {
	border:0;	
	}
	
.szatat table span, .szatat table h2 {
	font-size:12px !important;
	font-weight:normal !important;
	}	
		
.szatat table i {
	font-weight:normal !important;
	}	
	
.szatat table b, .szatat table b span, .szatat table strong, .szatat table strong span {
	font-size:14px !important;
	font-weight:bold !important;
	}
	
.szatat table h1 {
	font-size:12px !important;
	font-weight:bold !important;
	font-family:arial !important;
	margin:0 !important;
	display:inline !important;
	}
	
.szatat table p {
	margin:0 !important;
	}
	
.szatat table td {
	padding:7px 5px 7px 0 !important;
	}	
	
.szatat table h5, .szatat table h5 span, .szatat table h5 i, .szatat table h5 b  {
	font-weight:bold !important;
	font-style:italic !important;
	font-size:14px !important;
	text-align:center;
	}
	
.szatat h3 {
	font-style:italic;
	text-align:center !important;
	padding:20px 0 10px 0;
	text-transform:uppercase;
	}

#article p {
	margin:10px 0;
	font-size:14px;
	}
	
	
	
	
	
	
div.yvComment .Comment {
	background:none;
	border-bottom:1px solid #521806;
	}
	
div.yvComment .Comment_even {
	background:none;
	border-bottom:1px solid #521806;
	}
	
div.yvComment .CommentFulltext {
	border:0 !important;
	}
	
.yvComment button {
	background:none;
	border:0;
	font-weight:bold;
	color:#521806;
	cursor:pointer;
	font-size:110%;
	}
	
.yvComment input, .yvComment textarea {
	background:none;
	border:1px solid #521806;
	padding-left:3px;
	font-weight:bold;
	}

div.yvComment .Comment_unpublished, div.yvComment div.Comment_unpublished .CommentHeader {
	background:none;
	border:0;
	}
	
#text .item {
	margin:7px 0;
	}

.Comments {
	//width:600px !important;
	}
	
.section_articles li {
	list-style:none;
	margin:5px 0;
	}
	
.shadow {
	box-shadow: 0 0 5px 4px #bba370;
	background:url('../images/1px.png') repeat 0 0;
	padding:10px; 
	margin-bottom:10px;
	//padding:10px 0 10px 10px;
	}
	
#new-form {	
	position:relative;
	background: url("../images/dostavka-t.png") no-repeat 0 0;
	margin:30px 0 10px 0;
	color:#2e0602;
	}
	
.new-form1 {	
	position:relative;
	background: url("../images/dostavka-t.png") no-repeat 0 100%; 
	padding-top:21px;
	padding-bottom:25px;
	}	
	
.new-form2 {	
	position:relative;
	background: url("../images/dostavka.png") repeat-y 0 0;
	padding:20px 20px 10px 80px;
	}
	
.new-form3 {	
	position:relative;
	background: url("../images/dostavka.png") repeat-y 100% 0;
	}	
	
#chronoform_form1 .cfdiv_submit input {
	margin:0;
	}
	
.fixed {
	position:fixed;
	top:50%;
	right:0;
	width:215px;
	height:256px;
	z-index:290;
	margin-top:-150px;
	}
	
.fixed1 a {
	position:fixed;
	top:50%;
	right:90px;
	height:24px;
	width:70px;
	z-index:200;
	margin:-135px 0 0 0;
	cursor:pointer;
	z-index:291;
	}
	
.fixed1 img {
	}	
	
.moduletablesaslik {
	margin:0 40px 20px 21px;
	background:url('../images/1px.png') repeat 0 0;
	box-shadow: 0 0 5px 4px #bba370;
	padding:10px;
	}
	
.moduletablesaslik h3 {
	margin-bottom:10px;
	}	
	
.moduletablesaslik label {
	margin:0 0 2px 0;
	}	
	
.moduletablesaslik .ccms_form_element {
	margin:0;
	}	

.moduletablesaslik .ccms_form_element input, .moduletablesaslik .ccms_form_element textarea {
	padding:2px 5px !important;
	}	
	
.moduletablesaslik .ccms_form_element textarea {
	width:200px;
	height:50px;
	overflow:auto;
	}		
	
.moduletablesaslik .cfdiv_submit input  {
	margin:0 0 0 137px;
	}		

.CommentClr {display:none;}
.CommentFulltext {float:left;}
.Comment, .Comment_even {float:left;} .videotur {
background: url("../images/1px.png") repeat scroll 0px 0px transparent;
box-shadow: 0px 0px 5px 4px rgb(187, 163, 112);
margin: 0px 40px 29px 21px;
}
h5 {
    font: 12px arial,sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(46, 6, 2);
}
.dszoomimag {
text-align:left;
background:transparent;
}
.dszoomimag a img {
width:150px;
height:150px;
display:block;
border:0;
position:relative;
top:0;
left:0;
-webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
-ms-transition: all 0.5s ease-in;
transition: all 0.5s ease-in;
}
.dszoomimag a {
display:inline-block;
width:150px;
height:150px;
position:relative;
border:0;
margin:3px;
padding:3px;
}
.dszoomimag a:hover img {
width:300px;
height:300px;
position:absolute;
top:-20;
left:-20;
box-shadow: 0 10px 15px rgba(0,0,0,0.5);
z-index:7;
}
.plav_cart {
width:143px;
height:67px;
text-align:center;
background: url("/bas/cart_fon.png") no-repeat;
padding-top:15px;
padding-left:20px;
margin-top: 256px;
position: absolute;
right: -110px;
z-index:21000;
}
.zagolovok_table{
font-weight:bold;
font-size:16px;
text-align:center;
}
.zagolovok_table_2{
font-weight:bold;
font-size:14px;
text-align:center;
text-decoration:underline;
}

.head_contacts {line-height: 14px;}
.head_contacts .name {margin-bottom: 3px;}
