#promo_popup { display: none; }
.promo-popup { z-index: 50; background: #fff; padding: 20px; font-family: 'SourceSansPro-Regular'; }
.promo-popup h2 { font-size: 45px; line-height:1.0em; }
.promo-popup p { margin: 0 0 18px; }
.promo-popup a { color: #5454c2; outline: none; }
.promo-popup .imageblock { text-align:center; }
.promo-popup .imageblock .hint { padding:0 2px; font-size:14px; text-align:left; }
.promo-popup .custom-list { list-style: none; }
.promo-popup .custom-list li { position: relative; }
.promo-popup .custom-list.check-type { padding-left:25px; line-height:1.25; width:100%; }
.promo-popup .custom-list.check-type li { margin-bottom: 15px; }
.promo-popup .custom-list.check-type li:after { content: ''; position: absolute; width: 14px; height: 10px; left: -22px; top: 6px; background: url('../../images/promo_popup_check_type_list_icon.png') 0 0 no-repeat; }
.promo-popup .ui-dialog-title { display: none; }
.promo-popup .ui-button { background: url('../../images_inner/gallery_close_button.png') 0 0 no-repeat; outline: none; width: 95px; height: 41px; top: -20px; right: -47px; }
.promo-popup .button { display: inline-block; font-family: 'VerveineCorp'; text-decoration: none !important; outline: none; }
.promo-popup .button.green-type { color: #fff; font-size: 21px; background: url(../../images_inner/green_button_bg.svg) 0 0 no-repeat; background-size: cover; padding: 23px 25px 10px 20px; height: 75px; }
