/* common */

[class^="tree-"] { position: absolute; /*z-index: 2;*/ }
[class^="tree-"]:after { content: ''; position: absolute; bottom: 0; z-index: 1; }
.object { position:absolute; background-position:0 0; background-repeat:no-repeat; background-size:contain; z-index:5; }
.showcases-cloud { position:absolute; right:0; top:-10px; width:194px; height:168px; font-size:32px; background:url('../../images/showcase_cloud_bright.png') 0 0/contain no-repeat; text-align:center; z-index:15; }
.showcases-cloud a { display:block; width:100%; height:100%; padding-top:60px; font-family:'VerveineCorp',sans-serif; text-decoration:none; text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: text-shadow 0.1s ease;
  -moz-transition: text-shadow 0.1s ease;
  -ms-transition: text-shadow 0.1s ease;
  -o-transition: text-shadow 0.1s ease;
  transition: text-shadow 0.1s ease;
}
.showcases-cloud a:hover { text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75); }
.about-us { position: absolute; background: url('../../images/home/about-us.png') 0 0/contain no-repeat; width: 117px; height: 113px; left: 270px; bottom: 177px; z-index: 12; }
.bottom { position: absolute; bottom:0; background:url('../../images/home/fall_bottom_bg.png') 50% 0 repeat; height:200px; width:100%; }

.about-us a,
.portfolio a { text-indent: -9999em; display: block; width: 100%; height: 100%; }

/* summer */
.summer:not(.footer) { background: url('../../images/home/summer_bg.jpg') 50% 0 repeat; }
.summer a { text-decoration: none; color: #000; font-family: 'VerveineCorp'; /*font-size: 24px;*/ }
.summer .sun { position: absolute; height: 143px; width: 224px; left: 51px; top: -25px; background: url('../../images/home/summer_sun.png') 0 0/contain no-repeat; }
/*.summer .showcases-cloud { right:15%; top:75px; }*/ /*right: 154px; top:0px;*/
.summer .butterfly-wrapper { position: absolute; width: 62px; height: 62px; right: 275px; top: 245px; transform-origin: 50%; z-index: 5; transform: scale(.8); }
.summer .butterfly { width: 100%; height: 100%; opacity: 99.99%; }
.summer .butterfly:after { content: ''; position: absolute; width: 100%; height: 100%; background: url('../../images/home/summer_butterfly.png') 50%/contain no-repeat; }
.summer .bottom { position: absolute; bottom: 0; background: url('../../images/home/summer_bottom_bg.png') 50% 0 repeat; height: 200px; width: 100%; }
.summer [class^="tree-"] { position: absolute; z-index: 1; }
.summer [class^="tree-"]:after { content: ''; position: absolute; bottom: 0; z-index: 1; }
.summer [class^="tree-"] img { width: 100%; height: 100%; }
.summer .tree-1 { height: 541px; width: 373px; left: 32px; bottom: 84px; z-index: 2 }
.summer .tree-1:after { left: 165px; background: url('../../images/home/tree_shadow_1.png') 0 0/contain no-repeat; width: 235px; height: 51px; }
.summer .tree-2 { height: 567px; width: 188px; right: 346px; bottom: 74px; }
.summer .tree-2:after { left: 40px; background: url('../../images/home/tree_shadow_2.png') 0 0/contain no-repeat; width: 241px; height: 51px; }
.summer .tree-3 { height: 517px; width: 259px; right: 78px; bottom: 84px; }
.summer .tree-3:after { left: 100px; background: url('../../images/home/tree_shadow_3.png') 0 0/contain no-repeat; width: 195px; height: 21px; }
.summer [class^="flower-"] { position: absolute; z-index: 3; }
.summer .flower-1 { background: url('../../images/home/summer_flower_stalk.png') 50% 100%/contain no-repeat; width: 80px; height: 101px; left: 134px; bottom: 70px; }
.summer .flower-1 .flower-head { background: url('../../images/home/summer_flower_bud.png') 0 0/contain no-repeat; width: 80px; height: 79px; top: 0; left: 50%; margin-left: -40px; }
.summer .flower-2 { background: url('../../images/home/summer_flower_2.png') 0 0/contain no-repeat; width: 69px; height: 114px; left: 218px; bottom: 85px; }
.summer .about-us a,
.summer .portfolio a { text-indent: -9999em; display: block; width: 100%; height: 100%; }
.summer .about-us { position: absolute; background: url('../../images/home/about-us.png') 0 0/contain no-repeat; width: 117px; height: 113px; left: 270px; bottom: 177px; z-index: 4; }
.summer .portfolio { position: absolute; background: url('../../images/home/summer_portfolio.png') 0 0/contain no-repeat; width: 186px; height: 135px; right: -16px; bottom: 125px; z-index: 4; }
.summer .irrigation-1,
.summer .irrigation-2 { background-size: cover; width: 203px; height: 144px; z-index: 4; position: absolute; }
.summer .drop { width: 4px; height: 4px; border-radius: 100%; background: #82d1de; position: absolute; right: 1px; bottom: 16px; }
.summer .irrigation-water { width: 203px; height: 144px; }
.summer .irrigation-1 { left: 170px; bottom: 65px; }
.summer .irrigation-1 .irrigation-system,
.summer .irrigation-2 .irrigation-system { position: absolute; background: url('../../images/home/summer_irrigation_system.png') 0 0/contain no-repeat; width: 13px; height: 19px; right: -5px; bottom: 5px; }
.summer .irrigation-2 { transform: rotateY(180deg); right: 170px; bottom: 65px; }

/* fall */
.fall .showcases-cloud { color:#f7e8cb; }
  .fall .showcases-cloud a { color:#f7e8cb; }
.fall:not(.footer) { background: url('../../images/home/fall_bg.jpg') 50% 0 repeat; }
.fall .content-header { text-shadow:0px 3px 7px rgba(0,0,0,0.35); }
/*.fall a { text-decoration: none; color: #000; font-family: 'VerveineCorp'; }*/
.fall .sun { background: url('../../images/home/fall_sun.png') 0 0/contain no-repeat; width: 224px; height: 143px; position: absolute;/* right: -160px; bottom: -170px;*/ left:0%; top:0px; }
.fall .cloud { background: url('../../images/home/fall_cloud.png') 0 0/contain no-repeat; width: 51px; height: 41px; position: absolute; left: -90px; bottom: -80px; }
/*.fall .showcases-cloud { right: 154px; top: 190px; }*/
.fall .bottom { position: absolute; bottom: 0; background: url('../../images/home/fall_bottom_bg.png') 50% 0 repeat; height: 200px; width: 100%; }
.fall .about-us a,
.fall .portfolio a { text-indent: -9999em; display: block; width: 100%; height: 100%; }
.fall .about-us { position: absolute; background: url('../../images/home/about-us.png') 0 0/contain no-repeat; width: 117px; height: 113px; left: 270px; bottom: 177px; z-index: 12; }
.fall .portfolio { position: absolute; background: url('../../images/home/fall_portfolio.png') 0 0/contain no-repeat; width: 153px; height: 142px; right: -16px; bottom: 125px; z-index:12; }
.fall .jssora12l, .fall .jssora12r, .fall .jssora12ldn, .fall .jssora12rdn { background-position: 0 -20px; }
.fall [class^="tree-"] { position: absolute; /*z-index: 2;*/ }
.fall [class^="tree-"]:after { content: ''; position: absolute; bottom: 0; z-index: 1; }
.fall .tree-1 { height: 541px; width: 373px; left: 32px; bottom: 84px; background: url('../../images/home/fall_tree_1.png') 0 0/contain no-repeat; z-index:10; }
.fall .tree-1:after { left: 165px; background: url('../../images/home/tree_shadow_1.png') 0 0/contain no-repeat; width: 235px; height: 51px; }
.fall .tree-2 { height: 567px; width: 188px; right: 346px; bottom: 74px; background: url('../../images/home/fall_tree_2.png') 0 0/contain no-repeat; z-index:9; }
.fall .tree-2:after { left: 40px; background: url('../../images/home/tree_shadow_2.png') 0 0/contain no-repeat; width: 241px; height: 51px; }
.fall .tree-3 { height: 517px; width: 259px; right: 78px; bottom: 84px; background: url('../../images/home/fall_tree_3.png') 0 0/contain no-repeat; z-index:8; }
.fall .tree-3:after { left: 100px; background: url('../../images/home/tree_shadow_3.png') 0 0/contain no-repeat; width: 195px; height: 21px; }
/*.fall .cherry-basket { background: url('../../images/home/fall_cherry_basket.png') 0 0/contain no-repeat; width: 85px; height: 43px; position: absolute; bottom: 191px; left: 83px; }
.fall .bird { background: url('../../images/home/fall_bird_sprites.png') 0 0/cover no-repeat; width: 48px; height: 61px; position: absolute; bottom: 196px; left: 20px; }
.fall .dog-wrapper { position: absolute; width: 111px; height: 109px; right: -135px; bottom: 130px; }
.fall .dog { z-index: 3; position: absolute; background: url('../../images/home/fall_dog.png') 0 0/contain no-repeat; width: 64px; height: 109px; left: 0; top: 0; }
.fall .dogs-tail { z-index: 2; position: absolute; background: url('../../images/home/fall_dogs_tail.png') 0 0/contain no-repeat; width: 6px; height: 24px; bottom: 16px; right: 48px; }
.fall .dogs-shadow { z-index: 1; position: absolute; background: url('../../images/home/fall_dog_shadow.png') 0 0/contain no-repeat; width: 107px; height: 18px; bottom: 0; right: 0; }
.fall .girl { position:absolute; z-index:5; left:57%; bottom:35%; width:145px; height:163px; background:url(../../images/girl.png) 0 0/contain no-repeat; }

.fall .apple1 { left:0%; bottom:50%; width:21px; height:23px; background:url(../../images/apple01.png); }
.fall .apple2 { left:12%; bottom:35%; width:43px; height:52px; background:url(../../images/apple02.png); }
.fall .apple3 { left:25%; bottom:65%; width:20px; height:21px; background:url(../../images/apple03.png); }
.fall .apple4_5 { left:40%; bottom:24%; width:72px; height:48px; background:url(../../images/apple04_05.png); }
.fall .apple6 { left:54%; bottom:62%; width:21px; height:22px; background:url(../../images/apple06_10.png); }
.fall .apple7 { left:72%; bottom:35%; width:26px; height:26px; background:url(../../images/apple07.png); }
.fall .apple8 { left:77%; bottom:20%; width:44px; height:46px; background:url(../../images/apple08.png); }
.fall .apple9 { left:85%; bottom:52%; width:29px; height:32px; background:url(../../images/apple09.png); }
.fall .apple10 { left:89%; bottom:25%; width:21px; height:22px; background:url(../../images/apple06_10.png); }
.fall .apple11 { left:96%; bottom:35%; width:34px; height:47px; background:url(../../images/apple11.png); }

.fall .leaf_pile1 { left:67%; bottom:48%; width:64px; height:54px; background:url(../../images/leaf_pile1.png); z-index:1; }
.fall .leaf_pile2 { left:50%; bottom:15%; width:122px; height:117px; background:url(../../images/leaf_pile2.png); z-index:1; }

.fall .leaf2 { left:44%; bottom:255%; width:27px; height:33px; background:url(../../images/leaf02.png); }
.fall .leaf3 { left:2%; bottom:152%; width:58px; height:62px; background:url(../../images/leaf03.png); }
.fall .leaf4 { left:90%; bottom:150%; width:39px; height:55px; background:url(../../images/leaf04.png); }
.fall .leaf5 { left:5%; bottom:50%; width:54px; height:70px; background:url(../../images/leaf05.png); }
.fall .leaf6 { left:29%; bottom:30%; width:54px; height:56px; background:url(../../images/leaf06.png); }
.fall .leaf7 { left:35%; bottom:55%; width:60px; height:30px; background:url(../../images/leaf07.png); }*/

/* winter */
.winter .main-block { background:url(../../images/winter/mainblock_bg.jpg) 50% 0 no-repeat; }
.winter .content-header { color:#609faa; text-shadow:0px 3px 7px rgba(255,255,255,0.35); }
.winter .showcases-cloud { padding-left:7px; width:174px; background-image:url(../../images/winter/showcases.png); }
  .winter .showcases-cloud a { padding-top:65px; color:#f5353d; text-shadow:none; }
  .winter .showcases-cloud a:hover { text-shadow: 1px 2px 5px rgba(255, 150, 150, 0.4); }
.winter .sun { display:none; }  
.winter .about-us { left: 30%; bottom: 57%; background-image:url('../../images/winter/about-us.png'); }
.winter .portfolio { position: absolute; background: url('../../images/winter/portfolio.png') 0 0/contain no-repeat; width: 306px; height: 217px; right: -140px; bottom: 75px; z-index:12; }
.winter .bottom { position: absolute; bottom:0; background:url('../../images/winter/bottom_bg.png') 50% 0 repeat; height:408px; width:100%; }

.winter .tree-1 { height: 536px; width: 314px; left: 32px; bottom: 84px; background:url('../../images/winter/winter_tree1.png') 0 0/contain no-repeat; z-index:10; }
.winter .tree-1:after { bottom:-47px; left:52%; background: url('../../images/winter/tree_shadow1.png') 0 0/contain no-repeat; width: 235px; height: 51px; }
.winter .tree-2 { height: 490px; width: 188px; left:43%; bottom: 74px; background: url('../../images/winter/winter_tree2.png') 0 0/contain no-repeat; z-index:9; }
.winter .tree-2:after { left: 40px; bottom:-2px; background: url('../../images/winter/tree_shadow2.png') 0 0/contain no-repeat; width: 241px; height: 51px; }
.winter .tree-3 { height: 517px; width: 259px; right: 78px; bottom: 84px; background: url('../../images/winter/winter_tree3.png') 0 0/contain no-repeat; z-index:8; }
.winter .tree-3:after { left:50%; bottom:-51px; background:url('../../images/winter/tree_shadow3.png') 0 0/contain no-repeat; width: 308px; height: 69px; }

.winter .gifts { left:7%; bottom:16%; width:73px; height:92px; background:url('../../images/winter/gifts.png'); }
.winter .snowman { left:38%; bottom:30%; width:103px; height:99px; background:url('../../images/winter/snowman.png'); z-index:20; }
.winter .lamp { left:65%; bottom:4%; width:61px; height:127px; background:url('../../images/winter/lamp.png'); }

.winter .index_portfolio_block { margin-top:0; margin-bottom:10px; background-image:url(../../images/winter/bg_block2.jpg); }
  .winter .index_portfolio_block:before { display:none; }
  .winter .index_portfolio_block .border_top { display:none; }

.winter .why_us { margin-bottom:15px; height:484px; padding:100px 0 0; background:url(../../images/winter/bg3.jpg) 50% 0 repeat; }
.winter .why_us .border_top { display:none; }
.winter .why_us:before { content:''; position:absolute; top:-10px; left:0; width:100%; height:10px; background:url(../../images/winter/bg_2_3.jpg) 50% 0 no-repeat; }

.winter .team { position:relative; margin-bottom:46px; height:924px; padding:70px 0 0; background:url(../../images/winter/staff_bg.jpg) 50% 0 repeat; }
  .winter .team .border_top { display:none; }
  .winter .team:before { content:''; position:absolute; top:-15px; left:0; width:100%; height:15px; background:url(../../images/winter/bg_3_4.jpg) 50% 0 no-repeat; }
  .winter .team h2 { margin-bottom:20px; color:#fff; }
  .winter .team .container { padding-top:25px; min-height:643px; background:url(../../images/winter/photo_frame.png) 50% 0 no-repeat; }
  .winter .team ul li .textblock { color:#fff; text-shadow:1px 1px 3px rgba(0, 0, 0, 1); }
  
.winter .why_choose { height:705px; background:url(../../images/winter/why_choose_bg.jpg) 50% 0 no-repeat; }  
  .winter .why_choose:before { content:''; position:absolute; top:-46px; left:0; width:100%; height:46px; background:url(../../images/winter/bg_4_5.jpg) 50% 0 no-repeat; }
  .winter .why_choose:after { content:''; position:absolute; bottom:-22px; left:0; width:100%; height:22px; background:url(../../images/winter/bg_5_footer.jpg) 50% 0 no-repeat; }
  .winter .why_choose .border_top { display:none; }
  .why_choose h2 { font-family:'SourceSansPro-Bold',sans-serif; font-size:20px; line-height:1.25em; text-transform:uppercase; }

.winter footer h3 { margin-bottom:0; background:url(../../images/winter/footer_object1.png) 25% 0 no-repeat; }
  .winter footer .slider_container .object { position:absolute; }
  .winter footer .slider_container .object01 { top:12%; left:2%; width:75px; height:75px; background:url(../../images/winter/footer_object2.png) 0 0 no-repeat; }
  .winter footer .slider_container .object02 { top:45%; right:8%; width:45px; height:59px; background:url(../../images/winter/footer_object3.png) 0 0 no-repeat; }
  .winter footer .slider_container .object03 { bottom:12px; left:58%; width:31px; height:32px; background:url(../../images/winter/footer_object4.png) 0 0 no-repeat; }
  
/* зима
.winter { background: url('../../images/home/winter_bg.jpg') 50% 0 repeat; }
.winter .bottom { position: absolute; bottom: 0; background: url('../../images/home/winter_bottom_bg.png') 50% 0 repeat; height: 233px; width: 100%; }
*/

/* spring */
/* весна
.spring { background: url('../../images/home/spring_bg.jpg') 50% 0 repeat; }
.spring .bottom { position: absolute; bottom: 0; background: url('../../images/home/spring_bottom_bg.png') 50% 0 repeat; height: 233px; width: 100%; }
*/

@media screen and (max-height: 770px) {
/* common */
  .showcases-cloud { top:35px; width:140px; height:121px; font-size:26px; }
    .showcases-cloud a { padding-top:45px; font-size:22px; }
  .tree-1 { height: 405px !important; width: 280px !important; bottom: 63px !important; }
  .tree-1:after { left: 130px !important; width: 176px !important; height: 38px !important; }
  .tree-2 { height: 425px !important; width: 141px !important; bottom: 56px !important; right: 377px !important; }
  .tree-2:after { width: 181px !important; height: 38px !important; }
  .tree-3 { height: 388px !important; width: 194px !important; bottom: 63px !important; }
  .tree-3:after { width: 146px !important; height: 16px !important; left: 83px !important; }
  
  
/* summer */  
  .summer .sun { height: 107px; width: 168px; }
  .summer .portfolio { width: 140px; height: 101px; }
  .summer .butterfly { width: 47px; height: 40px; right: 250px; top: 200px; }
  .summer .flower-1 { width: 60px; height: 75px; left: 114px; bottom: 50px; }
  .summer .flower-1 .flower-head { width: 60px; height: 59px; }
  .summer .flower-2 { width: 52px; height: 86px; left: 175px; bottom: 65px; }
  .summer .irrigation-water { width: 152px; height: 108px; }
  .summer .irrigation-1,
  .summer .irrigation-2 { width: 152px; height: 108px; }
  .summer .irrigation-1 { left: 143px; bottom: 55px; }
  .summer .irrigation-2 { right: 146px; bottom: 50px; }
  
/* fall */
  .fall .sun { width: 168px; height: 107px; left:5%; }
  .fall .cloud { width: 38px; height: 31px; left: -68px; bottom: -60px; }
  .fall .about-us { width: 88px; height:85px; }
  .fall .portfolio { width: 115px; height: 107px; right: 0; bottom: 140px; }
  /*.fall .showcases-cloud { top: 120px; }*/
  .fall .cherry-basket { width: 64px; height: 32px; }
  .fall .bird { width: 36px; height: 46px; }
  .fall .dog-wrapper { width: 111px; height: 109px; right: -135px; bottom: 130px; }
  .fall .dog { width: 64px; height: 109px; left: 0; top: 0; }
  .fall .dogs-tail { width: 6px; height: 24px; bottom: 16px; right: 48px; }
  .fall .dogs-shadow { width: 107px; height: 18px; bottom: 0; right: 0; }
  
  .fall .apple8 { left:74%; bottom:20%; }
  .fall .apple10 { left:89%; bottom:22%; }
  
  .fall .leaf2 { left:40%; bottom:198%; }
  .fall .leaf3 { left:0%; bottom:125%; width:58px; height:62px; }
  .fall .leaf4 { left:93%; bottom:140%; }
  
  .winter .showcases-cloud { padding-left:5px; width:125px; }
  .winter .showcases-cloud a { padding-top:50px; }
  .winter .portfolio { width: 233px; height: 145px; right: -110px; bottom: 80px; }
  
  .winter .tree-1 { height: 405px !important; width: 240px !important; }
  .winter .tree-1:after { left:51% !important; bottom:-35px !important; }
  .winter .tree-2 { height: 335px !important; width:141px !important; bottom:50px !important; /*right: 377px !important;*/ }
  .winter .tree-2:after { left:25% !important; bottom:-32px !important; }
  .winter .tree-3 { height: 375px !important; width: 194px !important; bottom: 63px !important; }
  .winter .tree-3:after { left:50% !important; bottom:-40px; width: 185px !important; height: 41px !important; }
  
  .winter .gifts { bottom:12%; }
  .winter .snowman { left:37%; bottom:13%; }
  .winter .lamp { left:70%; }
}
