.b-news-detail__inner-image-item{
    display:inline-block;
    width:30%;
    margin-right:5%;
    margin-top:53px;
    margin-bottom:38px;
}
.b-news-detail__inner-image-item:last-child{
    margin-right:0px;
}

.b-news-detail__gallery-notice{
    text-align: left;
}

.b-news-detail__gallery{
    text-align:center;
}

.b-news-detail__gallery-item{
    display:inline-block !important;
    float: none !important;
    width:29% !important;
}

.b-news-detail__gallery-item:only-of-type{
    margin-right:0px !important;
}