@charset "utf-8";


/*vertikalnoe menu с sufiksom _menu */
.moduletable_menu {
font: bold 12px Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-align:center;
padding:0px;
margin:5px;
border: 0px solid red;
}


/*оoformlenie bloka spiska v menu */
.moduletable_menu ul li {
display: inline-block;
list-style:none;
}

/*оoformlenie bloka ssylki v menu*/
.moduletable_menu ul li a {
display: inline-block;
padding:10px 30px;
text-decoration:none;
border: none;
color:#333333;
}

/*ssylka pri navedenii*/
.moduletable_menu li a:hover{
display:inline-block;
text-decoration:underline;
border: none;
color:#666666;
}

