
#wrapper {
position:absolute;
top:100px;
right:10px
}
#container {position:relative;  }
.sliderbutton {float:left; width:23px; height:235px; cursor:pointer}
#slideleft {background:url(/images/slider/images/prev.png) left center no-repeat}
#slideleft:hover {background:url(/images/slider/images/prev_hover.png) left center no-repeat}
#slideright {background:url(/images/slider/images/next.png) right center no-repeat}
#slideright:hover {background:url(/images/slider/images/next_hover.png) right center no-repeat}
#slider {float:left; position:relative; overflow:auto; width:320px; height:240px;
border:8px #d7d7d7 solid;
}
#slider ul {position:absolute; list-style:none; top:0; left:0; margin-top:0px; padding-left:0px;}
#slider li {float:left; width:320px; height:240px}
.pagination {position:absolute; top:40px; right:61px; list-style:none; height:25px}
.pagination li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 4px 0 0; border:1px solid #fff; display:none;}
.pagination li:hover, li.current {background:#fff}