/*colors*/
	@black: #000;
	@light-black: lighten(@black, 25%);
	@white: #fff;

/*typography*/
	@import '../fonts/Gotham/stylesheet.css';
	@body-font: 'gotham_proregular';
	@h-font: 'gotham_probold';
	@l-font: 'gotham_prolight';
	@m-font: 'gotham_promedium';

/*icons*/
	@import '../fonts/icomoon/style.css';

/*measures*/
	@nav-height: 92px;

/*media*/
	@mobile:      ~"only screen and (max-width: 768px)";
    @tablet:      ~"only screen and (min-width: 768px) and (max-width: 992px)";
    @desktop:     ~"only screen and (min-width: 950px) and (max-width: 1200px)";
    @desktop-xl:  ~"only screen and (min-width: 1200px)";