@borderRadius: 			3px;


// Layout
@esSidebarBackground: @esBackground;

// Header
@esHeaderBorder: @esBorder;
@esHeaderMiniBackground: #f5f5f5;
@esHeaderBoxShadow: #fff;

@esHeaderContentBtnBackground: #fff;
@esHeaderFooterBackground: @esBackground;
@esHeaderFooterBorder: #eee;

@esHeaderBtnScrollBackground: #f5f5f5;
@esHeaderBtnScrollColor: #aaa;
