


/* Start:/bitrix/templates/.default/components/bitrix/photo/template1/bitrix/photo.section/.default/style.css*/
div.photo-section table.data-table tr.head-row td {
	padding:10px 5px;
	border-bottom:none;
}
div.photo-section table.data-table tr.data-row {
	border-top:none;
	border-bottom:none;
}
div.photo-section table.data-table th.data-cell {
	border-top:none;
	border-bottom:none;
	padding:2px 2px;
}

/* End */
/* /bitrix/templates/.default/components/bitrix/photo/template1/bitrix/photo.section/.default/style.css */
