.quake-slider
{
    background: url('images/loading.gif') no-repeat center;
    /*width: 990px;
    height: 306px;*/
   
    
    /*box-shadow: 0px 0px 2px #090909;*/
    background-color: White;
}
.quake-nav
{
    /*width: 1010px;*/
}
.quake-nav a
{
    width: 67px;
    height: 67px;
}
.quake-prev
{
    background-image: url('images/arrow-left.png');
    margin-left: -37px;
}
.quake-next
{
    background-image: url('images/arrow-right.png');
    margin-right: -56px;
}
.quake-prev:hover
{
    background-image: url('images/arrow-left-active.png');
}
.quake-next:hover
{
    background-image: url('images/arrow-right-active.png');
}

.quake-slider-caption-container
{
    background-color: #bb6b96;
}
.quake-slider-caption-container.vertical
{
    /*tapnm
	width: 990px;
    height: 50px;*/
    padding-left: 25px;
}
.quake-slider-caption-container.horizontal
{
    /*tapnm
    width: 990px;
    height: 50px;*/
    padding-left: 20px;
}
.quake-slider-caption-container.vertical.left
{
    bottom: 0px !important;
}
.quake-slider-caption-container.vertical.right
{
    
    bottom: 0px !important;
}
.quake-slider-caption-container.horizontal.top
{
    bottom: 0px !important;
    
}
.quake-slider-caption-container.horizontal.bottom
{
    bottom: 0px !important;
    
}
.quake-slider-caption
{
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: 'CenturyGothic', sans-serif;
    padding: 10px;
    line-height:1.5em;
    word-spacing:.2em;
}
.quake-slider-caption.vertical
{
    /*tapnm
	width: 210px;
    height: 306px;*/
}
.quake-slider-caption.horizontal
{
    /*tapnm
	width: 990px;
    height: 50px;*/
}
.quake-slider-caption.vertical.left
{
    left: 0px;
    margin-left: 10px;
}
.quake-slider-caption.vertical.right
{
    right: 0px;
    margin-right: 10px;
}
.quake-slider-caption.horizontal.top
{
    bottom: 0px;
   
}
.quake-slider-caption.horizontal.bottom
{
    bottom: 0px;
   
}
.quake-nav-wrapper
{
    margin: 0;
    padding: 0;
    width: 990px;
    top: 0;
    left: 0;
}
.quake-nav-wrapper.outside
{
    background-color: #1c1c1c;
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    /* background-image: url('images/transparent.png');*/
    margin: auto;
    width: 140px;
    padding:6px;
    box-shadow:0px 1px 2px #424242;
}
.quake-nav-wrapper.inside
{
    margin: -50px auto;
    top: 0;
    left: 0;
    /*tapnm
	width: 140px;*/
    padding: 7px;
    padding-top: 15px;
    background-color: #1c1c1c;;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius:8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
}
.quake-nav-container
{
    padding: 0;
    margin: auto;
}
.quake-nav-control
{
    width: 22px;
    height: 22px;
    background-image: url('images/circle.png');
    background-repeat: no-repeat;
}
.quake-nav-control.active
{
    background-image: url('images/circle-active.png');
}
.quake-highlight
{
    color: Yellow;
}
.quake-highlight a
{
    color: Yellow;
}
.quake-link
{
    position: absolute;
    z-index: 101;
}
.quake-thumbnail
{
    width: 98px;
    height: 76px;
    background: url('images/thumb_bg.png') no-repeat center center;
}
.quake-thumbnail-preview
{
    width: 84px;
    height: 48px;
    margin: 7px 0 0 7px;
    background-color: White;
}
.quake-thumbnail-preview img
{
    border: none;
}
/*tapnm*/
a.quake-prev:hover, a.quake-next:hover{
	background-color:transparent;
}
a.quake-nav-control.active:hover{
	background-image: url('images/circle-active.png');
	background-repeat: no-repeat;
}
a.quake-nav-control:hover{
	background-image: url('images/circle.png');
	background-repeat: no-repeat;
}
.quake-dn{
	/*background-size:990px 306px;*/
}
#body-wrapper .left {
	margin-top:0;
}

.quake-slider-caption-container.vertical{
bottom:0px !important;
height:50px !important;
width:100% !important;
}