.wrapper{ width: 1060px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.footer_wr, .top_block, .top_bg{ min-width: 1060px; box-sizing: border-box;}
body .adapt_switcher {display: block;}
.display_table .table_item {width: 187px;}