/*  */
html, body {margin: 0; padding: 0; width: 100%;}
html {height: 100%;}
body {min-height: 100%; height: 100%; margin: 0px; padding: 0px; background: #FFFFFF}

/* common styles */

body, div, td {font: 12px Tahoma; color: #333333;}
p {font: 14px Verdana; color: #333333;}
li {font: 12px Tahoma; color: #333333;}
table {empty-cells: show;}
h1 {margin: 0px 0px 16px 0px; font: 22px Tahoma; font-weight: normal; color: #ff8a00;}
h2 {margin: 0px 0px 8px 0px; font-family: 20px Tahoma; font-weight: normal; color: #555555;}
h3 {margin: 0px 0px 8px 0px; font-family: bold 12px Tahoma; color: #000000;}
p {margin: 0px 0px 8px 0px;}
li {margin: 0px 0px 8px 0px;}

.gray89 {color: #898989;}

a:link, a:visited, a:active {text-decoration: underline; color: #549C01;}
a:hover {text-decoration: underline; color: #f26522;}

a img {border:none;}

/* Menu */
#menu {font-size: 14px;}
#menu span {text-decoration: none; color: #FFFFFF; font-size: 14px; font-weight: bold;}
#menu a:link, #menu a:visited, #menu a:active {color: #FFFFFF; font-size: 14px; text-decoration: none;}
#menu a:hover {color: #000000; font-size: 14px; text-decoration: none;}

/* Catalogue menu */
#ex2 {width: 200px; padding-left: 0px; margin-left: 0px;}

/* Left */
/* Catalog menu */
#catmenu {}
#catmenu a:link, #catmenu a:visited, #catmenu a:active {font-size: 12px; color: #669966; padding: 0px 0px 0px 20px; background: url(/i/folder.gif) no-repeat left top; text-decoration: none;}
#catmenu a:hover {color: #307A1E; background: url(/i/folder_a.gif) no-repeat left top; text-decoration: none;}
#catmenu .openfolder a:link, #catmenu .openfolder a:visited, #catmenu .openfolder a:active, #catmenu .openfolder a:hover {font-size: 12px; color: #669966; font-weight: bold; padding: 0px 0px 0px 20px; background: url(/i/folder_c.gif) no-repeat left top; text-decoration: none;}
#catmenu span {font-size: 12px; color: #669966; padding: 0px 0px 0px 20px; font-weight: bold; background: url(/i/folder.gif) no-repeat left top;}
#catmenu .level1 {padding: 6px 0px 4px 0px;}
#catmenu .level2 {padding: 4px 0px 4px 16px;}
#catmenu .level3 {padding: 2px 0px 4px 32px;}
#catmenu .level4 {padding: 2px 0px 4px 48px;}


/* ------------ treeview ---------- */
.treeview, .treeview ul {padding: 0; margin: 0; list-style: none; }
.treeview ul {background-color: #fff; margin-top: 4px;}
.treeview .hitarea {background: url(/i/treeview-tree.gif) -64px -25px no-repeat; height: 16px; width: 20px; margin-left: -16px; float: left; cursor: pointer;}
.treeview a {color:#000000; text-decoration:none;}
/* ------------ banner ---------- */
a .top-pad {padding:10px 0; border:none; }
a .free_cat{padding:0 0 10px 0; border:none; width:170px;}


/* fix for IE6 */
* html .hitarea {display: inline; float: none;}
.treeview li {margin: 0; padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}

#treecontrol {margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li {background: url(/i/treeview-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable {background-position: 0 -176px;}

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable {background-image: url(/i/treeview-tree.gif);}  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
/* ------------ treeview ---------- */

.preview {width: 160px; float: left; padding: 0px 0px 16px 0px;}
.preview .catheader {font-size: 13px;}
.preview .arttext {font-size: 10px;}
.preview .price {color: #CC0000; font-weight: bold;}

/* top */
/* basket */
.basketlink a:link, .basketlink a:visited, .basketlink a:active {font-size: 14px; color: #FFFFFF; font-weight:bold;}
.basketlink a:hover {color: #000000; font-weight:bold;}
.office {font-size: 14px; color: #000000;font-weight:bold;}
a.office {font-size: 14px; color: #FFFFFF; font-weight:bold;}
a.office:hover {color: #000000; font-weight:bold;}

/* enter form */
#enterform {}
#enterform .fieldname {color: #555555; font-size: 10px;}
#enterform .enterformfield {background: #FFFFFF; border:none; border-top: 1px solid #567c20; border-left: 1px solid #567c20; width: 100%; font-size: 11px; color: #555555; padding: 0px 2px 0px 2px; margin: 0px; height: 15px;}
#enterform .passrem a:link, #enterform .passrem a:visited, #enterform .passrem a:active {font-size: 10px; color: #FFFFFF; text-align:right;}
#enterform .passrem a:hover {color: #307A1E;}

/* phone */
#phone {}
#phone .code {font-size: 14px; color: #B0B0B0;}
#phone .number {font-size: 22px; color: #367E24;}



/* Search form */
#searchform {}
#searchform .fieldname {color: #2f2e2e; font-size: 12px;}
#searchform .searchformfield {background:#FFFFFF; border: 1px solid #a7a6aa; width: 132px; font-size: 12px; color: #f8941d; padding: 0px 2px 0px 2px; margin: 0px; height: 20px;}
#searchform h2 {margin: 0px 0px 0px 0px; font-family: 20px Tahoma; font-weight: normal; color: #555555;}
 .bg_line {background:url(/i/bg_line.gif) repeat-x left top; height:1px; margin-bottom:10px;}

/* Subscribe form */
#scribeform {}
#scribeform .fieldname {color: #2f2e2e; font-size: 12px;}
#scribeform .scribeformfield {background:#FFFFFF; border: 1px solid #a7a6aa; width: 132px; font-size: 12px; color: #f8941d; padding: 0px 2px 0px 2px; margin: 0px; height: 20px;}

a.docs {color:#006600; font-size:12px; font-weight:bold;}
a.docs:hover {color:#FF8A00;}

a.free {color:#ae3800; text-transform:uppercase; font-size:11px; font-weight:bold;}
a.free:hover {color:#FF8A00;}
/* Middle colomn */
/*tr.bg_grin {background: url(/i/bg_grin1.jpg) repeat-x top;}*/
.bg_grin2 {background:url(/i/bg_grin2.jpg) repeat-x left; background-position:0 105px;}

/* Path */
#path {color: #898989; font-size: 11px;}
#path span {color: #00000; font-weight:bold;}

#content {padding: 16px 0px; width: 100%}

/*   */
#numeration {width: 100%;}
#numeration .numbercur {height: 17px; border: 1px solid #A7A6AA; padding: 1px; float: left; margin-right: 3px;}
#numeration .numbercur span {background: #D3D8D5; font-size: 14px; font-weight: bold; color: #F26522; padding: 0px 3px 0px 3px;}
#numeration .number {height: 17px; border: 1px solid #A7A6AA; padding: 1px; float: left; margin-right: 3px;}
#numeration .number a:link, #numeration .number a:visited, #numeration .number a:active {font-size: 14px; color: #444444; font-weight: bold; text-decoration: none; padding: 0px 3px 0px 3px;}
#numeration .number a:hover {color: #F26522; text-decoration: none;}

/* Catalog */
#catalog {}
#catalog .el {width: 160px; height: 300px; margin-right: 10px; margin-left: 70px; float: left;}
#catalog .el a:link, #catalog .el a:visited, #catalog .el a:active {font-size: 12px; color: #000000; font-weight: bold; text-decoration: none;}
#catalog .el a:hover {text-decoration: underline; color: #f26522;}
#catalog .el span {font-size: 10px; color: #898989;}
#catalog .el .price {font-size: 14px; font-weight: bold; font-family: arial; color: #F26522;}
#catalog .el .inbasketform .inbasketformfield {border: 1px solid #A7A6AA; width: 16px; font-size: 10px; color: #444444; padding: 0px 2px 0px 2px; margin: 0px; height: 14px;}
#catalog .el .lot {font-size: 11px; color: #598527;}

#catcur .price {font-size: 24px; font-weight: bold; font-family: arial; color: #F26522;}
#catcur span {color: #898989; font-size: 12px; }
#catcur .inbasketform .inbasketformfield {border: 1px solid #A7A6AA; width: 36px; font-size: 18px; color: #444444; padding: 0px 2px 0px 2px; margin: 0px; height: 22px; text-align: center;}
#catcur .article {font-size: 14px; font-family: arial; color: #444444;}
#catcur .prop {color: #333333;}

/* News */
#lastnews .date {padding-left: 12px; font-size: 10px; color: #000000; background: url(/i/star.gif) no-repeat left 2px;}
#lastnews .header a{font-size: 12px; font-weight:bold; color:#549c01;}
#lastnews .ptext {color: #000000; font-size: 11px;}

/* articles*/ 
#lastarticles .date {padding-left: 12px; font-size: 10px; color: #000000; background: url(/i/star.gif) no-repeat left 2px;}
#lastarticles .header a{font-size: 11px; color:#549c01; font-weight:bold;}
#lastarticles .ptext {color: #898989; font-size: 11px;}

/*   */
#sleaders {}
#sleaders a:link, #catalog a:visited, #catalog a:active {font-size: 12px; color: #549C01; font-weight: bold;}
#sleaders a:hover {text-decoration: underline; color: #f26522;}
#sleaders span {font-size: 10px; color: #898989;}
#sleaders .price {font-size: 14px; font-weight: bold; font-family: arial; color: #000000;}

/* Bottom */
/*  */
#copyright {font-size: 11px; font-family: Arial; color: #666666;}

/* Menu */
#bottommenu {font-size: 12px; font-weight: bold;}
#bottommenu span {text-decoration: none; color: #BBBBBB; font-size: 12px;}
#bottommenu a:link, #bottommenu a:visited, #bottommenu a:active {color: #444444; font-size: 12px; text-decoration: none;}
#bottommenu a:hover {color: #f26522;}

/* Cont */
#cont td {color: #555555}

/* copy */
#copy, #copy a:link, #copy a:visited, #copy a:active, #copy a:hover, #copy span {font-size: 11px; text-decoration: none; color: #666666;}


/*from profile_edit */
#profile_edit input {width:200px;background: transparent; border: 1px solid #A7A6AA; font-size: 14px; color: #F8941D; padding: 0px 2px 0px 2px; margin: 0px; height: 20px;}
#profile_edit textarea {width:300px;background: transparent; border: 1px solid #A7A6AA; font-size: 14px; color: #F8941D; padding: 0px 2px 0px 2px; margin: 0px; height: 120px;}

  div.tobasket { margin: 0px; width: 26px; height: 28px; position: relative; float:right; border:0px solid #000000;} //  
  div.basket_ico { margin: 10px 10px 0px 50px; width: 26px; height: 28px; background: none; border: 0px; position: relative;}
  div.basket_ico .coll {color:#000000; text-decoration:none;}  
  .ui-effects-transfer { border: 1px; background: url("/i/i_basket-f.gif") no-repeat; }

/*поля ввода в форме регистрации*/
.reg_inpit {width:300px;}
.farum {padding-right: 12px; text-align:right;}
.farum a{ color:#000000; text-decoration:none; background: url(/i/bg_line2.gif) repeat-x left bottom; padding-bottom:3px;  font-size:11px; font-weight:bold; }

.ordertable TD {
	font-size: 8pt;
}