<!-- Шапка сайта -->
<?include('_top.php')?>


<script type="text/javascript" src="/templates/jquery.fancybox.js"></script>
<script type="text/javascript" src="/templates/jquery.pngfix.js"></script>

	<!-- Path -->
<div id="path">
<?=$catalog_path?>
</div>
	<!-- Path -->
	</td>
	<td></td>
	</tr>
	
	<tr valign="top">
	<td></td>
	<td colspan="2">
		
		<!-- Content -->
		<div id="content">
		<h1><?=$h1?></h1>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" id="catcur">
		<tr valign="top">
		<td>
<?=@$img?>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr valign="bottom">
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr valign="bottom">
								<td class="price"><?=$price?></td>
								<td><span>&nbsp;&nbsp;руб.&nbsp;&nbsp;</span><table border="0" cellpadding="0" cellspacing="0" height="4"><tr><td></td></tr></table></td>
							</tr>
						</table>
			
					</td>
					<?=$catalog_vars['putincart']?>
				</tr>
				<tr valign="top">
					<td><table width="140" border="0" cellpadding="0" cellspacing="0" height="16"><tr><td></td></tr></table></td>
					<td colspan=2><table width="100" border="0" cellpadding="0" cellspacing="0" height="16"><tr><td></td></tr></table></td>
				</tr>
				<tr>
					<td style="padding-left: 10px;"><span class="article"><?=$catalog_vars['id']?></span><span>&nbsp;- Код товара</span></td>
					<td colspan=2 align="right">&nbsp;<?=$catalog_gallery?></td>
				</tr>
			</table>
		<table border="0" cellpadding="0" cellspacing="0" height="36"><tr><td></td></tr></table>
<table border="0" cellpadding="0" cellspacing="0" style="margin-right: 20px;">
		<?
			if ($body != '') echo '
			<tr valign="top">
			<td height="12" style="background: url(/i/greendot.gif) no-repeat left 4px;"><table width="10" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
			<td>'.$body.'</td>
			</tr>

			<tr><td colspan="2" height="16"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>';
			if ($description1 != '') echo '
			<tr valign="top">
			<td height="12" style="background: url(/i/greendot.gif) no-repeat left 4px;"><table width="10" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
			<td>'.$description1.'</td>
			</tr>

			<tr><td colspan="2" height="16"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>';
			if ($description2 != '') echo '
			<tr valign="top">
			<td height="12" style="background: url(/i/greendot.gif) no-repeat left 4px;"><table width="10" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
			<td>'.$description2.'</td>
			</tr>

			<tr><td colspan="2" height="16"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>';
			if ($description3 != '') echo '
			<tr valign="top">
			<td height="12" style="background: url(/i/greendot.gif) no-repeat left 4px;"><table width="10" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
			<td>'.$description3.'</td>
			</tr>

			<tr><td colspan="2" height="16"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>';
			if ($description4 != '') echo '
			<tr valign="top">
			<td height="12" style="background: url(/i/greendot.gif) no-repeat left 4px;"><table width="10" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
			<td>'.$description4.'</td>
			</tr>

			<tr><td colspan="2" height="16"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>';
		?>
			</table>
		</td>
	</tr>
</table>
	</div>
	<?=$shop_attend?>
	<table border="0" cellpadding="0" cellspacing="0"><tr><td height="20"></td></tr></table>
		</div>
		<!-- Content -->
	
	</table>

</td>
<td>

	<table width="200" border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td width="1%" height="11" style="background: url(/i/corner_5_lt.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	<td width="98%" style="background: url(/i/corner_5_t.png) repeat-x left bottom;"></td>
	<td width="1%" style="background: url(/i/corner_5_rt.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr>
	<td colspan="2" height="1" bgcolor="#FFFFFF"></td>
	<td style="background: url(/i/corner_4_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>	

	<tr>
	<td colspan="2" height="11" style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left;"></td>
	<td style="background: url(/i/corner_6_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr valign="top">
		<td colspan="2"  style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left; padding-left:12px;">
				
		<form method="post">
		<input type="hidden" name="shop_fast_put">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" id="searchform">
			
			<tr><td class="fieldname" colspan="2"><h2>Быстрое</h2>формирование корзины</td></tr>
			<tr>
				<td>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr valign="middle">
						<td width="99%"><input class="searchformfield" type="text" id="good_code" name="good_code" value="Код товара" OnFocus="if ($('#good_code').val()=='Код товара') $('#good_code').val('');" OnBlur="if ($('#good_code').val()=='') $('#good_code').val('Код товара');" maxlength=140 border="0"></td>
						<td width="1%"></td>
						</tr>
						<tr><td height="12" colspan="2"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td></tr>					
						<tr valign="middle">
						<td width="99%"><input class="searchformfield" type="text" id="good_count" name="good_count" value="Количество" OnFocus="if ($('#good_count').val()=='Количество') $('#good_count').val('');" OnBlur="if ($('#good_count').val()=='') $('#good_count').val('Количество');" maxlength=140 border="0"></td>
						<td width="1%"></td>
						</tr>					
					</table>
				</td>
				<td width="1%"  style="vertical-align:bottom; padding: 0px 0px 0px 8px;">
					<input type="image" title="Добавить в корзину" src="/i/basket2.gif" style="cursor: hand; cursor: pointer; padding: 0px; margin: 0px;">
				</td>
			</tr>
			<tr><td class="fieldname" colspan="2"><?=$shop_fastput_error?></td></tr>
		</table>		
		</form>		
		</td>
		<td style="background: url(/i/corner_5_l.png) repeat-y left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	<tr>
	<td colspan="2" height="11" style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left;"></td>
	<td style="background: url(/i/corner_6_rb.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	<tr>
	<td colspan="2" height="1" bgcolor="#FFFFFF"></td>
	<td style="background: url(/i/corner_4_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	<tr>
	<td width="1%" height="11" style="background: url(/i/corner_5_lb.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	<td width="98%" style="background: url(/i/corner_5_b.png) repeat-x left bottom;"></td>
	<td width="1%" style="background: url(/i/corner_5_rb.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>

<!-- ******************************* -->

	<tr>
	<td width="1%" height="11" style="background: url(/i/corner_5_lt.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	<td width="98%" style="background: url(/i/corner_5_t.png) repeat-x left bottom;"></td>
	<td width="1%" style="background: url(/i/corner_5_rt.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr>
	<td colspan="2" height="1" bgcolor="#FFFFFF"></td>
	<td style="background: url(/i/corner_4_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>	

	<tr>
	<td colspan="2" height="11" style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left;"></td>
	<td style="background: url(/i/corner_6_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr valign="top">
		<td colspan="2"  style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left; padding-left:12px;">


		<!-- Форма поиска -->
		<?=$search_form?>		
		<!-- Подписка на новости-->
		<?=$subscribe?>
		<!-- Подписка на новости-->
		<div class="bg_line"><table border="0" cellpadding="0" cellspacing="0" height="1"><tr><td></td></tr></table></div>
		<!-- Форма СКАЧАТЬ ПЛАТЕЖКУ -->
		<a href="/docs/" class="docs" ><b>Скачать квитанцию</b></a>

		
		</td>
		<td style="background: url(/i/corner_5_l.png) repeat-y left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr>
	<td colspan="2" height="11" style="background: #f6f8f4 url(/i/bg_grin5.jpg) repeat-y left;"></td>
	<td style="background: url(/i/corner_6_rb.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	<tr>
	<td colspan="2" height="1" bgcolor="#FFFFFF"></td>
	<td style="background: url(/i/corner_4_rt.png) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	<tr>
	<td width="1%" height="11" style="background: url(/i/corner_5_lb.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	<td width="98%" style="background: url(/i/corner_5_b.png) repeat-x left bottom;"></td>
	<td width="1%" style="background: url(/i/corner_5_rb.png) no-repeat left bottom;"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>	
	
<!-- ******************************* 


		
	
	<tr>
	<td colspan="3" valign="top" style="padding-right:5px;">
		<a href="/free/" target="_blank"><img src="/i/bc.gif" alt="Бесплатные каталоги" title="Бесплатные каталоги" class="top-pad"  /></a>

	</td>
	</tr>

 -->
	
	<tr>
	<td colspan="3" height="12"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>	
	<tr>
	<td colspan="2" style="background: url(/i/bg_orange_dot.gif) repeat-x left top;"></td>
	<td height="12" style="background: url(/i/corner_4_rt.gif) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr valign="top">
	
	<td></td>
	<td align="center">
		<!--   -->
		<a href="/free/" target="_blank"><img src="/i/free_catalod.jpg" alt="Бесплатные каталоги" title="Бесплатные каталоги" class="free_cat"  /></a><br />
<a href="/free/" class="free">Бесплатные каталоги</a>
		<!--   -->
		
	
	</td>
	<td style="background: url(/i/bg_orange_dot.gif) repeat-y 6px top;"></td>
	</tr>
	
	<tr>
	<td colspan="2" style="background: url(/i/bg_orange_dot.gif) repeat-x left bottom;"></td>
	<td height="12" style="background: url(/i/corner_4_rb.gif) no-repeat right top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
<!-- ******************************* -->	
		
	<tr>
	<td width="1%" height="20"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	<td width="98%"></td>
	<td width="1%"><table width="12" border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr>
	<td colspan="2" style="background: url(/i/bg_orange_dot.gif) repeat-x left top;"></td>
	<td height="12" style="background: url(/i/corner_4_rt.gif) no-repeat left top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	
	<tr valign="top">
	
	<td></td>
	<td>
		<!--   -->
<?=$hotcatalog_list?>
		<!--   -->
		
	
	</td>
	<td style="background: url(/i/bg_orange_dot.gif) repeat-y 6px top;"></td>
	</tr>
	
	<tr>
	<td colspan="2" style="background: url(/i/bg_orange_dot.gif) repeat-x left bottom;"></td>
	<td height="12" style="background: url(/i/corner_4_rb.gif) no-repeat right top;"><table border="0" cellpadding="0" cellspacing="0"><tr><td></td></tr></table></td>
	</tr>
	</table>
	
	
</td>
<td></td>
</tr>
<!-- Верхняя часть сайта -->




<!-- Нижняя часть сайта -->
<?include('_bot.php')?>