#authWrapper {
	width: 100%;
}
#auth {
	margin: 0 auto;
}
.form_field{
	width: 220px;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #F6A828;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	outline: none;
	font-size: 12px;
	display: block;
}
#sbmt {
	border: none;
	width: 80px;
	height: 28px;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #F6A828;
	background-color: white;
	font-weight: bold;
	color: grey;
}
#sbmt:hover {
	background-color: #F6A828;
	color: white;
}
#sbmt:active {
	margin: 1px 0 0 1px;
}