<!-- Шапка сайта -->
<?include('_top.php')?>



<!-- Path -->
<div id="path">
<?=$path?>
</div>
	<!-- Path -->
	</td>
	<td></td>
	</tr>
	
	<tr valign="top">
	<td></td>
	<td>
		
		<!-- Content -->
		<div id="content">
		<h1>Страница разработчика</h1>
			Дизайн студия "ФАРУМ" <a href="http://www.farum.ru">удивляет качеством разработки сайта</a>! Мы помогаем вам расширить бизнес.
		</div>
		<!-- Content -->
	
	</table>

</td>
<td>

	<?include '_right.php';?>


</td>
<td></td>
</tr>
<!-- Верхняя часть сайта -->



<!-- Нижняя часть сайта -->
<?include('_bot.php')?>