<!-- Шапка сайта -->
<?include('_top.php')?>
<script type="text/javascript">

// при готовнсти страницы назначаем обработчики 
$(document).ready(function(){	
	// назначаем на отправку форму новый обработчик - отправка без перезагрузки страницы
	//$('#cartform').ajaxForm({target:'#basket', success: function(){switchOnOffLoading(0);}}); 
 	$("#body").mousemove(onBodyMouseOver);
 	$("#basket>table>tbody>tr:eq(0)").remove();
 	if ($("#cartform"))
	{
		$('#cartform').ajaxForm({target:'#basket'});
	} 
});

// включение иконки-загрузки и отправка формы
function mainFormSend()
{
	switchOnOffLoading(1);
	$('#cartform').submit();
}

// выключение/выключение картинки загрузки
function switchOnOffLoading(on)
{
	if (on == 1)
	{
		$("#loading").css("display", "");
	}
	else
	{
		$("#loading").css("display", "none");
	}
	
}


// перемещение картинки вместе с курсором мыши
function onBodyMouseOver(obj)
{							
		$("#loading").css("top", obj.pageY+"px");
		x = obj.pageX+20;
		$("#loading").css("left", x+"px");
}

// при выборе региона - запрос спика районов
function onChangeRegion()
{
	switchOnOffLoading(1);
	$('#rayon').empty();	
	$('#gorod').empty();
	$('#adress').val('');	
	
	var region = $('#region').val();
	$.post('/shop/rayon/ajax/', {
		region: region
		},
		function (data)
		{
			$('#rayon').html(data);
			$('#rayon').val('');
			$('#rayon').removeAttr("disabled");
			switchOnOffLoading(0);
		} 
	)
		
}

// при выборе района - запрос спика почтовых отделений
function onChangeRayon()
{
	switchOnOffLoading(1);
	$('#gorod').empty();		
	var rayon = $('#rayon').val();	
	var region = $('#region').val();
	$.post('/shop/gorod/ajax/', {
		region: region,
		rayon: rayon
		},
		function (data)
		{
			$('#gorod').html(data);	
			$('#adress').val('');
			switchOnOffLoading(0);		
		} 
	)
	$('#gorod').removeAttr("disabled");
}


// при выборе почтового отделения - заполнение формы - адрес доставки
function onChangeGorod()
{
	var text=$('#gorod').val().replace('- район не определён, ','');
	$('#adress').attr('value', text);
	$('#adress').focus();
}


// при отправке формы заказа, нужно проверить правильность наполнения формы
function onFormOrderSubmit()
{
	var ok = true;
	
	
	if ($('#first_buy').val() == 'yes')
	{	
		$('#span_region').css('color', '');
		
		if ($('#region').val() == '')
		{
			ok = false;
			$('#span_region').css('color', 'red');
		}
		
		$('#span_rayon').css('color', '');		
		if (($('#rayon').val() == '') || ($('#rayon').val() == null))
		{
			ok = false;
			$('#span_rayon').css('color', 'red');
		}
		
		$('#span_gorod').css('color', '');
		if (($('#gorod').val() == '') || ($('#gorod').val() == null))
		{
			ok = false;
			$('#span_gorod').css('color', 'red');
		}
		
		$('#span_adress').css('color', '');
		if ($('#adress').val() == '')
		{
			ok = false;
			$('#span_adress').css('color', 'red');
		}
		
		$('#span_adress_deliver').css('color', '');
		if ($('#adress_deliver').val() == '')
		{
			ok = false;
			$('#span_adress_deliver').css('color', 'red');
		}
		
		$('#span_f').css('color', '');
		if ($('#f').val() == '')
		{
			ok = false;
			$('#span_f').css('color', 'red');
		}
		
		$('#span_i').css('color', '');
		if ($('#i').val() == '')
		{
			ok = false;
			$('#span_i').css('color', 'red');
		}
		
		$('#span_o').css('color', '');
		if ($('#o').val() == '')
		{
			ok = false;
			$('#span_o').css('color', 'red');
		}
		
		
		$('#span_naznach').css('color', '');
		if ($('#naznach').val() == '')
		{
			ok = false;
			$('#span_naznach').css('color', 'red');
		}
		
		$('#span_predoplata').css('color', '');
		if ($('#predoplata').val() == '')
		{
			ok = false;
			$('#span_predoplata').css('color', 'red');
		}
	}
	
	if ($('#first_buy').val() == 'no')
	{
		$('#span_email').css('color', '');
		if ($('#email').val() == '')
		{
			ok = false;
			$('#span_email').css('color', 'red');
		}
		else
		{				
			var reg = new RegExp("[\\-0-9a-z_^.]+@[\\-0-9a-z_^.]+\\.[a-z]{2,4}", 'i');
			if (!reg.test($('#email').val())) 
			{
				ok = false;
				alert('Вы ввели некорректный email');
			}
		}
		
		$('#span_index').css('color', '');
		if ($('#index').val() == '')
		{
			ok = false;
			$('#span_index').css('color', 'red');
		}
	}
		
	if (ok)
	{
		$('#cartform').attr('action', '/free/send/');
		$('#cartform').submit();
	}
}

// если пользователь сам ввёл свой индек, то его нужно проверить
function onMyIndex()
{
	
	var myindex = String($('#myindex').val());
	
	if (myindex.length == 6)
	{	
		switchOnOffLoading(1);
		$.getJSON('/shop/myindex/ajax/'+myindex+'/', 
			function (data)
			{
				if (data.error == '')
				{
					$('#region').val(data.oblast);
					$('#rayon').html(data.rayon);
					$('#gorod').html(data.gorod);
					$('#adress').val(data.adress);
					$('#rayon').removeAttr("disabled");
					$('#gorod').removeAttr("disabled");
					$('#adress').focus();
				}
				else
				{
					alert(data.error);
					$('#myindex').val('')
				}
				
				switchOnOffLoading(0);
			} 
		)
	}
}


</script>



<!-- Path -->
<div id="path">
<?=$path?>
</div>
	<!-- Path -->
	</td>
	<td></td>
	</tr>
	
	<tr valign="top">
	<td></td>
	<td>
		
		<!-- Content -->
		<div id="content">
		<h1><?=$h1?></h1>
			<form id="cartform" name="cartform" method="post" action="/shop/calc/ajax/">
			<div id="basket" style="position:relative;">
				<?=$body?>
			</div>
			</form>
		</div>
		<!-- Content -->
	
	</table>

</td>
<td>

	<?include '_right.php';?>
	
	
</td>
<td></td>
</tr>
<!-- Верхняя часть сайта -->



<!-- Нижняя часть сайта -->
<?include('_bot.php')?>