/*
 * ChronoCMS (chronocms.com)
 * Copyright 2010 - chronocms.com
 * license : Commercial
 * Redistributions of files must retain the above copyright notice.
 */
/*================   FORMS STYLES   =================*/

.ccms_form_element p { margin-bottom: 9px;}
.ccms_form_element input, textarea, input[type="file"]  {padding:5px 3px !important;  border: 1px solid #a26c50; margin-bottom: 5px; background-color:#dfcaa0; color:#2e0602; font:11px arial;}
.cfdiv_text input  {width:200px;}
.cfdiv_submit input  {display:block; margin:0 auto; cursor:pointer;}
.ccms_form_element select { padding: 3px; border: 1px solid #a26c50; background-color:#dfcaa0; min-width: 100px;}
/*.ccms_form_element select { min-width: 163px; }*/
.cfdiv_checkboxgroup input {
	border: 1px solid #a26c50; background-color:#dfcaa0;
	}

.ccms_form_element label { float: left; width: 150px; line-height: 18px; margin: 2px 0 9px ; color:#2e0602;}
.ccms_form_element fieldset  {
background-color:#FAFAFA;
border:1px solid #EEEEEE;
padding:15px;
width:auto; }
.ccms_form_element fieldset legend {font-weight:bold; margin-left:-10px; padding:10px; }

.ccms_form_element { margin-bottom: 10px; position: relative; padding: 0px 0px 0px 5px; /*border-bottom: 1px solid #dddddd;*/}

.cfdiv_select select,
/*.cfdiv_text input, .cfdiv_text label { float: left; }*/
.cfdiv_text label { width: 200px; }


.small-message, .error-message { line-height: 18px; margin: 4px 0 0 155px; font-size: 11px; display: block; clear: both;}
.small-message { color: #999999; font-style: italic; }
.error-message { color: red;}
.required input { border-color: #cccccc; background-color: #f9f9f9;}
.form-error { background-color: #fff4f4; border: 1px solid #ffd4d4;}


.tooltipimg { position: absolute; top: 5px; right: 10px; line-height: 21px;  color: #999999; }
.tooltipimg a {display: inline-block; font-weight: bold; color: #999999; line-height: 21px; height: 20px; background-color: #eeeeee; width: 20px; text-align: center;}
.tooltipimg a:hover { color: white; text-decoration: none;}


.cfdiv_checkboxgroup label, .cfdiv_radiogroup label, 
.cfdiv_checkbox label, .cfdiv_radio label { font-weight: normal; /*margin-bottom: 5px;*/margin: 6px 0 9px; }
.full_label {width: 70% !important;}
.cfdiv_checkboxgroup label:first-child, .cfdiv_radiogroup label:first-child, 
.cfdiv_checkbox label:first-child , 
.cfdiv_radio label:first-child, 
.cfdiv_checkbox label:first-child,
.cfdiv_checkboxgroup label:first-child { font-weight: bold !important; margin-bottom: 9px;}

.ccms_form_element .button { 
	background-color: #37a8f0; 
	border: 0;
	padding: 5px 7px;
	font-size: 11px; 
	color: white;
	text-decoration: none; 
} 
  
.ccms_form_element .button:hover {
	background-color: #999999; 
 	text-decoration: none;
 	}


/* input sizes */
.small_input { width: 200px !important;}
.medium_input { width: 350px !important; }
.big_input, .title_input { width:475px !important; }
.title_input { padding: 8px 5px; font-size: 18px; margin-bottom: 15px; float: left !important;}


/* input types */
.ccms_form_element input[type="checkbox"], 
/*.ccms_form_element input[type="radio"] { border-color: transparent; margin: 8px 9px 0 0; clear: none; }*/
.ccms_form_element input[type="radio"] { padding: 0 0 0 0 !important;  margin: 10px 5px 10px 5px; clear: none; }

/* fixes for radio and checkboxes*/
.cfdiv_checkboxgroup label, .cfdiv_radio label { width: auto; margin-right: 25px;  }
.cfdiv_checkboxgroup label:first-child, .cfdiv_radio label:first-child { width: 150px; margin-right: 0;}
.cfdiv_checkboxgroup label, .cfdiv_radio label,
.cfdiv_checkboxgroup input, .cfdiv_radio input { float: left; }

.label_right{float: left; margin-left: 150px !important;}


.label_over label:first-child { float: none !important;  }
.label_over label:first-child { display: block; width:95% !important; }
.label_over .small-message, .label_over .error-message {  margin-left: 0;}

.radios_over label, .radios_over input {
    float: left !important;
}
.radios_over input {
    clear: left !important;
}

/* other fixes */
.fc-tbx{
	z-index:9999;
}
.validation_label{
	display:block;
	width:100%;
}
.chrono_captcha_input{
	vertical-align:top;
}

/*.clear{
	clear:both;
	visibility:hidden;
}*/

.clear:after {

}
.multiline_start{
	clear:none !important;
	float: left !important;
}
.multiline_add{
	clear:none !important;
	float: left !important;
	padding-left: 10px !important;
}

#autoID-13bca6a67d01c7976d6f768d3ac56154_container_div label, #autoID-4a14794c4b66403b73bd26b570396dbc_container_div label, #autoID-92af8375dc53f4180cd6888241881c7f_container_div label {
	width:70px;
	}

#autoID-92af8375dc53f4180cd6888241881c7f_container_div label {
	width:20px;
	}
	
#autoID-13bca6a67d01c7976d6f768d3ac56154_container_div select, #autoID-09206f3863fd5d76575950001e88def1_container_div select, #autoID-4a14794c4b66403b73bd26b570396dbc_container_div select, #autoID-f29a08093cc630bcfeb6c25c23b079b3_container_div select, #autoID-92af8375dc53f4180cd6888241881c7f_container_div select, #autoID-55e68704c168c7f6995976e0c4bbc21c_container_div select {
	width:30px;
	}	
	
#autoID-13bca6a67d01c7976d6f768d3ac56154_container_div .clear, #autoID-4a14794c4b66403b73bd26b570396dbc_container_div .clear, #autoID-92af8375dc53f4180cd6888241881c7f_container_div .clear, #autoID-f29a08093cc630bcfeb6c25c23b079b3_container_div .clear, #autoID-a67e519595bd02911bc3c63cf2c8e593_container_div .clear, #autoID-00342b132bad53f10ee6fce316705d20_container_div .clear, #autoID-12edf3786a0f5dc90772851b233a58ed_container_div .clear {
	display:none;
}
#autoID-13bca6a67d01c7976d6f768d3ac56154_container_div {	
	width:180px;
	float:left;
	}
	
#autoID-4a14794c4b66403b73bd26b570396dbc_container_div {
	width:180px;
	float:left;
	}
	
#autoID-92af8375dc53f4180cd6888241881c7f_container_div {
	width:130px;
	float:left;
	}
	
#autoID-f29a08093cc630bcfeb6c25c23b079b3_container_div {
	width:120px;
	float:left;
	}

#autoID-a67e519595bd02911bc3c63cf2c8e593_container_div {
	width:380px;
	float:left;
	}
	
#autoID-a67e519595bd02911bc3c63cf2c8e593_container_div label {
	width:150px;
	margin-top:0;
	}	
	
#autoID-a67e519595bd02911bc3c63cf2c8e593_container_div input {
	}	
	
#autoID-00342b132bad53f10ee6fce316705d20_container_div {
	width:380px;
	float:left;
	}
	
#autoID-12edf3786a0f5dc90772851b233a58ed_container_div {
	width:250px;
	float:left;
	}

#autoID-12edf3786a0f5dc90772851b233a58ed_container_div label {
	width:150px;
	}
	
#autoID-12edf3786a0f5dc90772851b233a58ed_container_div input, #autoID-306007b7da99ee747c7800c2df286742_container_div input {
	width:50px;
	}	
	
#autoID-306007b7da99ee747c7800c2df286742_container_div label {
	width:40px;
	}
	
.cfdiv_checkboxgroup input {	
	clear:both !important;
	margin-top:7px !important;
	}

#autoID-efea01cd19724fc9b87fcd9d93482f82_container_div {
	margin-left:150px;
	}
	
#autoID-efea01cd19724fc9b87fcd9d93482f82_container_div textarea {
	width:300px;
	height:100px;
	}
	
#chronoform_form1 {
	margin-top:30px;
	width:610px;
	float:left;
	}
	
#autoID-13bca6a67d01c7976d6f768d3ac56154_container_div, #autoID-4a14794c4b66403b73bd26b570396dbc_container_div, #autoID-f29a08093cc630bcfeb6c25c23b079b3_container_div, #autoID-92af8375dc53f4180cd6888241881c7f_container_div, #autoID-a67e519595bd02911bc3c63cf2c8e593_container_div, #autoID-00342b132bad53f10ee6fce316705d20_container_div, #autoID-12edf3786a0f5dc90772851b233a58ed_container_div {
	z-index:20000;
	}
	
#autoID-ef3ce7ece43c1cd75d6f02c8a01b77c4_container_div label, #autoID-259956553b558fa0c89987afbf32db99_container_div label {
	width:250px;
	}