/* Search Results
-----------------------------------------------------------------------------*/
.result-created,.result-category {
	font-size: 80%;
	color: @grayLight;
	font-style: italic;
	padding: 10px 0;
}

.result-created {
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 1px solid @borderColor;
}

.result-title {
	font-size: 1.6em;
}
