@T3gridWidth1200: 1200px;
@gridGutterWidth1200: 40px;
@T3gridWidth: 940px;
@gridGutterWidth: 40px;
@T3gridWidth980: 940px;
@gridGutterWidth980: 40px;
@T3gridWidth768: 740px;
@gridGutterWidth768: 20px;
@basewidth: 960px;
@navbarCollapseWidth: 800px;
@primary: #DC5F59;
@secondary: #F36E9A;
@textColor: #444444;
@headingsColor: #666666;
@borderColor: #dddddd;
@minorborderColor: #efefef;
@navbarLinkColor: @gray;
@navbarLinkColorHover: @secondary;
@navbarLinkColorActive: @primary;
@dropdownBackground: @bodyBackground;
@dropdownColor: @grayLight;
@dropdownLinkColor: @textColor;
@dropdownLinkColorHover: @secondary;
@dropdownLinkColorActive: @linkColorActive;
@dropdownLinkBorderColor: lighten(@borderColor, 6%);
@logoSize: 2.4em;
@logoColor: @grayDarker;
@taglineColor: @gray;
@taglineLeft: 0px;
@taglineTop: 20px;
@linkColor: @primary;
@linkColorHover: @secondary;
@linkColorActive: @secondary;
@btnColor: @secondary;