/*pt_sansregular*/

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff url(../images/burger.png) no-repeat 50% 50%;
    width: 20px;
    border: 1px solid rgba(214, 214, 214, 0.73) !important;
    position: relative;
    left: -7px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.52);
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(172, 172, 172, 0.33); 
    width: 10px;
    border-radius: 0;
}

.mCS-my-theme2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff;
    width: 10px;
    border: 1px solid rgba(214, 214, 214, 0.73) !important;
    position: relative;
    left: -7px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.12);
}

.mCS-my-theme2.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(172, 172, 172, 0.03); 
    width: 10px;
    border-radius: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 40px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 40px;
    height: 100% !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 7px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(214, 214, 214, 0.73) !important;
}

body {
    background-color: #f9f9f9;
}

.zeroBox {
    width: 940px;
    margin: 0 auto;
    padding: 0 5px;
    font-size: 18px;
}

.line {
    display: table;
    width: 100%;
}

/***************header*/

.header {
    padding: 10px 0;
}

.header .box {
    float: left;
}

.header .box:last-child {
    float: right;
}

.header .box .block {
    float: left;
}

.header a {
    text-decoration: none;
    font-family: 'PT Sans';
}

.header .box:first-child {
    text-align: right;
    margin-right: 30px;
}

.header .box:first-child a {
    font-size: 14px;
    color: #aaa;
}

.header .box:nth-child(2) p {
    font-size: 15px;
}

.header .box:nth-child(2) .block:first-child {
    margin-right: 30px;
}

.header .box p.tel {
    font-size: 18px;
    font-weight: 700;
}

.header .box a {
    color: #4b93cf;
}

.header .box a:hover {
    color: #4f34be;
}

.header .box:last-child .block:first-child a {
    color: orange;
    font-weight: 700;
	border-bottom: 1px dashed orange;
}

.header .box:last-child .block:first-child a:hover {
    color: #ffc400;
}

.header .box:last-child .block:last-child {
    text-align: right;
    margin-left: 30px;
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid #ddd;
position:relative;
}

.header .box:last-child .block:last-child span{
cursor:pointer;
position:absolute;
    bottom: -35px;
    right: 0px;
    background-color: #fff;
    padding: 5px;
    padding-left: 10px;
padding-right:10px;
border:1px solid #ddd;
display:none;
z-index:99;
}

.header .box:last-child .block:last-child a {
    position: relative;
    margin-right: 15px;
}

.header .box:last-child .block:last-child a:after {
    content: " ";
    width: 10px;
    height: 10px;
    background: url(../images/Arrowhead-Down-16.png) no-repeat 0 0;
    background-size: contain;
    display: block;
    position: absolute;
    top: 35%;
    right: -15px;
}

    

/******end header*/

/*navigation*/

.navigation {
	background-color: #d6dae1;
    padding: 10px 0;
    min-width: 949px;
    position: relative;
}

.navigation ul li {
    display: inline-block;
    margin-right: 10px;
}

.navigation ul li:last-child {
    margin-right: 0;
    margin-left: 0;
}

.navigation ul input {
    font-family: 'PT Sans';
    background: #fff url(../images/search.png) no-repeat 95% 50%;
    border: 1px solid rgb(187, 191, 196);
    border-radius: 50px;
    padding: 10px 30px 10px 15px;
    font-size: 18px;
	display:none;
}

.navigation ul a {
    font-size: 18px;
    color: #2e8ac8;
    margin-right: 10px;
    text-decoration: none;
}

.navigation ul a:hover {
    color: #4f34be;
}

div.navigation a.active {
    color: rgb(60, 65, 69);
    font-weight: 700;
}


/*end navigation*/

/*mainPart*/

.mainPart {
    margin-bottom: 200px;
}

.mainPart h1 {
    color: #3c3f45;
    font-size: 36px;
    line-height: 1.9em;
}

.mainPart .mainWrap {
    background-color: #fff;
}

.claim .line {
    margin-bottom: 20px;
}

.claim form {
    padding: 20px 0;
}

.claim .line.last {
    border-bottom: 1px solid #d6dae1;
    padding-bottom: 50px;
}

.claim p {
    float: left;
    width: 155px;
    margin-right: 30px;
    padding-left: 20px;
}

.claim input {
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #488dcf;
    border-radius: 2px;
}

.claim input[type="file"] {
    padding-left: 0;
    border: none;
}

.claim textarea {
    width: 56%;
    height: 179px;
    font-family: 'PT Sans';
    font-size: 18px;
    padding: 5px;
    border: 1px solid #488dcf;
}

.claim .jq-file {
    overflow: inherit;
    box-shadow: none;
    width: 180px;
}

.claim .jq-file__name {
    border-color: #488dcf;
    width: 140px;
    padding-right: 5px;
}

.claim .jq-file__browse {
    border: 1px solid #488dcf;
    top: 0;
    right: 0;
    border-radius: 2px;
}

.claim .jq-file__name,
.claim .jq-file__browse {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+27,ffffff+27,d6d6d6+100&1+0,0.72+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 27%, rgba(214,214,214,0.72) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 27%,rgba(214,214,214,0.72) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 27%,rgba(214,214,214,0.72) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b8d6d6d6',GradientType=0 ); /* IE6-9 */
}

.mainPart input[type="submit"] {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
    border-radius: 2px;
    background-color: #f27f00;
    color: #fff;
    font-size: 17px;
    font-family: 'PT Sans';
    margin-left: 205px;
    border: none;
}

.mainPart input[type="submit"]:hover {
    cursor: pointer;
    background-color: #f29500;
}

/*end mainPart*/

/*footer*/

.footer {
    background-color: #fff;
}

.footer p {
    padding: 25px 5px 25px 0;
    border-top: 1px solid #d6dae1;
    font-size: 14px;
    color: #bbb;
}

/*end footer*/


/*************************************************************otgruzkiPage*/

/*mainPArt*/
/*.otgruzkiPage*/ .mainPart h1 {
    display: inline;
}

/*.otgruzkiPage*/ .mainPart .buttonOrange {
    text-align: center;
    line-height: 2em;
    border-radius: 2px;
    background-color: #f27f00;
    color: #fff;
    font-size: 17px;
    font-family: 'PT Sans';
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}

.otgruzkiPage .mainPart .buttonOrange:hover {
    background-color: #f29500;
}

.otgruzkiPage .mainPart .bill {
    margin-top: 17px;
    position: relative;
}

.otgruzkiPage .mainPart .bill .jq-checkbox {
    position: absolute !important;
    top: 10px;
    left: 0;
    overflow: visible !important;
}

.jq-checkbox {
    width: 14px;
    height: 14px;
}

.jq-checkbox.checked .jq-checkbox__div {
    background: url(../images/bbbbbird.png) no-repeat 0 0;
    box-shadow: none;
    position: absolute;
    top: -5px;
    left: -2px;
    width: 19px;
    height: 19px;
}

.otgruzkiPage .mainPart .queue .bill:last-child {
    margin-bottom: 30px;
}

.otgruzkiPage .mainPart .bill p {
    font-size: 15px;
}

.otgruzkiPage .mainPart .bill .number {
    font-size: 24px;
    color: #1683c6;
}

.otgruzkiPage .mainPart .bill .status {
    color: #adbc18;
}

.otgruzkiPage .mainPart .bill .shippingApp {
    font-size: 15px;
    color: #f27f00;
    background-color: #e7e9ed;
    padding: 0 5px;
}

.otgruzkiPage .mainPart .bill .shippingStatus {
    font-size: 15px;
}

.otgruzkiPage .mainPart .bill .date {
    background-color: #e7e9ed;
    color: #1683c6;
    padding: 0 5px;
}

.mainPart .pdf,
.mainPart .change {
    text-decoration: none;
    color: #1683c6; 
    background: url(../images/pdf.png) no-repeat 0 0;
    padding-left: 25px;
}

.mainPart .change {
    background: url(../images/change.png) no-repeat 0 0;
}

.mainPart .change.notActive {
    color: #aaa;
    cursor: default;
}

.mainPart .change.notActive:hover {
    color: #aaa;
}

/*.otgruzkiPage*/ .mainPart /*.bill*/ .pdf:hover,
.mainPart .change:hover {
    color: #16abc6;
}

.otgruzkiPage .mainPart .shipped {
    border-top: 1px solid #d6dae1;
    padding-top: 25px;
}

.otgruzkiPage .mainPart .oldestShipped p {
    font-size: 15px;
}

.otgruzkiPage .mainPart .oldestShipped p a {
    font-size: 15px;
    text-decoration: none;
    color: #1683c6; 
}

.otgruzkiPage .mainPart .oldestShipped p a:hover {
    color: #0e4084;
}
/*end mainPart*/


/*zajavka na otgruzku1****************************************************************/

.otgruzkiPage.otgruzkiSecond .shippingList {
    font-size: 17px;
    
}

.otgruzkiPage.otgruzkiSecond .shippingInfo {
    margin-left: 31px;
}

.otgruzkiPage.otgruzkiSecond .shippingList {
    margin-bottom: 10px;
}

.otgruzkiPage.otgruzkiSecond .shippingList a {
    text-decoration: none;
    border-bottom:  1px dotted blue;    
    color: #1683c6;
    margin: 0 10px;
}

.otgruzkiPage.otgruzkiSecond .shippingList a.active {
    color: #0e4084;
    border-color: #0e4084;
    border: none;
}

.otgruzkiPage.otgruzkiSecond .shippingList a:hover {
    color: #0e4084;
}

.otgruzkiPage.otgruzkiSecond .shippingList a.active {
    color: #0e4084;
}

.otgruzkiPage.otgruzkiSecond .shippingList .number {
    font-size: 24px;
    line-height: 1em;
}

.otgruzkiPage.otgruzkiSecond .shippingList .details {
    /*padding-bottom: 2px;*/
    line-height: 1.2em;
}

.otgruzkiPage.otgruzkiSecond .queue {
    background-color: #fff;
    padding: 20px;
    padding-top: 10px;
}

.otgruzkiPage.otgruzkiSecond .queue h1 {
    font-size: 17px;
}

.otgruzkiPage.otgruzkiSecond .queue .bill input[type='checkbox'] {
    float: left;
    /*margin-bottom: 50px;*/
    margin-top: 13px;
    /*margin-right: 20px;*/
    padding: 20px;
}

.otgruzkiPage.otgruzkiSecond .queue .buttons {
    border-top: 1px solid #d6dae1;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 22px;
}

.otgruzkiPage.otgruzkiSecond .queue .button {
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 50px;
}

.otgruzkiPage.otgruzkiSecond .queue .button.next {
    margin-right: 0;
}

.otgruzkiPage.otgruzkiSecond .queue .button:hover {
    background-color: #17919b;
}

/*.otgruzkiPage.otgruzkiSecond .queue .button.prev {
    display: none;
}*/

.otgruzkiPage.otgruzkiSecond .queue.step2 .button.prev,
.otgruzkiPage.otgruzkiSecond .queue.step3 .button.prev {
    display: inline;
}

.otgruzkiPage.otgruzkiSecond .cantBeChecked input[type="checkbox"] {
    display: none;
}

.otgruzkiPage.otgruzkiSecond .cantBeChecked .shippingInfo * {
    color: #aaa;
}

.otgruzkiPage.otgruzkiSecond .cantBeChecked .shippingInfo .explain {
    color: #000;
}

/**step2*/

.otgruzkiPage.otgruzkiSecond .step2 .bill input[type='checkbox'] {
    margin-top: 32px;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs {
    display: table;
    width: auto;
    margin-top: 10px;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs input[type="number"] {
    padding: 7px 0 7px 10px;
    width: 75px;
    border-radius: 3px;
    border: 1px solid #a0c3e4;
    text-align: right;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs div {
    float: left;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs .block {
    margin-right: 50px;
    /*margin-bottom: 15px;*/
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs div p {
    text-align: right;
    padding-right: 38px;
    color: #aaa;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs .notChecked {
    color: #aaa;
    display: none;
}

.otgruzkiPage.otgruzkiSecond .step2 .bill .inputs div .type {
    font-size: 15px;
    margin-left: 5px;
}









.otgruzkiPage.otgruzkiSecond .step3 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step3 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step4 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step4 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}


.otgruzkiPage.otgruzkiSecond .step5 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step5 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step6 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step6 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step7 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step7 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step8 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step8 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step9 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step9 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

.otgruzkiPage.otgruzkiSecond .step10 .bill input[type='checkbox'] { margin-top: 32px;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs {display: table;width: auto;margin-top: 10px;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs input[type="number"] {padding: 7px 0 7px 10px;width: 75px; border-radius: 3px;border: 1px solid #a0c3e4;text-align: right;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs div { float: left;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs .block { margin-right: 50px;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs div p {text-align: right;padding-right: 38px;color: #aaa;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs .notChecked {color: #aaa;display: none;}
.otgruzkiPage.otgruzkiSecond .step10 .bill .inputs div .type {font-size: 15px;margin-left: 5px;}

/**end****step2*/

/****step2***alert************/

.otgruzkiPage.otgruzkiSecond .queue.alert h1 {
    font-weight: 700;
    background-color: #fbf9b2;
    padding: 0 10px;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .radioBox {
    margin-bottom: 20px;
    margin-top: 15px;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .radioBox input {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .bill input[type='checkbox'] {
    display: none;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .warning {
    background-color: #fbf9b2;
    color: #aaa;
    width: 420px;
    text-align: center;
    margin-top: 5px;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .shippingInfo {
    position: relative;
    z-index: 100;
}

.otgruzkiPage.otgruzkiSecond .queue.alert .shippingInfo .shadow {
    width: 52%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.39);
}

.z {
    z-index: 1000 !important;
}

/**end**step2***alert************/

/*********step3*******form*/

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box {
    width: 49%;
    float: left;
    font-size: 15px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box:first-child {
    width: 41%;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box:last-child .date {
    float: left;
    margin-right: 20px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .datepicker22 {
    overflow: hidden;
    position: relative;
    top: -2px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box:first-child span {
    display: inline-block;
    width: 100px;
    margin-bottom: 47px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box:first-child select {
    font-size: 15px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #488dcf;
    width: 213px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .box:first-child select.last {
    position: relative;
    top: -10px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds span.comment {
    display: block;
    float: left;
    margin-right: 25px;
    font-size: 15px;
    margin-top: 4px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds textarea {
    border: 1px solid #488dcf;
    width: 439px;
    height: 111px;
    font-family: 'PT Sans';
    font-size: 15px;
    padding: 5px;
    margin-bottom: 30px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .buttons input[type="submit"] {
    margin-left: 0;
    line-height: 1.7em;
    border-radius: 2px;
}

.otgruzkiPage.otgruzkiSecond .queue.dsdsds .buttons {
    position: relative;
}
.sendt{display:none;}
.otgruzkiPage.otgruzkiSecond .queue.dsdsds .buttons p {
    float: right;
    line-height: 1.2em;
    font-size: 15px;
    margin-top: -3px;
    margin-right: 25%;
}

/*timepicker*/

.ui-datepicker .ui-datepicker-title {
    line-height: 0em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    top: 45%;
}

.ui-datepicker th {
    padding: 2px .3em;
}

.ui-datepicker td span,
.ui-datepicker td a,
.ui-datepicker td span,
.ui-datepicker td a {
    padding: 0;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 0;
    display: none;/****************/
}

/*end time picker*/
/****end*****step3*******form/

/*******go*/

.otgruzkiPage.otgruzkiSecond .step2,
.otgruzkiPage.otgruzkiSecond .step3,
.otgruzkiPage.otgruzkiSecond .step4,
.otgruzkiPage.otgruzkiSecond .step5,
.otgruzkiPage.otgruzkiSecond .step6,
.otgruzkiPage.otgruzkiSecond .step7,
.otgruzkiPage.otgruzkiSecond .step8,
.otgruzkiPage.otgruzkiSecond .step9,
.otgruzkiPage.otgruzkiSecond .step10 {
    display: none;
}

/*end*************go*/
/*end******zajavka na otgruzku****************************************************************/

/*********************end****************************************otgruzkiPage*/


/******************************************zajavki**********page*/

.zajavki .mainPart {
    margin-bottom: 30px;
}

.zajavki .mainPart .buttonOrange {
    position: relative;
    top: -4px;
}

.zajavki .filter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.zajavki .filter li {
    display: inline-block;
    font-size: 15px;
    margin-right: 15px;
}

.zajavki .filter .f:last-child {
    margin-right: 0;
}

.zajavki .filter select {
    width: 175px;
}

.zajavki .filter input {
    width: 86px;
}

.zajavki .filter input,
.zajavki .filter select {
    border: 1px solid #a0c3e4;
    font-size: 15px;
    padding: 5px;
}

.zajavki .filter a {
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
}   

.zajavki .filter a:hover {
    background-color: #17919b;
}

.zajavki .queueClaims {
    background-color: #fff;
    padding: 20px;
}

.zajavki .queueClaims .oneClaim {
    margin-bottom: 25px;
}

.zajavki .queueClaims .oneClaim p {
    font-size: 15px;
}

/*.zajavki .oneClaim span {
    padding: 0 3px;
    margin: 0 3px;
}*/

.zajavki .oneClaim .date {
    font-size: 17px;
}

/*.zajavki .oneClaim .status {
    margin-left: 5px;
}*/

.zajavki .oneClaim .inAction {
    color: #f27f00;
}

.zajavki .oneClaim .reserve {
    color: #adbc18;
}

.zajavki .oneClaim .outOfTime {
    color: red;
}

.zajavki .oneClaim .custom {
    background-color: #ff0000;
    color: #fff;
    /*margin-left: 5px;*/
}

.zajavki .oneClaim .identificator .number {
    font-size: 24px;
    color: #1683c6;
}

.zajavki .oneClaim .identificator .number.active {
    color: red;
    position: relative;
    z-index: 30;
}

.zajavki .oneClaim .identificator .number:hover {
    cursor: pointer;
}

.zajavki .oneClaim .identificator .bill {
    color: #1683c6;
    background-color: #eaecf0;
    /*margin: 0 10px;*/
}

.zajavki .oneClaim .payInfo .price {
    font-size: 24px;
}

.zajavki .oneClaim .payInfo .price.near {
    color: #999;
}

.zajavki a.more {
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 50px;
}

.zajavki a.more:hover {
    background-color: #17919b;
}

.mainPart .docs {
    position: relative;
}

.mainPart .docPopUp {
    font-size: 15px;
    font-weight: 700;
    color: #1683c6;
    background-color: #fff;
    border-radius: 2px;
    /*max-height: 100px;*/
    /*overflow-y: auto;*/
    padding: 10px;
    position: absolute;
    /*top: -180%;*/
	    top: -30%;
    left: 35px;
    display: none;
    z-index: 40000000;
}

.mainPart .docPopUp a {
    font-weight: 700;
    color: #1683c6;
    text-decoration: none;
}

.mainPart .docPopUp a:hover {
    color: #1683a6;
}

.zajavki .mainPart .docPopUp .box {
    width: 49%;
    float: left;
}

.mainPart .docPopUp span {
    font-weight: 100;
    font-size: 14px;
}

.mainPart .docPopUp:before {
    content: '';
    border: 10px solid transparent;
    border-right-color: #fff;
    display: block;
    /*top: 54px;*/
	top: 22px;
    left: -20px;
    position: absolute;
	margin-top: -10px;
}

.mainPart .docPopUp .closeButton {
    background: url(../images/close.png) no-repeat 0 0;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.mainPart .docPopUp .closeButton:hover {
    cursor: pointer;
}

.zajavki .identificator {
    position: relative;
}

/*.zajavki .identificator .claimPopUp {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: -840%;
    left: 145px;
    z-index: 500;
    padding: 20px 30px;
    padding-right: 80px;
    display: none;
}*/

.zajavki .identificator .claimPopUp {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: -540%;
    left: 135px;
    z-index: 50000;
    padding: 20px 30px;
    /*padding-right: 80px;*/
    padding-right: 10px;
    display: none;
}

.zajavki .identificator .claimPopUp .box {
    float: left;
    margin-right: 60px;
}

.zajavki .identificator .claimPopUp .box table {
    line-height: 1.8em;
}

.zajavki .identificator .claimPopUp .box:last-child {
    margin-right: 0;
}

.zajavki .identificator .claimPopUp .box:last-child td:last-child {
    padding-left: 25px;
}

.zajavki .identificator .claimPopUp.last {
    top: -1440%;
}

.zajavki .identificator .claimPopUp.last:after {
    top: 524px;
}

/*.zajavki .identificator .claimPopUp:after {
    content: '';
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-right-color: #fff;
    left: -23px;
    top: 308px;
}*/

.zajavki .identificator .claimPopUp:after {
    content: '';
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-right-color: #fff;
    left: -23px;
    top: 200px;
}

.zajavki .claimPopUp table {
    margin-bottom: 15px;
    border-collapse: separate;
}

.zajavki .claimPopUp table p {
    padding-bottom: 25px;
}

.zajavki .claimPopUp td {
    font-size: 15px;
    vertical-align: middle;
    padding-left: 20px;
}

.zajavki .claimPopUp td:first-child {
    padding-left: 0;
}

.zajavki .claimPopUp td:last-child {
    padding-left: 10px;
}

.zajavki .claimPopUp.reserved .reserveType  {
    color: #adbc18;
}

.zajavki .claimPopUp.paid .reserveType  {
    color: #d2f225;
}

.zajavki .claimPopUp .commentText {
    font-style: italic;
}

.zajavki .claimPopUp .adminComment,
.zajavki .claimPopUp .comment {
    margin-bottom: 20px;
}

.zajavki .claimPopUp ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-bottom: 60px;
    max-height: 520px;
    overflow: auto;
}

.zajavki .claimPopUp ol li {
    margin-bottom: 30px;
}


.zajavki .identificator .claimPopUp span {
    margin: 0;
    padding: 0;
    /*font-size: 24px;*/
	font-size:14px;
    line-height: 1em;
	font-weight:bold;
}

.zajavki .identificator .claimPopUp p {
	font-size:13px;

}

.itemsBox.onOrder_1 .showHidePicsParent{
display:none;	
}

.itemsBox.onOrder_1 .box.imgBox{
display:none;	
}

.zajavki .identificator .claimPopUp span.min_total_price {

font-size:24px;
}

.zajavki .identificator .claimPopUp h1{
line-height:33px;	
margin-bottom:20px;
display:block;
padding-right:20px;
}

.zajavki .claimPopUp table p.claimInfo{
/*max-width:370px;	*/
}

.zajavki .claimPopUp table.firstTable{
	margin-top: 20px;
}

.zajavki .identificator .claimPopUp .closeButton {
    height: 19px;
    width: 19px;
    background: url(../images/closePopUp2.png) no-repeat 0 0;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.shadowBoxPopUp {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.32);
    z-index: 30000;
    display: none;
}


/**************end****************************zajavki**********page*/


/***********************************************novajaZajavka******************/

.novajaZajavka .itemsQueue,
.novajaZajavka .underTheOrderList {
    height: 400px;
    overflow-y: hidden;
}

.novajaZajavka .adding {
    font-size: 15px;
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 0px;
}

.novajaZajavka .basement .heading {
    margin-bottom: 20px;
}

.novajaZajavka .adding .types li {
    background-color: #ddd;
    display: inline-block;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.novajaZajavka .adding .types .active {
    background-color: #fff;
    font-weight: 700;
	cursor:default !important;
}

.novajaZajavka .adding .types li.active:hover {
	text-decoration: none;
}

.novajaZajavka .adding .types li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.novajaZajavka .basement .itemsBox {
    background-color: #fff;
    padding: 20px 30px;
}

/*filter*/
.novajaZajavka .basement .itemsBox .filter {
    margin-top: 0;
    text-align: right;
    margin-bottom: 20px;
}

.novajaZajavka .basement .itemsBox .filter .ff {
    text-align: left;
    margin-bottom: 25px;
}

.derses .jq-selectbox.jqselect{
z-index:99 !important;	
}


.filter .jq-selectbox__dropdown{
z-index:99999999 !important;	
}

.novajaZajavka .basement .itemsBox .filter span {
    margin-right: 200px;
}

.novajaZajavka .basement .itemsBox .filter .f:last-child {
    margin-right: 0;
}

.novajaZajavka .basement .itemsBox .filter li:nth-child(2) {
    margin-right: 68px;
}

.novajaZajavka .basement .itemsBox .filter select {
    width: 160px;
}

.novajaZajavka .basement .itemsBox .filter input {
    width: 150px;
}

.novajaZajavka .basement .itemsBox .filter input[type="checkbox"] {
    width: auto;
}

.novajaZajavka .basement .itemsBox .filter a {
    margin-right: 0;
}
/*end filter*/


/*itemList*/

.novajaZajavka .adding .item {
    margin-bottom: 30px;
    position: relative;
}

.novajaZajavka .adding .item input[type="checkbox"] {
    float: left;
    padding: 20px;
    margin-top: 32px;
    position: relative;
    z-index: 1;
}

.novajaZajavka .adding .item .shippingInfo {
    margin-left: 26px;
}

.novajaZajavka .adding .item .number {
    font-size: 24px;
    color: #1683c6;
}    

.novajaZajavka .adding .item .inputs {
    display: none;
    margin-top: 10px;
	white-space:nowrap;
	display: inline-block !important;
}

.novajaZajavka .adding .item .inputs div {
    float: left;
}

.novajaZajavka .adding .calculate .jq-number {
    margin-right: 5px;
}

.novajaZajavka .adding .item .inputs .sum {
    margin-right: 0;
}

.novajaZajavka .adding .item .block {
    margin-right: 43px;
}


.novajaZajavka .adding .item .block input {
    padding: 7px 0 7px 10px;
    width: 75px;
    border-radius: 3px;
    border: 1px solid #a0c3e4;
	margin-right:5px;
}

.novajaZajavka .adding .item .block .type {
    position: relative;
    top: 4px;
}

.novajaZajavka .adding .item .shippingInfo .box:first-child {
    width: 50%;
    float: left;
}

.novajaZajavka .adding .item .shippingInfo .box:nth-child(2) {
    width: 45%;
    float: right;
	min-height:100px;
}

.novajaZajavka .adding .item .shippingInfo .box:nth-child(2) img {
    max-width: 200%;
}

.novajaZajavka .adding .item .shippingInfo .remain p {
    overflow: hidden;
    color: #aaa;
}

.novajaZajavka .adding .item .shippingInfo .remain {
    display: none;
    overflow: hidden;
}

.novajaZajavka .adding .item .shippingInfo .formPrice {
    width: 45%;
    overflow: hidden;
    font-weight: 600;
}

.novajaZajavka .adding .item .shippingInfo .formPrice .result {
    display: none;
}

.novajaZajavka .adding .item .removeFromList {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 30px;
    right: 0;
    background: url(../images/remove.png) no-repeat 0 0;
    display: none;
}

.novajaZajavka .adding .item .removeFromList:hover {
    cursor: pointer;
}

.novajaZajavka .basement .buttons {
    border-top: 1px solid #d6dae1;
    padding-top: 30px;
    padding-left: 40px;
}

.novajaZajavka .basement .buttons .button {
    display: inline;
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 50px;
}

.novajaZajavka .basement .buttons .button:hover {
    background-color: #17919b;
}

.novajaZajavka .mainPart form .comment {
    display: block;
    float: left;
    margin-right: 25px;
    font-size: 15px;
    margin-top: 4px;

    font-weight: 700;
}

.novajaZajavka .mainPart form textarea {
    border: 1px solid #488dcf;
    width: 439px;
    height: 111px;
    font-family: 'PT Sans';
    font-size: 15px;
    padding: 5px;
    margin-bottom: 30px;
	resize:none;
	max-width:451px;
	max-height:123px;
}

.novajaZajavka .sentForm p {
    display: none;
    margin-bottom: 20px;
}

.novajaZajavka .sentForm p:first-child {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.novajaZajavka .sentForm {
    background-color: #dfe4ec;
    padding: 30px 20px;
}

.novajaZajavka .sentForm input {
    margin-left: 0;
    padding: 5px 20px;
    border-radius: 2px;
}

.underTheOrderList {
    display: none;
}

.underTheOrderMarker {
    background-color: red;
    color: #fff;
    padding: 0 3px;
    display: none;
}
/*emd itemList*/
/******end*****************************************novajaZajavka******************/

/**********************lichnyeDannye***********************/


.lichnyeDannye .mainPart {
    margin-bottom: 100px;
}

.lichnyeDannye .button {
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 1.3em;
}

.otgruzkiPage .mainPart .shipped .button {
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 1.3em;
}




.lichnyeDannye input[type="submit"] {
    margin-left: 0;
    line-height: 1.3em;
    padding: 5px 10px;
    background-color: #17689b;
    margin-left: 199px;
    margin-right: 20px;
}

.lichnyeDannye .passwordBlock input[type="submit"] {
    margin-left: 200px;
}

.lichnyeDannye .button:hover,
.lichnyeDannye input[type="submit"]:hover {
    background-color: #17919b;
}

.lichnyeDannye table input,
.lichnyeDannye table {
    font-family: 'PT Sans';
    font-size: 15px; 
}

.lichnyeDannye table input {
    padding: 5px;
    border: 1px solid #488dcf;
    background-color: #f9f9f9;
}

.lichnyeDannye table td {
    vertical-align: middle;
}

.lichnyeDannye table td:first-child {
    width: 180px;
}

.lichnyeDannye table td:last-child {
    width: 280px;
}

.lichnyeDannye table td:last-child input {
    width: 100%;
}

.lichnyeDannye .button {
    display: inline-block;
}

.lichnyeDannye table {
    border-collapse: separate;
	border-spacing: 20px;
    margin-left: -20px;
    margin-bottom: 20px;
}

.lichnyeDannye .passwordBlock {
    margin-top: 80px;
}

.lichnyeDannye .pair1,
.lichnyeDannye .pair2,
.lichnyeDannye .passwordData {
    display: none;
}




/**********************lichnyeDannye***********************/
/**********dropDown*/

.dropMenu {
    display: none;
}

.navigation .dropMenu ul li {
    margin: 0;
    margin-bottom: 10px;
    display: block;
}

.navigation .dropMenu ul {
    background-color: #f9f9f9;
}

.navigation .dropMenu .firstLine {
    position: relative;
    padding: 10px 20px;
    background-color: #d6dae1;
}

.navigation .dropMenu .dropped {
    padding: 0 10px;
}

.navigation .dropMenu input {
    width: auto;
}

.navigation .dropMenu .dropButton {
    width: 30px;
    height: 30px;
    background: url(../images/ham.png) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 20%;
    right: 10px;
}

.navigation .dropMenu .dropButton:hover {
    cursor: pointer;   
}

.navigation .dropMenu .dropped {

}




/***end*******dropDown*/


.otgruzkiPage.otgruzkiSecond .shippingList a {
        display: inline-block;;
    }


.ui-datepicker-year {
   /* display: none;*/
}

.ui-datepicker-week-end,
.ui-datepicker-week-end a {
    color: #cc0000 !important;
}

.ui-datepicker-week-end a {
    color: #cc0000 !important;
    background: #fff0f0;
    display: block !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
}

.ui-datepicker th {
    font-weight: 400;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    border: none;
    background: #fff;
    padding: 0 !important;  
    margin-top: 10px;
    width: 200px;
}

.otgruzkiSecond .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    margin-top: 0;
}

.ui-widget-header {
    background: transparent;
    border: none;
    padding: 0 !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: none;
}

.ui-datepicker-title {
    margin: 0 !important;
}

.ui-datepicker-month {
    width: 100% !important;
    z-index: 100 !important;
    position: relative !important;
    border-color: #a3c6e7;/*************/
    padding: 5px 10px;
    font-weight: 500;
}

.ui-datepicker-current-day {
    background: red;
/*	margin-top: -1px;
    position: absolute;
    height: 24px;
	margin-left:-2px;*/
}
/*
.ui-datepicker-current-day.ui-datepicker-week-end{
margin-left:0px;	
}

.ui-datepicker-calendar tr td:first-child{
margin-left:0px;	
}

.ui-datepicker-other-month + .ui-datepicker-current-day{
margin-left:-1px;	
	
}


.ui-datepicker-current-day > a{
border: 2px red solid !important;
    height: 19px;
    width: 22px;	
}
.ui-datepicker-current-day > span{
	border: 2px red solid !important;
    height: 19px;
    width: 22px;
	   
}
*/

table.ui-datepicker-calendar tr .ui-datepicker-current-day a{
width:calc(100% - 2px);
margin-left:1px;
margin-top:1px;
height:calc(100% - 2px);	
border-bottom: 1px red solid;
}



.ui-datepicker-current-day a {
    color: #fff !important;
}

.ui-datepicker table {
    border-collapse: separate;
    border-spacing: 2px;
}

table.ui-datepicker-calendar tr:nth-child(3) a,
table.ui-datepicker-calendar tr:nth-child(4) a,
table.ui-datepicker-calendar tr:nth-child(5) a,
.ui-datepicker-week-end a {
    color: rgb(22, 131, 198);
}

/****************************select*/

.jq-selectbox__select {
    background: #fff;
    border: 1px solid #a0c3e4;
    /*padding: 5px;*/
    height: 27px;
    top: -2px;
    border-radius: 0;
}

.jq-selectbox__select:hover {
    background: #fff;
}

.jq-selectbox__select-text {
    line-height: 28px !important;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    top: 12px;
}

.novajaZajavka .jq-selectbox {
    width: 161px;
}

.jq-selectbox__dropdown {
    width: 100% !important;
}

.jq-selectbox__dropdown li:first-child {
    color: #ddd;
}
.queue.sendt .jq-selectbox.jqselect{
    margin-top: -18px;
}


/*********************************************************************/

/*input[type="checkbox"] {
    display: none;
} 

input[type="checkbox"] + label::before {
    content: "";
    background: url(../images/bgChrckBox.png) no-repeat 0 0;
    display: block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    vertical-align: top;
    position: absolute;
}

input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 0;
}

input[type="checkbox"]:checked + label::before {
    background: url(../images/bgActive.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
}

.otgruzkiPage.otgruzkiSecond .step1 input[type="checkbox"] + label::before {
    top: 10px;
    left: 0;
}

.otgruzkiPage.otgruzkiSecond .step2 input[type="checkbox"] + label::before {
    top: 30px;
    left: 0;
}*/

input[type="checkbox"] {
    display: none;
} 

.checkBoxFalse {
    background: url(../images/bgChrckBox.png) no-repeat 0 0;
    background-size: cover;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    position: absolute;
}

.checkBoxTrue {
    background: url(../images/bgActive.png) no-repeat 0 0;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    position: absolute;
}

.imit:hover {
    cursor: pointer;
}

.otgruzkiPage.otgruzkiSecond .step1 .imit {
    top: 10px;
    left: 0;
}

.otgruzkiPage.otgruzkiSecond .step2 .imit,
.otgruzkiPage.otgruzkiSecond .step3 .imit,
.otgruzkiPage.otgruzkiSecond .step4 .imit,
.otgruzkiPage.otgruzkiSecond .step5 .imit,
.otgruzkiPage.otgruzkiSecond .step6 .imit,
.otgruzkiPage.otgruzkiSecond .step7 .imit,
.otgruzkiPage.otgruzkiSecond .step8 .imit, 
.otgruzkiPage.otgruzkiSecond .step9 .imit,
.otgruzkiPage.otgruzkiSecond .step10 .imit{
    top: 28px;
    left: 0;
}

.otgruzkiPage.otgruzkiSecond .step2.alert .imit,
.otgruzkiPage.otgruzkiSecond .step3.alert .imit,
.otgruzkiPage.otgruzkiSecond .step4.alert .imit,
.otgruzkiPage.otgruzkiSecond .step5.alert .imit,
.otgruzkiPage.otgruzkiSecond .step6.alert .imit,
.otgruzkiPage.otgruzkiSecond .step7.alert .imit,
.otgruzkiPage.otgruzkiSecond .step8.alert .imit, 
.otgruzkiPage.otgruzkiSecond .step9.alert .imit,
.otgruzkiPage.otgruzkiSecond .step10.alert .imit {
    display: none;
}

.otgruzkiPage.otgruzkiSecond .bill.cantBeChecked .imit {
    display: none;
}

.novajaZajavka .adding .item .imit {
    left: 0;
    top: 28px;
}

.novajaZajavka .showHidePicsParent {
    position: relative;
}

.novajaZajavka .showHidePicsParent .imit {
    top: 0;
    right: 364px;
}

/******************************************/

/*
.jq-selectbox__dropdown  li {
    width: 89%;
}

.jq-selectbox__dropdown ul {
    width: 179px;
}
*/

.zajavki .filter li:first-child,
.zajavki .filter li:nth-child(2) {
    width: 179px; 
}

.jq-selectbox.jqselect {
    width: 100%;
}

.jq-selectbox li:hover {
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #a0c3e4;
}

.jq-selectbox li {
    width: 85% !important;
    margin-right: 0px !important;
}

.sendt .jq-selectbox.jqselect {
    width: 55% !important;
}

.zajavki .adding .js .itemWrap {
    margin-top: -22px;
}

.zajavki .adding .js .itemWrap .shippingInfo {
    margin-left: 17px;
}

.jq-selectbox__trigger-arrow {
    border-top-color: #a0c3e4;
}

.zajavki .adding .js .item .block input {
    border-color: #ccc;
}

.zajavki .derses .line.com {
    margin-top: 30px;
	position: relative;
    z-index: 1;
}



input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.zajavki.novajaZajavka .inputs input {
    margin-bottom: 10px;
}

.otgruzkiPage .mainPart .buttonOrange {
    width: 215px;
}

.zajavki .oneClaim .identificator .number:hover {
    color: red;
}

.mainPart .pdf:hover,
.mainPart .change:hover {
    color: red;
}

.jq-selectbox__dropdown {
    margin-top: -2px;
}

/******************************************/



.jq-selectbox .placeholder{
width:auto !important;	
}



.claim input[type="file"]{
	
}



.claim input[type="button"]{
	
}

#add_complaint_reason_id-styler .jq-selectbox__select{
font-family: 'PT Sans';
    font-size: 18px;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #488dcf;
    border-radius: 2px;	
	width:300px;
}


#add_complaint_reason_id-styler{
width:auto;	
}

.docs_back{
float:right;
background-color: #17689b;
    font-size: 17px;
    color: #fff !important; 
    font-family: 'PT Sans';
    text-decoration: none !important;
    padding: 5px 10px;
    border-radius: 2px;	
	margin-top:20px;
}

h1 a.pdf_link{
	    color: #3c3f45;
    font-size: 13px;
       margin-top: 16px;
   
	margin-bottom:20px;
    line-height: 18px;
    background-position: 0 1px;
    text-decoration: none;
	display: inline-block;
    padding-left: 35px;
    background: url(/public/site1/images/pdf.png) no-repeat 0 3px;
	margin-left:0px;
	font-size:25px;
	background-size: 26px;
	background-position: 0px;
}

h1 a.pdf_link i {
    font-style: normal;
    text-decoration: underline;
}


h1 a.pdf_link span {
    text-decoration: none;
    color: #5697d2;
}

.secondShipping.sendt .ui-datepicker-year{
display:none;	
}

.secondShipping.sendt .ui-datepicker-calendar.week1 tbody tr td:nth-child(1) a{
	background-color:#21c421 !important;
	color:#fff !important;
}
.secondShipping.sendt .ui-datepicker-calendar.week2 tbody tr td:nth-child(2) a{
	background-color:#21c421 !important;
	color:#fff !important;
}
.secondShipping.sendt .ui-datepicker-calendar.week3 tbody tr td:nth-child(3) a{
	background-color:#21c421 !important;
	color:#fff !important;
}
.secondShipping.sendt .ui-datepicker-calendar.week4 tbody tr td:nth-child(4) a{
	background-color:#21c421 !important;
	color:#fff !important;
}
.secondShipping.sendt .ui-datepicker-calendar.week5 tbody tr td:nth-child(5) a{
	background-color:#21c421 !important;
	color:#fff !important;
}
.secondShipping.sendt .ui-datepicker-calendar.week6 tbody tr td:nth-child(6) a{
	background-color:#21c421 !important;
	color:#fff !important;
}

table.ui-datepicker-calendar tr .ui-datepicker-current-day a{
/*color:#fff !important;*/
color:rgb(22, 131, 198) !important;
}

.block_date{
position:absolute;
left:0px;
top:0px;
z-index:99999999;
background-color:#fff;
padding:10px;
display:none;	
min-width:100px;
min-height:100px;
max-width:200px;
border:1px black solid;
}

.block_date.active{
display:block;		
}

.otgruzkiPage .moreBtns{
	margin-top:40px;
	margin-bottom:30px;		
}

.otgruzkiPage .moreBtns a.more{
    background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 50px;

}


.zajavki #ui-datepicker-div .ui-datepicker-month{
float:left;
width:100% !important;	

}

.zajavki #ui-datepicker-div .ui-datepicker-year{
float:right;
width:40% !important;	
	padding: 5px 1px;
	display:none;
}

form.complaint .jq-file__browse{
display:none;	
}


form.complaint .files_list{
padding-bottom:10px;	
}

form.complaint .files_list p a{
	height: 19px;
    width: 19px;
    background: url(../images/closePopUp2.png) no-repeat 0 0;
    display: inline-block;
    position: static;
    top: 15px;
    right: 15px;
	margin-bottom: -5px;
}


form.complaint .files_list p span{
display: inline-block;
}

form.complaint .jq-file.fileStyle.hide{
display:none !important;	
}

form.complaint .jq-file.fileStyle#file__1-styler.show{
	display:inline-block !important;
}


.postskidka{
display:none !important;	
}

.underTheOrderList .now{
display:none !important;	
}

.item.OrderMarker .now{
display:none !important;	
}

.item.OrderMarker .box.imgBox{
visibility:hidden !important;	
	
}


/* ---------------------- */
/* bootstrap modal */
.modal-sm{
	width: 400px;
}
.modal .modal-header,
.modal .modal-footer{
	border: none;
}
.modal .modal-header{
	line-height: 1.1em !important;
}
.modal .modal-title{
	line-height: 1.1em;
}
.modal .modal-body{
	padding-bottom: 20px;
}
.modal .btn{
	background-color: #008ed2;
	color: #fff;
}
.modal .btn:hover{
	opacity: 0.7;
}
.modal .close{
	background-color: #ff0000;
	width: 1em;
	height: 1em;
	opacity: 1;
	border-radius: 50%;
		-moz-border-radius: 50%;
	color: #fff;
}
.modal .close:hover{
	opacity: 0.7;
}
/* bootstrap modal - ended */

/* popup form styles */
.form .form-group{
	margin-bottom: 20px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="url"],
.form textarea{
	display: block;
	margin: 0;
	width: 100%;
	border: 1px solid #a5bbce;
	padding: 5px 10px;
}
.form textarea{
	max-width: 100%;
	min-width: 50%;
	min-height: 100px;
	max-height: 300px;
}
.form label{
	font-weight: normal;
	margin: 0;
	display: block;
	padding: 5px 0;
	line-height: 1.1em;
}
.form input.error{
	border-color: red;
}
.form label.error{
	color: red;
	font-size: 12px;
}
.form .form-restore_pass_link{
	font-size: 13px;
	display: block;
	text-align: right;
	color: #008ed2;
	text-decoration: none;
	margin-top: 3px;
}
.form .form-restore_pass_link:hover{
	text-decoration: underline;
}
/* popup form styles - ended */

/* close buttons */
button.close-sm,
button.close-md{
	border-radius: 50%;
		-moz-border-radius: 50%;
	width: 13px;
	height: 13px;
	right: 5px;
	top: 5px;
	opacity: 1;
	position: absolute;
	border: none;
	background: url("../images/sm_close_btn.png") center no-repeat;
}
button.close-md{
	width: 20px;
	height: 20px;
	background: url("../images/close_btn.png") center no-repeat;
}
.close-sm:hover,
.close-md:hover{
	opacity: 0.7;
}
/* close buttons - ended */

.get_order{
	display: block !important;
}
.get_order .form{
	display: none;
	margin-bottom: 10px;
}
.get_order .get_order-num_wrapp{
	padding-right: 0;
}
.get_order .get_order-num_type{
	padding-left: 10px;
	line-height: 2em;
	text-align: left;
}





.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}



.request_alert .modal-dialog{

margin-top:200px;	
	
}

.request_alert .modal-header .close{
	float:right;
	width: 19px;
    height: 20px;
}

.text_pod_zakaz{
display:none;	
}

.shippingInfo.warning_red input[type="number"]{
border-color:red !important;	
}


.checkBoxTrue.imit.i_display{
display:block !important;	
}

.checkBoxFalse.imit.i_none{
display:none !important;	
}

.checkBoxWarning{
	height: 40px;
    width: 40px;
    margin: 0 5px 0 0;
    position: absolute;
	top:0px;
	margin-left:-10px;
z-index:9999;
}

.otgruzkiPage.otgruzkiSecond .queue .line{
/*position:relative;*/	
}

.transport_company_container{
display: inline-block;
    position: relative;
    z-index: 100;
	width:55% !important;
	
}
.transport_company_container .jq-selectbox.jqselect{
width:100% !important;	
}

.transport_company_container .dis{
width:100%;
height:100%;
position:absolute;
z-index:99999;
	display:block;
}

#type_id-styler .jq-selectbox__dropdown{
z-index:9999;	
}

#type_id-styler{
z-index:99999 !important;	
	
}

.jq-selectbox.jqselect{
	z-index:9999 !important;	
}

.secondShipping.sendt .note1{
margin-left:123px;	
}

.secondShipping.sendt .note1 > div{
	width:24px;
	height:24px;
	background-color:#21c421;
	float:left;
}
.secondShipping.sendt .note2{
margin-top:10px;	
margin-bottom:20px;
margin-left:123px;	
}

.secondShipping.sendt .note2 > div{
	width:24px;
	height:24px;
	background-color:rgb(255, 255, 0);
	float:left;
}

.secondShipping.sendt .note1 > span{
font-size:11px;	
margin-left:10px;
}

.secondShipping.sendt .note2 > span{
font-size:11px;	
margin-left:10px;
}


.imit.i_none{
display:none !important;	

}


.imit.i_display{
display:block !important;	
}


.secondShipping.sendt textarea{
resize: none;
max-width: 439px; 
height: 111px;
	
}

#add_complaint_form br{
display:none;	
}

#add_complaint_form .jq-file__browse{
display:none;	
}

#mCSB_2_container input[name="count[]"]{
color:black !important;	
}

.zajavki .identificator .lastButton{
	    display: inline-block;
    font-size: 15px;
    margin-right: 15px;
}

.zajavki .identificator .lastButton a{
	background-color: #17689b;
    font-size: 17px;
    color: #fff;
    font-family: 'PT Sans';
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
}

#img.modal img{
width:auto !important;
height:100% !important;

}

#img.modal .modal-body{
height: calc(100% - 106px) !important;	
}

#img.modal .modal-content{
	    height: 100% !important;
}

#img.modal .modal-dialog{
	    height: calc(100% - 90px) !important;
    top: 150px !important;
}

#img.modal .close{
position:absolute;
right:10px;	
    height: 20px;
    width: 20px;
}

#img.modal .modal-content{
width:auto !important;	
}

#adding .js input.fileStyle{
color:black !important;	
}





