/* Breadcrumb
-----------------------------------------------------------------------------*/
#breadcrumb {

	.reset;
	border-bottom: 1px solid @borderColor;
	margin-top:0px;
	padding:0;
	margin-bottom: 30px;



	ul {
		margin:0 0 0 -10px !important;
		padding:4px 0 4px;
		

		
		li {border: 0 !important;margin:0 4px}
	}
	
	.divider {display:none}
	
	.navsep {
		color:@grayLight;margin:0 6px 0 10px
	}

}
