/*.blog-required-field{

}*/

.b-form__row-label{
    width:170px !important;
}

.b-form__row-input-custom{
    float:right;
    width:calc(100% - 200px);
}

.b-layout__info-box ul{
    margin: 0 !important;
}

.b-layout__info-box ul li{
    padding-left:15px !important;
    width:100% !important;
}

.b-layout__info-box ul li:before{
    display: none !important;
}

.b-form__row-success{
    display:block !important;
}

.b-form__row-label-right{
    display: block;
    float: left;
    min-height: 1px;
    font-size: 13px;
    color: #000;
    text-align: left;
    margin-right: 12px;
    padding-top: 8px;
    padding-left: 200px !important;
}

.b-form__row-success-custom{
    padding-top: 8px;
    line-height: 12px;
}

#forNewGroup .jq-checkbox{
    /*float:left !important;*/
    margin-right:10px !important;
}

#forNewGroup .group-form{
    /*float:left !important;*/
    margin-right:10px !important;
}

#forNewGroup .group_name{
    /*float:left;*/
    width:calc(100% - 100px);
    margin-right:10px;
}

#forNewGroup .blog_save{
   /* float:left;*/
}

#forNewGroup .group-line{
    margin-bottom:10px;
}

.body-blog .btn-custom{
    color:#1a1a1a!important;
}


.b-form__row-table-right{
    width:calc(100% - 200px);
    float:left;
    padding-left: 200px !important;
}

.b-form__row-input{
    padding-left: 200px !important;
}