<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <script src="js/_vendor.js"></script>
    <script src="js/_main.js"></script>
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <title>Markup Template</title>
</head>
<body class="">
<div class="b-geo" style="/*display: none*/">
    Are you U.S.\Canada customer?
    <nobr>
        <a href="#" class="b-geo__link _yes">YES</a>
        <a href="#" class="b-geo__link _no">NO</a>
    </nobr>
</div>
<div class="b-layout">
    <header class="b-header">
        <div class="b-header__logo">
            <a href="#" class="b-header__logo-link">
                <div class="b-header__logo-types"></div>
                <div class="b-header__logo-logo">
                    <img alt="" src="images/logo.png" />
                </div>
                <div class="b-header__logo-logo _small">
                    <img alt="" style="width:184px;" src="images/logo-small.png" srcset="images/logo-small@2x.png" />
                </div>
            </a>
        </div>
        <div class="b-header__lang">
            <div class="b-place">
                <div class="b-place__current">NY</div>
                <div class="b-place__list">
                    <div class="b-place__list-item"><a href="#" class="link"><span>NY</span></a></div>
                    <div class="b-place__list-item"><a href="#" class="link"><span>CANADA</span></a></div>
                    <div class="b-place__list-item"><a href="#" class="link"><span>TOKIO</span></a></div>
                </div>
            </div>
    
            <a href="#" class="b-header__lang-current link"><span>RUS</span></a>
    
        </div>
        <div class="b-header__auth">
            <div class="b-top-auth "><!-- can be ._logged -->
                <a href="#authForm" class="b-top-auth__link link fancybox"><span>My account</span></a>
            </div>
    
        </div>
        <div class="b-header__phone">
            +7 964 190 78 16
        </div>
        <div class="b-header__cart">
            <div class="b-top-cart _added">
                <a href="#" class="b-top-cart__link link">
                    <span>Cart: <b><i class="js-cart-price">$1.234</i>  <i class="js-cart-count">(7)</i></b></span>
                </a>
            </div>
    
        </div>
    </header>
    <div class="b-mob-menu js-mob-menu">
        <div class="b-mob-menu__opener js-mob-menu-opener "><span
                class="b-mob-menu__opener-rotator"></span><span>MENU</span></div>
        <div class="b-mob-menu__wrapper">
            <div class="b-mob-menu__top">
                <div class="b-mob-menu__item _dark _has-drop">
                    <span class="b-mob-menu__item-text">NY</span>
                    <div class="b-mob-menu__item-drop">
                        <div class="b-mob-menu__item">
                            <a href="#" class="b-mob-menu__item-text">NY</a>
                        </div>
                        <div class="b-mob-menu__item">
                            <a href="#" class="b-mob-menu__item-text">CHICAGO</a>
                        </div>
                        <div class="b-mob-menu__item">
                            <a href="#" class="b-mob-menu__item-text">PERM</a>
                        </div>
                    </div>
                </div>
                <div class="b-mob-menu__item _dark">
                    <a href="#" class="b-mob-menu__item-text">RUS</a>
                </div>
            </div>
            <div class="b-mob-menu__item _has-drop">
                <span class="b-mob-menu__item-text">ABOUT US</span>
                <div class="b-mob-menu__item-drop">
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">About us</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">News</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="b-mob-menu__item _has-drop">
                <span class="b-mob-menu__item-text">Catalog</span>
                <div class="b-mob-menu__item-drop">
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 1</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 2</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 3</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 4</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 5</a>
                    </div>
                </div>
            </div>
            <div class="b-mob-menu__item _has-drop">
                <span class="b-mob-menu__item-text">Info</span>
                <div class="b-mob-menu__item-drop">
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 1</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 2</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 3</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 4</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 5</a>
                    </div>
                </div>
            </div>
            <div class="b-mob-menu__item _has-drop">
                <span class="b-mob-menu__item-text">Help</span>
                <div class="b-mob-menu__item-drop">
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 1</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 2</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 3</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 4</a>
                    </div>
                    <div class="b-mob-menu__item">
                        <a href="#" class="b-mob-menu__item-text">SECT 5</a>
                    </div>
                </div>
            </div>
            <div class="b-mob-menu__item ">
                <a href="#" class="b-mob-menu__item-text">Contacts</a>
            </div>
    
        </div>
    
    </div>
    <nav class="b-top-menu">
        <div class="b-layout__line"></div>
        <div class="b-top-menu__wrapper">
            <div class="b-top-menu__item">
                <a href="#" class="b-top-menu__item-text">About Us</a>
            </div>
            <div class="b-top-menu__item _is-catalog">
                <a href="#" class="b-top-menu__item-text">Catalog</a>
                <div class="b-top-menu__item-drop _catalog">
                    <div class="b-top-menu__catalog">
                        <div class="b-top-menu__catalog-col">
                            <a href="#" class="b-top-menu__catalog-link link _ico1"><span>Lotus breath (117)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico2"><span>29 (267)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Arkaim (120)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico4"><span>Archaic (111)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico5"><span>Regaliz elements (252)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico6"><span>Waltz of flowers (105)</span></a>
                            <a href="#"
                               class="b-top-menu__catalog-link link _ico3"><span>Time of Knights (339)</span></a>
                        </div>
                        <div class="b-top-menu__catalog-col">
                            <a href="#"
                               class="b-top-menu__catalog-link link _ico6"><span>Children of nature (174)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Mayan mystery (69)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico1"><span>Winter (63)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico2"><span>Cats and Dogs (90)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Masks (87)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico6"><span>Sea (81)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Mosses and herbs (341)</span></a>
                        </div>
                        <div class="b-top-menu__catalog-col">
                            <a href="#"
                               class="b-top-menu__catalog-link link _ico3"><span>New year collection (72)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico1"><span>Cabochon base (78)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico2"><span>Ring base (42)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico6"><span>Plankton (252)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico5"><span>Other (6)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Relic forest (255)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico4"><span>Spices (261)</span></a>
                        </div>
                        <div class="b-top-menu__catalog-col">
                            <a href="#" class="b-top-menu__catalog-link link _ico6"><span>Steampunk (274)</span></a>
                            <a href="#"
                               class="b-top-menu__catalog-link link _ico5"><span>Dance of art nouveau (208)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Texture of earth (102)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico4"><span>Lanterns (144)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico3"><span>Princess Toad (21)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico1"><span>Fern flower (57)</span></a>
                            <a href="#" class="b-top-menu__catalog-link link _ico2"><span>Chains (108)</span></a>
                        </div>
    
                    </div>
    
                </div>
            </div>
            <div class="b-top-menu__item _current">
                <a href="#" class="b-top-menu__item-text">Info</a>
            </div>
            <div class="b-top-menu__item">
                <a href="#" class="b-top-menu__item-text">Help</a>
            </div>
            <div class="b-top-menu__item">
                <a href="#" class="b-top-menu__item-text">Contacts</a>
            </div>
            <div class="b-top-menu__item js-search-line _is-search-item">
                <a href="#" class="b-top-menu__item-text js-search-line-open">Search</a>
                <div class="b-top-menu__item-drop _search js-search-line-dropper">
                    <div class="b-search-line">
                        <form class="b-search-line__form" action="" method="get">
                            <input class="b-search-line__input" name="q" type="text"
                                   placeholder="for example, toggle clasp"/>
                            <button class="b-search-line__submit"></button>
                        </form>
                        <a class="b-search-line__close js-search-line-close"></a>
                    </div>
    
                </div>
            </div>
    
        </div>
        <div class="b-layout__line _hide-on-main"></div>
    </nav>
    <div class="b-layout__main">
        <div class="b-breadcrumbs">
            <a href="#" class="b-breadcrumbs__item link"><span>Main</span></a>
            <a href="#" class="b-breadcrumbs__item link"><span>Catalog</span></a>
            <div class="b-breadcrumbs__item"><span>Lotus breath</span></div>
        </div>

        <div class="b-layout__meta">
            <div class="b-layout__meta-logo"></div>
            <h1 class="b-layout__meta-title">Lotus breath</h1>
            <!-- description via SetViewTarget -->
            <div class="b-layout__meta-text">Collection of 2015 year. The collection is based on the
                use of mesh elements. Note the large toggles and elements with the ability to<br/> set stones.
                <br/>
                <br/>
                <b><a href="ajax-added.html" class="open-ajax link"><span>Пример окна добавленного товара</span></a></b>
            </div>
        </div>

        <div class="b-catalog-section">


            <div class="b-catalog-section__sections js-sections-list "><!-- can be ._opened -->
                <div class="b-catalog-section__sections-list">
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Bails</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Beads</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>bead caps&cones</span></a>
                    <a href="#"
                       class="b-catalog-section__sections-item link _invert "><span>Cabochon bases</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>CHains</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Charms </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>clasps</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>connectors</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>cord ends</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>crimps </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>focal elements </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>pendants </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>regaliz </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>rings </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>spacers</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Delimiter</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Bails</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert _current"><span>Beads</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>bead caps&cones</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Cabochon bases</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>CHains</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Charms </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>clasps</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>connectors</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>cord ends</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>crimps </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>focal elements </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>pendants </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>regaliz </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>rings </span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>spacers</span></a>
                    <a href="#" class="b-catalog-section__sections-item link _invert"><span>Delimiter</span></a>
                </div>

                <div class="b-catalog-section__sections-toggler">
                    <a href="#" class="btn _white-bg js-sections-list-toggl" data-inversetext="TURN"
                       data-basetext="SHOW ALL">SHOW ALL</a>
                </div>
            </div>

            <div class="b-catalog-section__meta">
                <div class="b-catalog-section__color">
                    <div class="b-colors _spacing-big">
                        <div class="b-colors__title">Select color:</div>
                        <a href="#" class="b-colors__item _with-border _color-1"><i></i></a>
                        <a href="#" class="b-colors__item _with-border _color-2"><i></i></a>
                        <a href="#" class="b-colors__item _with-border  _color-3 "><i></i></a>
                        <a href="#" class="b-colors__item _with-border _current _color-4 "><i></i></a>
                        <a href="#" class="b-colors__item _with-border  _color-5"><i></i></a>
                    </div>
                </div>
                <div class="b-catalog-section__sort">
                    <div class="b-catalog-section__sorting">
                        <div class="b-catalog-section__sorting-current _price">high to low</div>
                        <div class="b-catalog-section__sorting-dropper">
                            <a href="#" class="b-catalog-section__sorting-link _price">low to high</a>
                            <!--<a href="#" class="b-catalog-section__sorting-link _shows">high to low</a>
                            <a href="#" class="b-catalog-section__sorting-link _shows">low to high</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-catalog-section__list">
                <div class="b-catalog-list _with-end-line">
                    <div class="b-catalog-list__item _type1 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat1.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat1.jpg"
                             data-color-img-index-2="images/cat1-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Spacer, s0111</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>

                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>

                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type2 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat2.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat2.jpg"
                             data-color-img-index-2="images/cat2-1.jpg"
                             data-color-img-index-3="images/cat2-3.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                                <div class="b-colors__item _color-3" data-color-index="3"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn _added">
                            in cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type3 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat3.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat3.jpg"
                             data-color-img-index-2="images/cat3-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Central element s3001</div>
                        <div class="b-catalog-list__item-price">$26.80</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type4 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat4.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat4.jpg"
                             data-color-img-index-2="images/cat4-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$5.40</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type1 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat5.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat5.jpg"
                             data-color-img-index-2="images/cat5-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Spacer, s0111</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-3 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-4" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type2 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat6.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat6.jpg"
                             data-color-img-index-2="images/cat6-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn _added">
                            in cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type3 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat7.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat7.jpg"
                             data-color-img-index-2="images/cat7-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Central element s3001</div>
                        <div class="b-catalog-list__item-price">$26.80</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type4 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat8.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat8.jpg"
                             data-color-img-index-2="images/cat8-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$5.40</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type1 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat1.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat1.jpg"
                             data-color-img-index-2="images/cat1-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Spacer, s0111</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>

                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>

                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type2 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat2.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat2.jpg"
                             data-color-img-index-2="images/cat2-1.jpg"
                             data-color-img-index-3="images/cat2-3.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                                <div class="b-colors__item _color-3" data-color-index="3"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn _added">
                            in cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type3 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat3.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat3.jpg"
                             data-color-img-index-2="images/cat3-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Central element s3001</div>
                        <div class="b-catalog-list__item-price">$26.80</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type4 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat4.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat4.jpg"
                             data-color-img-index-2="images/cat4-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$5.40</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type1 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat5.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat5.jpg"
                             data-color-img-index-2="images/cat5-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Spacer, s0111</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-3 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-4" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type2 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat6.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat6.jpg"
                             data-color-img-index-2="images/cat6-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$ 3.60</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn _added">
                            in cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type3 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat7.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat7.jpg"
                             data-color-img-index-2="images/cat7-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Central element s3001</div>
                        <div class="b-catalog-list__item-price">$26.80</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                    <div class="b-catalog-list__item _type4 js-product-list-card">
                        <a href="#" class="b-catalog-list__item-link"></a>
                        <div class="b-catalog-list__item-ico"></div>
                        <div class="b-catalog-list__item-img js-product-list-card-img"
                             style="background-image: url(images/cat8.jpg)"
                             data-current-color-index="1"
                             data-color-img-index-1="images/cat8.jpg"
                             data-color-img-index-2="images/cat8-1.jpg"
                        ></div>
                        <div class="b-catalog-list__item-title">Bead cap set, 10 pcs. s0101</div>
                        <div class="b-catalog-list__item-price">$5.40</div>
                        <div class="b-catalog-list__item-colors">
                            <div class="b-colors js-product-list-card-colors">
                                <div class="b-colors__item _color-4 _current" data-color-index="1"><i></i></div>
                                <div class="b-colors__item _color-5" data-color-index="2"><i></i></div>
                            </div>
                        </div>
                        <div class="b-catalog-list__item-details">details</div>
                        <a href="" class="b-catalog-list__item-btn">
                            add to cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="b-pager">
                <span class="b-pager__item _current"><i>1</i></span>
                <a href="#" class="b-pager__item "><i>2</i></a>
                <a href="#" class="b-pager__item "><i>3</i></a>
                <a href="#" class="b-pager__item "><i>4</i></a>
            </div>

            <div class="b-catalog-section__seo">
                СЕО блок. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
                luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </div>

        </div>


    </div>
    <div class="b-main-collection-top _inner-collection">
        <div class="grid-container">
            <div class="grid-row col-9 col-m-8 col-s-12">
                <div class="b-main-collection-top__item">
                    <div class="b-main-collection-top__item-img" style="background-image: url(images/col1-1.jpg)">
    
                    </div>
                    <div class="b-main-collection-top__item-content">
                        <div class="b-main-collection-top__item-title">Sale collection LOTUS BREATH</div>
                        <div class="b-main-collection-top__item-text">Bead caps set 2 pcs. 3007</div>
                        <div class="b-main-collection-top__item-price">$14.30</div>
                        <div class="b-main-collection-top__item-btn"><a href="#" class="btn _medium-size _white-bg">SEE
                            MORE</a></div>
                    </div>
                </div>
            </div>
            <div class="grid-row col-3 col-m-4  col-s-12">
                <div class="b-subscribe _on-inner">
                    <div class="b-subscribe__title">Sign up for special<br/> offers</div>
                    <form class="b-subscribe__form _is-errors _is-success" method="get" action="">
                        <input type="text" class="b-form__input" placeholder="e-mail"/>
                        <button type="submit" class="btn _full">Sign up</button>
                        <div class="b-subscribe__form-errors">Please, type correct email.<br/>
                            for example, mail@Mail.com
                        </div>
                        <div class="b-subscribe__form-success">You are subscribed!</div>
                    </form>
                </div>
            </div>
    
        </div>
    
    </div>
    <div class="b-popup" id="authForm" style="display: none">
        <div class="b-popup__title">Log In</div>
    
        <div class="b-popup__login">
            <div class="b-form">
                <form>
                    <div class="b-form__row _is-errors">
                        <label class="b-form__row-label">E-mail:</label>
                        <div class="b-form__row-input">
                            <input type="text" class="b-form__input"/>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <label class="b-form__row-label">Password:</label>
                        <div class="b-form__row-input">
                            <input type="password" class="b-form__input"/>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input">
                            <div class="b-form__row-checker">
                                <input id="remcheck" type="checkbox" class="b-form__checkbox"/>
                            </div>
                            <label for="remcheck" class="b-form__row-checker-text">
                                Remember me
                            </label>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input">
                            <input type="submit" value="LOG IN" class="btn _full"/>
                            <br/>
                            <a href="#" class="b-form__row-link">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label _small-padding"><b>
                            <nobr>You may</nobr>
                            <nobr>login via:</nobr>
                        </b></div>
                        <div class="b-form__row-input _lined">
                            <div class="b-form__socials">
                                <a href="#" class="b-form__socials-item _fb"></a>
                                <a href="#" class="b-form__socials-item _tw"></a>
                                <a href="#" class="b-form__socials-item _vk"></a>
                            </div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input ">
                            First-time visitor?<br/>
                            Fill the registration form, please<br/><br/>
                            <a href="#regForm" class="fancybox">REGISTER</a>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    <div class="b-popup" id="regForm"  style="display: none">
        <div class="b-popup__title">Register</div>
    
        <div class="b-popup__login">
            <div class="b-form">
                <form>
                    <div class="b-form__row ">
                        <label class="b-form__row-label">Name:</label>
                        <div class="b-form__row-input">
                            <input type="text" class="b-form__input"/>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row _is-required">
                        <label class="b-form__row-label">E-Mail:</label>
                        <div class="b-form__row-input">
                            <input type="text" placeholder="for example,mail@mail.com" class="b-form__input"/>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row _is-required">
                        <label class="b-form__row-label">Password:</label>
                        <div class="b-form__row-input">
                            <input type="text" placeholder="must contain at least 6 symbols" class="b-form__input"/>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input">
                            <div class="b-form__row-checker">
                                <input id="subcheck" type="checkbox" class="b-form__checkbox" checked="checked"/>
                            </div>
                            <label for="subcheck" class="b-form__row-checker-text">
                                Subscribe
                            </label>
                            <div class="b-form__row-error">Некорректно указан E-mail</div>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input">
                            <input type="submit" value="REGISTER" class="btn _full"/>
                            <br/>
                        </div>
                    </div>
                    <div class="b-form__row ">
                        <div class="b-form__row-label"></div>
                        <div class="b-form__row-input " style="font-size:15px">
                            <span style="color:#bb3025">*</span> Required fields
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    
    <footer class="b-footer">
        <div class="b-footer__pattern"></div>
        <div class="b-footer__socials">
            <a href="#" class="b-footer__socials-item _fb"></a>
            <a href="#" class="b-footer__socials-item _vk"></a>
            <a href="#" class="b-footer__socials-item _pi"></a>
            <a href="#" class="b-footer__socials-item _in"></a>
        </div>
    
        <div class="b-footer__meta">
            <div class="b-footer__phone">+7 9641907816</div>
            <div class="b-footer__callback"><a href="#" class="btn">CALLBACK</a></div>
    
            <div class="b-footer__paysystems">
                <div class="b-footer__paysystems-item _mc"></div>
                <div class="b-footer__paysystems-item _visa"></div>
                <div class="b-footer__paysystems-item _paypal"></div>
            </div>
        </div>
    
        <nav class="b-footer__menu">
            <a href="#" class="b-footer__menu-item">About Us </a>
            <a href="#" class="b-footer__menu-item">Catalog</a>
            <a href="#" class="b-footer__menu-item">Info</a>
            <a href="#" class="b-footer__menu-item">Help</a>
            <a href="#" class="b-footer__menu-item">Contacts</a>
            <a href="#" class="b-footer__menu-item _search"></a>
        </nav>
    
        <div class="clear"></div>
        <div class="b-footer__bottom">
            <div class="b-footer__bottom-copyright">2016 © Anna Bronze findings</div>
            <div class="b-footer__bottom-developer">Создание сайта - <a href="http://amado-id.ru" class="link"
                                                                        target="_blank"><span>Amado</span></a></div>
        </div>
    
    </footer>
</div>
</body>
</html>