<div class="b-popup" id="gallery_popup" >
    <div class="b-popup__title">Dark nebula</div>

    <div class="b-popup-gallery js-popup-gallery">
        <div class="b-popup-gallery__pager js-popup-gallery-pager">
            <div class="b-popup-gallery__pager-item _current"
                 style="background-image: url(images/bgal1.png)"
                 data-preview-src="images/bgal2.png"></div>
            <div class="b-popup-gallery__pager-item "
                 style="background-image: url(images/bgal2.png)"
                 data-preview-src="images/bgal1.png"></div>
            <div class="b-popup-gallery__pager-item "
                 style="background-image: url(images/bgal1.png)"
                 data-preview-src="images/bgal1.png"></div>
            <div class="b-popup-gallery__pager-item "
                 style="background-image: url(images/bgal2.png)"
                 data-preview-src="images/bgal2.png"></div>
            <!--<a href="#" class="b-card-gallery__pager-prev js-gallery-pager-prev"></a>
            <a href="#" class="b-card-gallery__pager-next js-gallery-pager-next"></a> -->
            <!--<div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="b-popup-gallery__pager-item _current"
                             style="background-image: url(images/bgal1.png)"
                             data-preview-src="images/bgal1.png"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="b-popup-gallery__pager-item "
                             style="background-image: url(images/bgal2.png)"
                             data-preview-src="images/bgal2.png"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="b-popup-gallery__pager-item "
                             style="background-image: url(images/cat-big3.jpg)"
                             data-preview-src="images/cat-big3.jpg"
                             data-full-src="images/cat-big3.jpg"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="b-popup-gallery__pager-item "
                             style="background-image: url(images/cat-big4.jpg)"
                             data-preview-src="images/cat-big4.jpg"
                             data-full-src="images/cat-big4.jpg"></div>
                    </div>
                </div>
            </div>-->


        </div>
        <div class="b-popup-gallery__wrapper">
            <div class="b-popup-gallery__img">
                <img alt="" src="images/bgal1.png" class="js-popup-gallery-img"/>
            </div>
            <div class="b-popup-gallery__info">
                <div class="b-popup-gallery__collections">
                    <div class="b-popup-gallery__collections-title">I applied this pendant
                        fittings of all three colors:
                    </div>

                    <a href="#">Separators c2617 <span>(2)</span></a>
                    <a href="#">Cap for beads 2833 <span>(2)</span></a>
                    <a href="#">Cap for beads l2834 <span>(2)</span></a>
                    <a href="#">Cap for beads 2636 <span>(2)</span></a>
                    <a href="#">Separators c2633 <span>(2)</span></a>
                    <a href="#">Pendant 1001 <span>(2)</span></a>
                </div>
                <div class="b-popup-gallery__description">
                    <p>Pendant "Dark Nebula". Lampwork, pearls, brass, bronze, silver, leather,
                        accessories author Anna Chernykh.</p>

                    <p>The pool of loyal editions translates analysis of market prices.
                        According
                        to Zipf law, marketing communication concentrates exclusive media mix.
                        Manufacturing stabilizes cultural media mix. Analysis of market prices
                        is
                        competent. Promotion of the project, of course, to stabilize a typical
                        traditional channel.</p>
                </div>
            </div>
        </div>

    </div>
</div>