<div class="b-popup-card" id="popCard">
    <div class="b-popup__title">Product added to cart:</div>
    <div class="b-popup-card__wrapper js-product-list-card">
        <div class="b-popup-card__left">
            <div class="b-popup-card__img js-product-list-card-img"
                 style="background-image: url(images/cat1.jpg)"
                 data-current-color-index="1"
                 data-color-img-index-1="images/cat1.jpg"
                 data-color-img-index-2="images/cat1-1.jpg"
            >

            </div>
            <a href="#" class="b-popup-card__continue" onclick="$.fancybox.close()">CONTINUE
                SHOPPING</a>

        </div>
        <div class="b-popup-card__right">
            <div class="b-popup-card__title">
                Central element L3001(1)
            </div>
            <div class="b-product-card__prices">
                <div class="b-product-card__prices-inner">
                    <div class="b-product-card__prices-price _small">$ 26.80</div>
                    <div class="b-product-card__prices-counter">
                        <div class="b-counter _small js-product-counter" data-maxcount="9">
                            <div class="b-counter__plus">+</div>
                            <div class="b-counter__minus">-</div>
                            <input class="b-counter__input" value="1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-product-card__stock _gray">
                In stock: <b>20 pcs.</b>
            </div>

            <div class="b-product-card__colors">
                <div class="b-colors js-product-list-card-colors">
                    <div class="b-colors__title">Select color:</div>
                    <div class="b-colors__item _color-1 _current" data-color-index="1"><i></i></div>
                    <div class="b-colors__item _color-2" data-color-index="2"><i></i></div>
                </div>
            </div>

            <div class="b-product-card__btn">
                <a href="#" class="btn _full js-add-ro-cart">add to cart</a>
            </div>

        </div>

    </div>
    <div class="b-popup-card__notice">
        Your discount of 0% to a discount of 5% remained $62.<br/>
        <br/>
        In our store you can get discounts -<br/>
        From $100 - 5%<br/>
        From $150 - 7%<br/>
        From $200 - 10%<br/>
        From $300 - 15%<br/>
        From $500 - 20%
    </div>

</div>