.b-breadcrumbs{
  padding: 17px 27px;
  letter-spacing: 1px;
  background: #fff;

  @include phone{
    //display: none;
    text-align: center;
  }

  &__item{
    display: inline-block;
    color:#767676;
    font-size: 12px;
    position: relative;
    padding-right: 15px;
    margin-right: 3px;

    &:after{
      display: block;
      content: "";
      height: 1px;
      background: #d6d6d6;
      width: 12px;
      position: absolute;
      right:0;
      top:50%;
    }

    &:last-child{
      margin-right: 0;
      padding-right: 0;

      &:after{
        display: none;
      }
    }

    span{
      color:#767676;
    }
  }
}