$product-colors: (
        "1": ("#be7c62", "transparent", "#b16b50", "#b16b50"),
        "2": ("#d8b879", "transparent", "#bd9b57", "#bd9b57"),
        "3": ("#d3d3d3", "transparent", "#c4c2c2", "#c4c2c2"),
        "4": ("#d8b879", "#d3d3d3", "#bd9b57", "#c4c2c2"),
        "5": ("#4f4e4e", "transparent", "#000", "#000"),
        "6": ("#b1ab9e", "transparent", "#948e81", "#948e81")
);
// "1": ("base-color":#be7c62, "second-color":transparent, "border-color-left-top":#b16b50, "border-color-right-bottom":#b16b50),
.b-colors {
  color: #000;
  letter-spacing: 0;
  font-size: 0;
  word-spacing: 0;
  white-space: nowrap;

  &__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: normal;
  }

  &__item {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: #000;
    position: relative;
    cursor: pointer;;
    transition: opacity .3s;
    margin: 0 3px;

    ._spacing-big & {
      margin-left: 14px;
      margin-right: 0;
    }
    ._spacing-medium & {
      margin-left: 11px;
      margin-right: 0;
    }

    &:hover{
      opacity: 0.8;
    }

    i {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: 0;
      border: solid 9px transparent;

    }

    @each $num, $vals in $product-colors {
      &._color-#{$num} {
        background: unquote(nth($vals, 1));

        i {
          border-right: solid 9px unquote(nth($vals, 2));
          border-bottom: solid 9px unquote(nth($vals, 2));
        }
      }
    }

    &._with-border {
      border: solid 1px #fff;

      @each $num, $vals in $product-colors {
        &._color-#{$num} {
          border-left-color: unquote(nth($vals, 3));
          border-top-color: unquote(nth($vals, 3));
          border-right-color: unquote(nth($vals, 4));
          border-bottom-color: unquote(nth($vals, 4));
        }
      }

    }

    &._current {
      &:after {
        position: absolute;
        z-index: 1;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
      }

      &:before {
        display: block;
        z-index: 1;
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        @include border-radius(50%);
        background: #b8231c;
        left: 50%;
        top: 50%;
        margin-top: -2.5px;
        margin-left: -2.5px;

      }
    }

  }

}

.b-colors__container{
  display: inline-block;
}