.b-faq {

  &__btn {
    margin-top: 30px;
  }

  &__item {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: solid 1px #f0f0f0;

    &:first-child {
      padding-top: 0;
    }

    &-title {
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #d3a67a;
      cursor: pointer;

      @include phone {
        position: relative;
      }

      @include tablet {
        position: relative;
      }

      span {
        color: #1a1a1a;
        padding-right: 16px;
        position: relative;

        @include phone {
          position: static;
        }

        @include tablet {
          position: static;
        }

        &:after {
          display: block;
          content: "";
          width: 0;
          height: 0;
          transition: all .3s;
          border: solid 4px transparent;

          border-top: solid 4px #000;
          position: absolute;
          top: 8px;
          right: 0;

          ._opened & {
            @include transform(rotate(180deg));
            top: 4px;
          }

        }
      }
    }

    &-answer {
      position: relative;
      padding: 15px 20px;
      border: solid 2px #d3a67a;
      color: #000000;
      font-size: 15px;
      margin-top: 15px;
      display: none;

      ._opened & {
        display: block;
      }

      &:after {
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        transition: all .3s;
        background: #fff;
        border: solid 2px #d3a67a;
        border-left: 0;
        border-top: 0;
        @include transform(rotate(225deg));
        position: absolute;
        top: -7px;
        left: 14px;
      }
    }
  }
}