.b-header {
  position: relative;
  background: #fff;

  @include phone{
    height: 176px;
  }

  &__logo {
    width: 50%;
    margin: auto;
    padding-top: 39px;
    text-align: center;
    line-height: 0;

    @include tablet {
      padding-top: 32px;
    }

    @include phone {
      padding-top: 114px;
      width: 100%;
      text-indent: 10px;
    }

    &-link {
      display: block;
    }

    &-types {
      display: inline-block;
      @include retina-sprite($logo-types-group);
      margin-bottom: 29px;

      @include phone {
        display: none;
      }

    }

    &-logo {
      @include phone {
        display: none;
      }

      img {
        max-width: 100%;
      }

      &._small {
        display: none;

        @include phone {
          display: block;
        }
      }
    }

  }

  &__lang {
    position: absolute;
    top: 41px;
    left: 28px;

    @include tablet {
      top: 35px;
      left: 21px;
    }

    @include phone{
      display: none;
    }

    &-current {
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      text-decoration: none;
      &.en {
        margin-left: 41px;
      }
    }

  }

  &__phone {
    font-size: 16px;
    color: #010101;
    position: absolute;
    top: 41px;
    right: 33px;
    font-weight: 600;

    @include tablet{
      top: 35px;
      right: 19px;
    }

    @include phone{
      display: none;
    }
  }

  &__auth{
    position: absolute;
    top: 72px;
    left: 27px;

    @include tablet{
      top: 66px;
      left: 20px;
    }

    @include phone{
      top: 57px;
      left: 13px;
      width: 108px;
    }
  }

  &__cart{
    position: absolute;
    top: 72px;
    right: 33px;

    @include tablet{
      top: 66px;
      right: 20px;
    }

    @include phone{
      top: 57px;
      right: 13px;
    }
  }
}