.b-layout {
  margin: auto;
  width: $desktop-wrapper-width;
  @include box-shadow(0 0 30px rgba(0, 0, 0, 0.2));

  @include tablet {
    width: $tablet-wrapper-width;
  }

  @include phone {
    width: $mobile-wrapper-width;
  }

  &__main{
    background: #fff;
    ._is-main-page &{
      background: none;

      @include phone{
        //background: #fff;
      }
    }
  }

  &__line {
    height: 2px;
    background: #000;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;

    &:before {
      display: block;
      content: "";
      @include retina-sprite($lay-line-left-group);
      position: absolute;
      left: -5px;
      top: -9px;
    }
    &:after {
      display: block;
      content: "";
      @include retina-sprite($lay-line-right-group);
      position: absolute;
      right: -5px;
      top: -9px;
    }
  }

  &__meta {
    text-align: center;
    padding: 0 30px;
    margin-top: -10px;

    ._is-product-page & {
      display: none;
    }

    @include phone {
      padding: 0 10px;
      margin-top: 0px;
      padding-top: 23px;
    }

    &-logo {
      margin-bottom: 13px;

      @include phone {
        display: none;
      }
      &:after {
        display: inline-block;
        content: "";
        @include retina-sprite($section-pic-group);
      }

      &._type2{
        &:after {
          @include retina-sprite($section-pic2-group);
        }
      }
      &._type3{
        &:after {
          @include retina-sprite($section-pic3-group);
        }
      }
    }

    &-title {
      color: #1a1a1a;
      font-size: 24px;
      letter-spacing: 2px;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0px;
      margin-bottom: 21px;

      @include phone {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }

    &-text {
      font-size: 15px;
      color: #000000;
      letter-spacing: 0.5px;

      @include phone {
        letter-spacing: -0.5px;
        line-height: 16px;
        font-size: 13px;
      }
    }

  }

  &__inner {
    border-top: solid 1px #f0f0f0;
    margin-top: 39px;
    padding-top: 42px;
    padding-bottom: 140px;

    @include phone {
      padding-top: 10px;
      padding-bottom: 40px;
    }

    &-column {

      @include phone{
        display: none;
      }

    }

    &-content {
      @include phone {
        margin-top: 20px;
      }
    }

    &-additional {
      margin-top: 35px;

      @include phone {
        display: none;
      }
    }

  }

  /*контентные базовые стили*/
  &__info-box {
    font-size: 15px;
    color: #222;
    letter-spacing: 0.8px;
    word-spacing: -1px;
    line-height: 18px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    &-img {
      float: left;
      margin-right: 50px;
      margin-bottom: 15px;

      &._right {
        float: right;
        margin-left: 50px;
      }

      @include phone {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        margin: 15px 0;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    p {
      margin-top: 15px;
      &:first-of-type {
        margin-top: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: #bd8651;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ol {
      list-style-type: none;
      margin: 10px 0;
      margin-left: 20px;
      counter-reset: myCounter;

      li {
        display: table;
        position: relative;
        padding-left: 20px;

        &:before {
          counter-increment: myCounter;
          content: counter(myCounter) ". ";
          display: inline-block;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 0;

        }

      }
    }

    ul {
      list-style-type: none;
      margin: 10px 0;

      li {
        /*display: block;*/
        display: table;
        position: relative;
        padding-left: 33px;

        &:before {
          display: block;
          content: "";
          font-weight: bold;
          position: absolute;
          top: 8px;
          left: 0;
          background: #b8231c;
          width: 5px;
          height: 5px;
          @include border-radius(50%);

        }

      }
    }

    h2 {
      color: #222222;
      font-size: 18px;
      margin-top: 25px;
    }

    h3, h4, h5, h6 {
      color: #6c6c6c;
      font-size: 12px;
      font-weight: normal;
      margin-top: 5px;
      letter-spacing: 1px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;

      @include phone {
        font-size: 12px;
      }

      thead {
        color: #a8a7a7;
      }

      td {
        border: solid 2px #000;
        border-right: none;
        text-align: center;
        padding: 10px;

        &:last-child {
          border-right: solid 2px #000;
        }

        @include phone {
          padding: 5px;
        }
      }
    }
  }

  &__inner-404 {
    font-size:120px;
    color:#bd8651;
  }

  &__quote {
    margin: 53px 0;
    &:after {
      display: block;
      content: "";
      clear: both;
    }

    &-inner {
      width: 48%;
      @include box-sizing(border-box);
      border: solid 2px #d2a67a;
      padding: 15px;
      float: right;
      color: #222222;
      font-size: 15px;
      font-style: italic;

      @include phone {
        width: 100%;
      }
    }

    &-notice {
      color: #a8a7a7;
      margin-top: 20px;
    }
  }

}