.b-main-news {
  padding: 52px 30px;

  ._is-main-page &{
    background: #fff;
  }

  @include phone{
    padding: 35px 14px;
  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  &__left {
    float: left;
    width: 66%;
    border-right: solid 1px #e6e6e6;
    box-sizing: border-box;;

    @include tablet {
      width: 56%;
    }

    @include phone {
      width: 100%;
      float: none;
      border-right: 0;
      border-bottom: solid 1px #e6e6e6;
      padding-bottom: 29px;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__right {
    width: 34%;
    float: right;
    box-sizing: border-box;
    padding-left: 29px;

    @include tablet {
      width: 44%;
    }

    @include phone {
      width: 100%;
      float: none;
      padding-left: 0;
      padding-top: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 30px;
    letter-spacing: 1px;

    a {
      color: #c3966a;
      font-size: 11px;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__item {
    float: left;
    width: 50%;
    box-sizing: border-box;;
    padding-right: 75px;

    @include phone {
      width: 100%;
      padding-right: 0;
      float: none;
      display: none;

      &:first-child {
        display: block;
      }
    }

    a {
      text-decoration: none;
      color: #bd8651;

      &:hover {
        .b-main-news__item-title {
          text-decoration: underline;
        }
      }
    }

    &-date {
      color: #393939;
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 7px;
      letter-spacing: 1px;
    }

    &-title {
      color: #bd8651;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 1px;

    }

    &-text {
      color: #000000;
      font-size: 13px;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: 1px;
    }
  }

  &__anounce {
    position: relative;
    top: -7px;

    @include phone {
      top: 0;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    &-img {
      float: left;
      width: 159px;
      height: 159px;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 10px;

      @include phone{
        margin-left: -15px;
        margin-right: 7px;
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        @include retina-sprite($an-wrapper-group);
        top: 0;
        left: 0;
      }

    }

    &-content {
      overflow: hidden;
      position: relative;
      padding-top: 44px;

      &:after {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        @include border-radius(50%);
        background: #bf3932;
        position: absolute;
        top: 19px;
        left: 0;
      }
    }

    &-date {
      font-size: 15px;
      text-transform: uppercase;
      color: #1a1a1a;
      margin-bottom: 8px;
    }

    &-title {
      font-size: 15px;
      text-transform: uppercase;
      color: #1a1a1a;
      font-weight: bold;
      text-decoration: none;
      display: block;
      margin-bottom: 15px;

      @include phone{
        line-height: 19px;
        margin-bottom: 6px;

      }

      &:hover {
        text-decoration: underline;
      }
    }

  }

}