.b-main-about {
  position: relative;
  padding: 38px 0 21px 0;



  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: url(../img/bg@2x.jpg);
    background-size: 68px 67px;
    opacity: 0.8;
    right: 0;
    z-index: 0;

    ._is-main-page &{
      background: none;
      opacity: 1;
    }
  }

  &__text {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-top: 28px;
    padding: 0 136px;

    @include phone {
      font-size: 14px;
      padding: 0 15px;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 20px;
      @include phone {
        margin-top: 25px;
      }
    }
  }

  &__author {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 34px;

    &-name {
      color: #767676;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 10px;
      letter-spacing: 1px;
      margin-bottom: 15px;

      @include phone{
        margin-top: 6px;
      }
    }

    &-pattern {
      &:after {
        display: inline-block;
        content: "";
        @include retina-sprite($two-single-pattern-group);
      }
    }
  }
}