.b-main-slider {
  @include tablet{
    padding-top: 16px;
    background: #fff;
  }

  &__wrapper {


  }

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 380px;

    @include tablet {

      height: 235px;
      ._bottom-slider &{
          height: 280px;
      }
    }

    @include phone {
      height: 245px;
      ._bottom-slider &{
        height: 260px;
      }
    }

  }

  &__text {
    position: absolute;
    background: #d3a67a;
    top: 90px;
    left: 100px;
    padding: 60px 30px 30px 30px;
    width: 370px;

    &._right {
      right: 100px;
      left: auto;

      @include tablet {
        right: 60px;
      }

      @include phone {
        right: 0;
      }
    }

    @include tablet {
      top: 0;
      bottom: 0;
      left: 60px;
      padding: 51px 15px 30px 15px;
      width: 265px;
    }

    @include phone {
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
      height: auto;
      width: auto;
      padding: 14px 12px 9px 12px;
      background: rgba(211, 166, 122, 0.82);
    }

    &:after {
      display: block;
      content: "";
      height: 8px;
      width: 8px;
      @include border-radius(50%);
      background: #bb3025;
      position: absolute;
      left: 30px;
      top: 30px;

      @include tablet {
        top: 25px;
        left: 20px;
      }

      @include phone {
        display: none;
      }
    }

    &-title {
      color: #1a1a1a;
      font-size: 28px;
      text-transform: uppercase;
      line-height: 30px;
      letter-spacing: 2.5px;
      margin-bottom: 19px;



      @include tablet{
        line-height: 30px;
        margin-bottom: 22px;
      }
      @include phone {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 3px;
      }
    }

    &-content {
      color: #1a1a1a;
      font-size: 14px;
      margin-bottom: 20px;

      @include phone {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
      }

    }

    &-link {
      a {
        color: #1a1a1a;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 1px;
    margin-top: -$left-arrow-height/2;
    @include retina-sprite($left-arrow-group);
    z-index: 1;
    cursor: pointer;

    &:hover{
      @include retina-sprite($left-arrow-hover-group);
    }

    @include phone{
      left: 13px;
      top: 70px;

      &._collection{
        display: none;
      }

      &._only-middle{
        top: 50%;
        margin-top: -$left-arrow-height/2;
      }
    }
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 1px;
    margin-top: -$left-arrow-height/2;
    @include retina-sprite($right-arrow-group);
    z-index: 1;
    cursor: pointer;

    &:hover{
      @include retina-sprite($right-arrow-hover-group);
    }

    @include phone{
      right: 13px;
      top: 70px;

      &._collection{
        display: none;
      }

      &._only-middle{
        top: 50%;
        margin-top: -$left-arrow-height/2;
      }
    }
  }

  &__promo{
    text-align: center;
    position: relative;
    padding-top: 100px;

    @include phone{
      padding-top: 85px;
    }

    &:after{
      display: block;
      content: "";
      @include retina-sprite($single-pattern-group);
      position: absolute;
      top: 27px;
      left: 50%;
      margin-left: -$single-pattern-width/2;

      @include phone{
        top: 14px;
      }
    }

    &-title{
      font-size: 22px;
      color:#010101;
      text-transform: uppercase;
      letter-spacing: 2px;
      max-width: 90%;
      margin-left:auto;
      margin-right:auto;

      @include phone{
        font-size: 20px;
        letter-spacing: 1px;
      }
    }

    &-link{
      margin-top: 33px;

      @include phone{
        margin-top: 20px;
      }
    }

  }
}