.b-mob-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  max-height: 100%;
  overflow: auto;

  @include phone {
    display: block;
  }

  &__opener {
    background: #d3a67a;
    height: 39px;
    line-height: 39px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &-rotator {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
      top: -3px;

      &:after {
        display: block;
        content: "";
        @include retina-sprite($rotator-group);
        transition: all .5s;

        ._opened & {
          transform: rotate(90deg);
        }
      }
    }

    &:before {

    }
  }

  &__wrapper{
    display: none;
  }

  &__wrapper, &__top {
    & > .b-mob-menu__item {
      &:last-child {
        &:before {
          display: none;
        }
      }
      & > .b-mob-menu__item-text {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &__item {
    background: #d3a67a;
    cursor: pointer;
    position: relative;
    text-align: center;

    &:before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      height: 1px;
      background: #b18962;

    }

    &._dark:before {
      background: #977453;
    }

    &-text {
      font-size: 16px;
      color: #1a1a1a;

      text-decoration: none;
      display: block;
      line-height: 45px;
      position: relative;

      ._has-drop > &:after {
        display: inline-block;
        content: "";
        vertical-align: middle;
        width: 0;
        height: 0;
        border: solid 4px transparent;;
        border-top-color: #000;
        margin-left: 3px;
        transition: all .3s;
      }

      ._dropped &:after {
        transform: rotate(180deg);
        position: relative;
        top: -3px;
      }

    }

    &-drop {
      display: none;

      .b-mob-menu__item {
        background: #debc9a;

        &:last-child {
          &:before {
            display: none;
          }
        }

      }

      ._dropped & {
        display: block;
      }
    }

    &._dark {
      background: #bc8c5d;
    }
  }
}