.b-order {

  &__section {
    padding-bottom: 40px;
    padding-top: 40px;

    &:first-child {
      padding-top: 0px;
    }

    &._lined {
      border-bottom: solid 1px #f0f0f0;
    }

    &-title {
      text-transform: uppercase;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }

  &__list {

    @include phone {
      margin-bottom: 25px;
    }

  }

  &__item {

    padding: 18px 12px;
    position: relative;
    min-height: 80px;

    @include phone {
      min-height: 1px;
    }

    &._current {
      //background: #f6f6f6;
    }

    &-radio {
      display: none !important;

      &:checked + .b-order__item-label {
        background: #f6f6f6;
        z-index: 1;
      }
    }

    &-label {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 3;
    }

    &-img {
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 98px;
      height: 61px;
      border: solid 1px #f2f2f2;
      margin-right: 35px;
      background-color: #fff;
      position: relative;
      z-index: 2;
    }

    &-text {
      overflow: hidden;
      position: relative;
      z-index: 2;
    }

    &-title {
      color: #1a1a1a;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-descr {
      color: #828282;
      font-size: 13px;
    }

    &-price {
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__submit {
    text-align: center;
    margin-top: 50px;

    .btn {

    }
    @include phone {
      margin-top: 25px;
    }
  }
}