.b-popup-card {

  &__wrapper {
    width: 630px;
    margin: 0 40px;
    border-bottom: solid 1px #f0f0f0;
    padding-bottom: 20px;

    @include tablet-additional {
      margin: 0 0px;
      width: 550px;
    }

    @include phone {
      width: auto;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__notice {
    margin: 14px 40px 3px;
    text-align: center;
    color: #909090;
    font-size: 13px;
    padding-top: 20px;
    letter-spacing: 0.5px;
    line-height: 15px;
  }

  &__left {
    float: left;
    width: 298px;

    @include tablet-additional {
      width: 265px;
    }

    @include phone {
      width: 100%;
      float: none;
      padding-bottom: 20px;
    }
  }

  &__right {
    float: right;
    width: 278px;

    @include tablet-additional {
      width: 265px;
    }

    @include phone {
      width: 100%;
      float: none;
    }
  }

  &__title {
    font-size: 16px;
    color: #1a1a1a;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 41px;
  }
    a{
      color: #1a1a1a;
    }

  &__img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 2px #f2f2f2;
    height: 286px;
    margin-bottom: 23px;
    @include box-sizing(border-box);

    @include phone {
      height: 220px;
    }
  }

  &__continue {
    color: #c3966a !important;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;

    @include phone {
      text-align: center;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
#bx-admin-prefix{
  z-index: 9000!important;
}