.b-popup-gallery {
  width: 900px;

  @include tablet {
    width: 650px;
  }


  @include phone {
    width: 290px;
  }

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  a {
    color: #bd8651;
  }

  &__zoom{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    span{
      display: block;
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 15px;
      @include border-radius(50%);
      background: rgba(255, 255, 255, 0.91);
      &:after{
        display: block;
        content: "";

        @include retina-sprite($zoom-in-group);
        //margin-top: -$zoom-in-height/2;
        //margin-left: -$zoom-in-width/2;
      }
    }



  }

  &__img {
    text-align: center;
    box-sizing: border-box;
    width: 65%;
    float: left;
    height: 450px;
    line-height: 430px;
    border:solid 2px #f4f4f4;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;;
    position: relative;


    @include tablet {
      width: 50%;
      height: 290px;
      line-height: 270px;
    }

    &._force-full-width{
      width: 100%;
    }

    img{
      max-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    @include phone{
      width: 100%;
      float:none;
    }

    &-wrapper {
      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  &__pager {
    width: 68px;
    float: left;
    position: relative;
    margin-right: 32px;
    height: 450px;


    @include phone{
      display: none;
    }

    &._is-on-small{
      display: none;

      @include phone{
        display: block;
      }
    }

    @include tablet {
      height: 290px;
    }

    @include phone{
      height: 75px;
      overflow: hidden;
    }


    .swiper-container{
      height: 450px;

      @include tablet {
        height: 290px;
      }

    }

    &:after {
      display: block;
      clear: both;
      content: "";
    }

    @include phone {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 10px;

    }

    &-item {
      display: block;
      width: 68px;
      height: 68px;
      border: solid 3px #f2f2f2;
      margin-bottom: 8px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      @include box-sizing(border-box);

      @include phone {
        float: left;
        margin-right: 5px;
      }

      &._current {
        border-color: #d3a67a;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
    img {
      max-width: 100%;

      @include tablet{
        max-height: 450px;

      }

    }
  }

  &__info {
    display: block;
    border-top: solid 1px #f0f0f0;
    margin-top: 50px;
    padding-top: 23px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__collections {
    width: 280px;
    padding-right: 20px;
    float: left;
    line-height: normal;
    display: none;

    &._wide-only{
      display: block;
      float:right;
      width: 25%;

      @include tablet {
        width: 40%;
      }


      @include phone{
        display: none;
      }
    }

    @include phone{
      display: block;
    }

    @include phone {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }

    &-title {
      color: #000000;
      font-size: 15px;
      margin-bottom: 30px;
    }

    a {
      display: block;
      text-transform: uppercase;
      color: #bd8651;
      font-size: 13px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      span {
        color: #000;
      }
    }

  }

  &__description {
    overflow: hidden;
    color: #909090;
    font-size: 13px;
    line-height: normal;

    @include phone {
      width: 100%;
    }

    p {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      color: #bd8651;
      text-decoration: none;
    }
  }

}