.b-search-line {
  line-height: 0;
  white-space: nowrap;
  &:after {
    display: block;
    content: "";
    clear: both;
  }

  &__form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  &__input {
    height: 37px;
    line-height: 37px;
    width: 788px;
    background: #fff;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    border: solid 1px #d3a67a;
    padding-left: 12px;
    padding-right: 50px;
    outline: none;
    float:left;

    @include tablet{
      width:450px;
    }

    &:focus {
      border: solid 1px #9f7756;
    }
  }

  &__close{
    display: inline-block;
    cursor: pointer;
    @include retina-sprite($search-close-group);
    margin-left: 20px;
    vertical-align: middle;
  }

  &__submit {
    outline: none;
    display: block;
    position: absolute;
    background: none;
    top: 50%;
    right: 10px;
    @include retina-sprite($search-ico-group);
    margin-top: -$search-ico-height/2;
    text-indent: -99999px;
    vertical-align: middle;
  }
}