.b-subscribe {
  letter-spacing: 1px;

  @include phone {
    text-align: center;
  }

  &._on-main {
    margin-top: 12px;

    @include phone {
      margin-top: 15px;
    }
  }
  &._on-inner {
    margin-top: 15px;

    @include phone {
      margin-top: 26px;
    }
  }

  &__title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__form {

    &-errors {
      display: none;
      color: #bb3025;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      margin: 14px 0;

      ._is-errors & {
        display: block;
      }
    }

    &-success {
      display: none;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      margin: 14px 0;

      ._is-success & {
        display: block;
      }
    }

  }

}