.b-title {

  display: table;
  letter-spacing: 2px;
  width: 100%;
  margin: 52px 0;
  position: relative;
  z-index: 1;

  ._is-main-page &{
    background: #fff;

    &._no-bg{
      background: none;
    }
  }

  &._no-marg {
    margin: 0;
  }

  @include phone {
    margin: 31px 0;
  }

  &__row {
    display: table-cell;
    vertical-align: middle;

    &._first, &._last {
      @include phone {
        display: none;
      }
    }

    &._title{
      @include phone {
        display: block;
        width: 100%!important;
        text-align: center;
      }
    }

  }

  &__title {
    white-space: nowrap;
    font-size: 24px;
    color: #1a1a1a;
    text-transform: uppercase;
    padding: 0 50px;
    display: inline-block;

    @include phone {
      padding: 0;
      white-space: normal;
    }
  }
}