.b-top-auth{


  &__link{
    font-size:13px;
    font-weight: 400;
    display: block;
    position: relative;
    padding-left: 26px;
    line-height: $login-ico-height;
    float: left;

    span{
      color:#818181;
    }



    &:after{
      display: block;
      content: "";
      position: absolute;
      top:0;
      left:0;
      @include retina-sprite($login-ico-group);

      ._logged &{
        @include retina-sprite($login-ico-after-group);
      }
    }
  }
}

.logout_butt{
  background: transparent;
  float: left;
  margin: 0 0 0 -20px;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;

  @include phone{
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    margin: 0px;
  }
}
.popup-success-auth
 {
  position: absolute;
  background: #fff;
  overflow: hidden;
  padding: 25px;
}