.header__image-center
	background-image url(/assets/images/header_center.png)
	background-position center
	width 221px
	height 118px
	position absolute
	left 50%
	margin-left -110px
	top 148px
	display block