@font-face {
  font-family: 'Qiber';
  src: url("../../fonts/Qiber.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/Qiber.eot*/);
  src: url("../../fonts/Qiber.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/Qiber.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/Qiber.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/Qiber.woff*/) format('woff'),
  url("../../fonts/Qiber.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/Qiber.ttf*/) format('truetype'),
  url("../../fonts/Qiber.svg#Qiber"/*tpa=http://3topolya.ru/media/3topolya/fonts/Qiber.svg#Qiber*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
  font-family: 'Marvin';
  src: url('../../fonts/Marvin.eot');
  src: url('../../fonts/Marvin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Marvin.woff') format('woff'),
  url('../../fonts/Marvin.ttf') format('truetype'),
  url('../../fonts/Marvin.svg#Marvin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Marvin-Round';
  src: url('../../fonts/Marvin-Round.eot');
  src: url('../../fonts/Marvin-Round.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Marvin-Round.woff') format('woff'),
  url('../../fonts/Marvin-Round.ttf') format('truetype'),
  url('../../fonts/Marvin-Round.svg#Marvin-Round') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Marvin-Shadow';
  src: url('../../fonts/Marvin-Shadow.eot');
  src: url('../../fonts/Marvin-Shadow.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Marvin-Shadow.woff') format('woff'),
  url('../../fonts/Marvin-Shadow.ttf') format('truetype'),
  url('../../fonts/Marvin-Shadow.svg#Marvin-Shadow') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'VerveineCorp';
  src: url("../../fonts/VerveineCorp.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/VerveineCorp.eot*/);
  src: url("../../fonts/VerveineCorp.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/VerveineCorp.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/VerveineCorp.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/VerveineCorp.woff*/) format('woff'),
  url("../../fonts/VerveineCorp.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/VerveineCorp.ttf*/) format('truetype'),
  url("../../fonts/VerveineCorp.svg#VerveineCorp"/*tpa=http://3topolya.ru/media/3topolya/fonts/VerveineCorp.svg#VerveineCorp*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../../fonts/SourceSansPro-Black.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Black.eot*/);
  src: url("../../fonts/SourceSansPro-Black.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Black.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/SourceSansPro-Black.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Black.woff*/) format('woff'),
  url("../../fonts/SourceSansPro-Black.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Black.ttf*/) format('truetype'),
  url("../../fonts/SourceSansPro-Black.svg#SourceSansPro-Black"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Black.svg#SourceSansPro-Black*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../../fonts/SourceSansPro-Bold.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Bold.eot*/);
  src: url("../../fonts/SourceSansPro-Bold.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Bold.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/SourceSansPro-Bold.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Bold.woff*/) format('woff'),
  url("../../fonts/SourceSansPro-Bold.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Bold.ttf*/) format('truetype'),
  url("../../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../../fonts/SourceSansPro-Semibold.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Semibold.eot*/);
  src: url("../../fonts/SourceSansPro-Semibold.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Semibold.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/SourceSansPro-Semibold.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Semibold.woff*/) format('woff'),
  url("../../fonts/SourceSansPro-Semibold.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Semibold.ttf*/) format('truetype'),
  url("../../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../../fonts/SourceSansPro-Light.eot');
  src: url('../../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SourceSansPro-Light.woff') format('woff'),
  url('../../fonts/SourceSansPro-Light.ttf') format('truetype'),
  url('../../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url('../../fonts/SourceSansPro-ExtraLight.eot');
  src: url('../../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
  url('../../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
  url('../../fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../../fonts/SourceSansPro-Regular.eot"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Regular.eot*/);
  src: url("../../fonts/SourceSansPro-Regular.eot-#iefix"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Regular.eot?#iefix*/) format('embedded-opentype'),
  url("../../fonts/SourceSansPro-Regular.woff"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Regular.woff*/) format('woff'),
  url("../../fonts/SourceSansPro-Regular.ttf"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Regular.ttf*/) format('truetype'),
  url("../../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular"/*tpa=http://3topolya.ru/media/3topolya/fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular*/) format('svg');
  font-weight: normal;
  font-style: normal;
}
