
/* Zentools Resets
-----------------------------------------------------------------------------*/
.zentools {

	.zenmore a{
		padding: 6px 8px;
		.border-radius(4px);
		border-bottom: 2px solid @btnColor;
		
		&:hover {
			background: lighten(@btnColor, 4%)
		}
	}
	
	&.grid ul li {
		border: 0 !important;
	}
	
	&.list ul li {padding: 8px 0}
}