select, .jq-selectbox{
    width:calc(100% - 150px) !important;
}

.jq-selectbox ul{
    margin-top:0px !important;
    margin-bottom:0px !important;
}

.jq-selectbox li{
    width:100% !important;
    padding-left:15px !important;
}

.jq-selectbox ul li:before{
    display:none !important;
}

.b-form__row-label{
    width:120px !important;
}

input[type="file"]{
    margin-top:10px;
}

.jq-checkbox{
    margin-right:10px;
}