bg= {
    main: #fff
    menu_active: {
        lt: #e6e5e5
        dk: #d5d5d5
    }
    section: {
        def: #f0f8ff
        gray: #f1f3f5
        yellow: #fcfaf4
    }
    header: #667f95//#6e87a3
    footer: {
        lt: #e6e7e9
        dk: #d7d7d7
    }
    btn: {
        lt: #348bab
        dk: #0b739a
    }
    btn_orange: {
        lt: #d36b33
        dk: #ca582e
    }
    btn_lt: {
        lt: #42adcd
        dk: #0e8db9
    }
    logo: #f3f6f8
}
text= {
    main: #000
    lt: #fff
    clr: #0b739a
    gray: #8d8d8d
}
bd= {
    b_bd: #17518b
    search: #0b739a
    section: #9dc7d7
    section__img: #348bab
    reviews: #99c5d5
    news: #eee
    btn: {
        simply: #b9b9b9
    }
}
